{% assign settings = site.data.settings %}

<!-- FOOTER MIDDLE -->
<section class="global-footer-body section is-darker has-darker-bleed">
	<div class="container">
		<div class="row">

			<div class="col-md-4">
				<h3 class="h5">Make a connection</h3>
				<p>You've stumbled on the portfolio of freelance web designer, Mitch.</p>
				<p class="py-2 pr-5 pr-md-3 pr-lg-5"><img width="100%" src="/assets/img/layout/mitch-at.svg"></p>

				{% include snippets/social_media.html %}
			</div>

			<!-- FOOTER LINKS -->
			<div class="col-md-8">
				<ul class="block-grid-xs-2 block-grid-md-4">
					<li>
						<h3 class="h5">Quick Links</h3>
						<ul class="list-unstyled">
							<li><a href="/about/">About</a></li>
							<li><a href="/services/">Services</a></li>
							<li><a href="/projects/">Projects</a></li>
							<li><a href="/tutorials/">Tutorials</a></li>
							<li><a href="/hire/">Hire</a></li>
						</ul>
					</li>
					<li>
						<h3 class="h5">Services</h3>
						<ul class="list-unstyled">
							<li><a href="/services/digital-agency/">Digital Agencies</a></li>
							<li><a href="/services/small-business/">Small Business</a></li>
						</ul>
						<br>

						<h3 class="h5">Additional</h3>
						<ul class="list-unstyled">
							<li><a href="/hire-me/my-resume/">My Resume</a></li>
							<li><a href="/hire-me/simulated-interview/">Simulated Interview</a></li>
						</ul>
					</li>
					<li>
						<h3 class="h5">Something</h3>
						<ul class="list-unstyled">
							<li><a href="">Something</a></li>
							<li><a href="">Something</a></li>
							<li><a href="">Something</a></li>
							<li><a href="">Something</a></li>
							<li><a href="">Something</a></li>
						</ul>
					</li>
					<li>
						<h3 class="h5">Other Sites</h3>
						<ul class="list-unstyled">
							<li><a href="">Blarg! News</a></li>
							<li><a href="https://www.danandmitch.com">Dan and Mitch</a></li>
							<li><a href="">Kleptobreaker</a></li>
							<li><a href="https://www.soberfish.com">Soberfish</a></li>
							<li><a href="https://www.mitchinghour.com">The Mitching Hour</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<!-- FOOTER BOTTOM -->
<section class="global-footer-bottom section is-darker">
    <div class="container">

		<!-- DIVIDER -->
    	<div class="divider"></div>

        <!-- COPYRIGHT -->
		<small>&copy; <b>{{ site.time | date: '%Y' }}</b> - liquidvisual</small>
        <a class="author-logo" target="_blank" href="{{ settings.author.url }}"></a>

        <!-- BACK TO TOP -->
        <a class="back-to-top" href="#"><i class="fa fa-angle-up"></i></a>
    </div>
</section>