{% assign settings = site.data.settings %}
{% assign sitemap = site.data.sitemap %}
<!-- { % assign featured_work = site.data.sitemap[3].children | where: "featured", true | sort: "title" %} -->

<!-- FOOTER MIDDLE -->
<section class="global-footer-body section is-darker has-darker-bleed">
	<div class="container">
		<div class="row">
			<div class="col-md-4">

				<!-- GREETINGS -->
				<h3 class="h5">Greetings Human</h3>
				<p>You've stumbled on the portfolio of freelance web developer, Mitch Warren.</p>
				<p class="py-2 pr-5 pr-md-3 pr-lg-5"><img width="100%" src="/assets/img/layout/mitch-at.svg" alt="Email me"></p>

				{% include snippets/social_media.html %}

			</div>
			<div class="col-md-8 position-relative">

				<!-- SPRITE LONG DRIP (TEMPORARY) -->
				<div class="sprite-long-drip"></div>

				{% comment %}
				<!-- FOOTER LINKS -->
				<ul class="block-grid-xs-2 block-grid-md-3 block-grid-lg-4" hiddenX>
					<li>
						<!-- QUICK LINKS -->
						<h3 class="h5">Quick Links</h3>
						<ul class="list-unstyled">
							{% for item in sitemap | offset: 1 %}
								<li><a href="{{ item.url }}">{{ item.title }}</a></li>
							{% endfor %}
						</ul>
					</li>
					<li>
						<!-- SERVICES -->
						<h3 class="h5">Services</h3>
						<ul class="list-unstyled mb-4">
							<li><a href="/services/digital-agency/">Digital Agencies</a></li>
							<li><a href="/services/small-business/">Small Business</a></li>
						</ul>

						<!-- ADDITIONAL -->
						<h3 class="h5">Additional</h3>
						<ul class="list-unstyled">
							<li><a href="/hire-me/my-resume/">My Resume</a></li>
							<li><a href="/hire-me/simulated-interview/">Simulated Interview</a></li>
						</ul>
					</li>
					<li class="hidden-xs-down">

						<!-- FEATURED WORKS -->
						<h3 class="h5">Featured Works</h3>
						<ul class="list-unstyled">
							{% for item in featured_work | limit: 6 %}
								<li><a href="">{{ item.title }}</a></li>
							{% endfor %}
						</ul>
					</li>
					<li class="hidden-xs-down">

						<!-- OTHER SITES -->
						<h3 class="h5">Other Sites</h3>
						<ul class="list-unstyled">
							<!-- <li><a href="">Blarg! News</a></li> -->
							<li><a href="https://www.danandmitch.com">Dan and Mitch</a></li>
							<li><a href="https://www.kleptobreaker.com">Kleptobreaker</a></li>
							<!-- <li><a href="https://www.soberfish.com">Soberfish</a></li> -->
							<li><a href="https://www.mitchinghour.com">The Mitching Hour</a></li>
							<li><a href="http://theweddingwarren.com.au">The Wedding Warren</a></li>
						</ul>
					</li>
				</ul>
				{% endcomment %}

			</div>
		</div>
	</div>
</section>

<!-- FOOTER BOTTOM -->
<section class="global-footer-bottom section is-darker has-darker-bleed">
    <div class="container">
    	<div class="position-relative">

			<!-- DIVIDER -->
	    	<div class="divider"></div>

	        <!-- COPYRIGHT -->
			<small>
				&copy;
				<b><date class="mr-2"><script>document.write(new Date().getFullYear())</script></date></b>
				<noscript><b>{{ site.time | date: '%Y' }}</b></noscript> Under Construction

				<!-- <img width="18" height="18" src="{{ settings.author.logo }}" alt="Powered by {{ settings.author.title }}">&nbsp; -->
	        	<!-- <a class="author-logo" target="_blank" href="{{ settings.author.url }}">liquidvisual.com</a> -->
			</small>

	        <!-- BACK TO TOP -->
	        <a class="back-to-top" href="#"><i class="fa fa-angle-up"></i></a>
    	</div>
    </div>
</section>