{% assign settings = site.data.settings %}

<!-- IF SUCCESS -->
<div class="alert alert-success alert-dismissible fade show" role="alert" hidden>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Success!</strong> Thanks for that. Your email has been added to the mailing list.
</div>

<!-- IF FAILURE -->
<div class="alert alert-danger alert-dismissible fade show" role="alert" hidden>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Oops!</strong> Something went wrong. Please check your details and try again.
</div>

<h2>Get a Free Quote</h2>

<p>Everyone loves to fill out a form! Flex those form muscles and show me what you've got.</p>

<div class="spacer mb-4"></div>

<!-- AVAILABILITY NOTICE -->
<div class="availability-notice">
    <div class="availability-notice-orb"></div>
    <div>
        <h4 class="mb-0">Availability Notice</h4>
        <p class="mb-0">I'm ready to take on your crap!</p>
    </div>
</div>

<!-- FORM CONTACT -->
<form id="contact" data-toggle="validator" novalidate method="post" action="http://liquidvisual.net/dannybeaton.com.au/contact-form/">
    <fieldset>

        <!-- NAME* -->
        <div class="form-group">
            <label for="name">Full Name<small>*</small></label>
            <input class="form-control" id="name" name="Name" type="text" placeholder="" required>
            <small class="error shake animated"><i class="fa fa-warning"></i>&nbsp; Your name is required.</small>
        </div>

        <!-- EMAIL* -->
        <div class="form-group">
            <label for="email">Email<small>*</small></label>
            <input class="form-control" id="email" name="Email" type="email" placeholder="" required>
            <small class="error shake animated"><i class="fa fa-warning"></i>&nbsp; A valid email is required.</small>
        </div>

        <!-- COMPANY / PRODUCT -->
        <div class="form-group">
            <label for="company-product">Company / Product</label>
            <input class="form-control" id="company-product" name="Company / Product" type="text" placeholder="Eg. Vandelay Industries, Latex">
        </div>

    </fieldset>
    <fieldset>

        <!-- SERVICES -->
        <div class="form-group">
            <label class="mb-3">What services do you think you'll need?</label>

            <div class="d-flex">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <label class="custom-control-description">PSD to HTML5 Conversion</label>
                </label>
            </div>

            <div class="d-flex">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                    <span class="custom-control-description">Web Design</span>
                </label>
            </div>

            <div class="d-flex">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Front-end Development</span>
                </label>
            </div>

            <div class="d-flex">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Custom Email Signatures</span>
                </label>
            </div>

            <div class="d-flex">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Consulting</span>
                </label>
            </div>
        </div>

        <!-- DEADLINE -->
        <div class="form-group">
            <label class="mb-3">When do you need this by?</label>

            <div class="d-flex">
                <label class="custom-control custom-radio">
                    <input type="radio" name="deadline" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Urgently</span>
                </label>
            </div>

            <div class="d-flex">
                <label class="custom-control custom-radio">
                    <input type="radio" name="deadline" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">2-3 Weeks</span>
                </label>
            </div>

            <div class="d-flex">
                <label class="custom-control custom-radio">
                    <input type="radio" name="deadline" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">In the next month</span>
                </label>
            </div>

            <div class="d-flex">
                <label class="custom-control custom-radio">
                    <input type="radio" name="deadline" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Whenever</span>
                </label>
            </div>
        </div>

        <!-- BUDGET -->
        <div class="form-group">
            <label class="mb-3">What's your budget for this project?</label>

            <div class="d-flex">
                <label class="custom-control custom-radio">
                    <input type="radio" name="budget" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Less than $500</span>
                </label>
            </div>

            <div class="d-flex">
                <label class="custom-control custom-radio">
                    <input type="radio" name="budget" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">$500 - $1K</span>
                </label>
            </div>

            <div class="d-flex">
                <label class="custom-control custom-radio">
                    <input type="radio" name="budget" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">$1K - $3K</span>
                </label>
            </div>

            <div class="d-flex">
                <label class="custom-control custom-radio">
                    <input type="radio" name="budget" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">$3K - 5K</span>
                </label>
            </div>

            <div class="d-flex">
                <label class="custom-control custom-radio">
                    <input type="radio" name="budget" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">$5 - $10K</span>
                </label>
            </div>

            <div class="d-flex">
                <label class="custom-control custom-radio">
                    <input type="radio" name="budget" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">More than $10K</span>
                </label>
            </div>
        </div>

    </fieldset>

        <!-- MESSAGE -->
        <div class="form-group">
            <label for="message">Tell me about your project<small>*</small></label>
            <p>Feel free to include notes, links, goals or anything else that will help me to understand your project's needs.</p>
            <textarea class="form-control" id="message" name="Message" rows="4" placeholder="Message" required></textarea>
            <small class="error shake animated"><i class="fa fa-warning"></i>&nbsp; A message is required.</small>
        </div>

        <!-- REFERRAL -->
        <div class="form-group">
            <label for="referral">How did you find the site?</label>
            <select class="form-control custom-select" name="Referral" id="referral">
                <option disabled selected>Choose one</option>
                <option value="Google">Google</option>
                <option value="Twitter">Twitter</option>
                <option value="Facebook">Facebook</option>
                <option value="Friend">Friend</option>
                <option value="Other">Other</option>
            </select>
        </div>



        <!-- SUBMIT -->
        <button type="submit" class="btn btn-primary mb-3 float-right">Send message <i class="fa fa-angle-right"></i></button>


</form>