{% assign settings = site.data.settings %}
{% assign logo_default = "/assets/img/content/logo-type-default.svg" %}
{% assign logo_dark = "/assets/img/content/logo-type-dark.svg" %}

<!-- LOGO -->
<a class="logo" href="/" title="{{ settings.seo_title }}" itemprop="url">
	<!-- controllable -->
    <img class="" src="{{ page.logo | default: logo_default }}" alt="{{ settings.company_title }}" itemprop="logo">
    <!-- Used on scroll (tablet +) -->
    <img class="hidden-xl-down img-md-up-override" src="{{ logo_default }}" alt="{{ settings.company_title }}" itemprop="logo" aria-hidden>
    <!-- Shows dark logo for white bg only (mobile) -->
    <img class="hidden-xl-down img-sm-down-override" src="{{ logo_dark }}" alt="{{ settings.company_title }}" itemprop="logo" aria-hidden>
</a>

<!-- HAMBURGER -->
<div class="global-mobile-menu hidden-lg-up">
    <div class="lv-hamburger" data-menu-toggle>
        <span class="lv-hamburger-top"></span>
        <span class="lv-hamburger-middle"></span>
        <span class="lv-hamburger-bottom"></span>
    </div>
</div>