{% assign settings = site.data.settings %}
{% assign logo_default = "/assets/img/content/branding/logo-type--default.svg" %}
{% assign logo_dark = "/assets/img/content/branding/logo-type--dark.svg" %}

<!-- LOGO -->
<a class="logo" href="/" title="{{ settings.company }}" itemprop="url">

    <!-- Controllable -->
    <img
    	class="is-dynamic"
    	src="{{ page.logo | default: logo_default }}"
    	alt="{{ settings.company }}"
    	itemprop="logo"
    >

    <!-- Used on scroll (tablet +) -->
    <img
    	class="is-default"
    	src="{{ logo_default }}"
    	alt="{{ settings.company }}"
    	itemprop="logo"
    	aria-hidden
    >

    <!-- Shows dark logo for white bg only (mobile) -->
    <img
    	class="is-dark"
    	src="{{ logo_dark }}"
    	alt="{{ settings.company }}"
    	itemprop="logo"
    	aria-hidden
    >
</a>

<!-- HAMBURGER -->
<div class="global-mobile-menu d-lg-none">
    <div class="lv-hamburger" data-menu-toggle>
        <span class="lv-hamburger-top"></span>
        <span class="lv-hamburger-middle"></span>
        <span class="lv-hamburger-bottom"></span>
    </div>
</div>