{% comment %}
<!--
    LIQUIDVISUAL-HERO

    - updated: 05.01.18
    - notes:
        * .has-height-preset-1 - used for internal pages to set a height
        * page.hero_text is an image path (not actual text)
-->
{% endcomment %}

{% assign hero = page.heroXXX | default: "/assets/img/content/hero/hero-bg.png" %}
{% assign hero_classes = page.hero_classes %}
{% assign hero_text = page.hero_text %}

<!-- HERO WRAPPER -->
<div class="lv-hero-wrapper {{ hero_classes }}" style="background-image: url('{{ hero }}')">
    <div class="container-wrapper">
        <div class="container">

            <!-- HERO -->
            <div class="lv-hero has-height-preset-1">
                <div class="lv-hero-item" style="background-image: url('{{ hero }}')">

                    <!-- HERO TEXT IMAGE -->
                    {% if hero_text %}
                        <div class="lv-hero-item-caption">
                            <h1 class="mb-0">
                                <img width="100%" src="{{ hero_text }}" alt="{{ page.title }}">
                            </h1>
                        </div>
                    {% else %}
                        <div class="lv-hero-item-caption">
                            <div class="container mb-4">
                                <div class="row">
                                    <div class="col-lg-10">

                                        <!-- CATEGORY LABEL -->
                                        {% if page.categories %}
                                            {% assign categories = page.categories | sort %}
                                            {% for category in categories %}
                                                <a class="btn-category mr-2" href="/tutorials/categories/#{{ category | slugify }}">{{ category }}</a>
                                            {% endfor %}
                                        {% endif %}

                                        <!-- DYNAMIC TEXT -->
                                        <h1 class="display-1">{{ page.title }}</h1>
                                        <p>by <a href="/hire/">{{ "Mitch Warren" }}</a>&nbsp;<span class="d-inline-block">| on {{ page.date | date: "%d %B %Y" }}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if page.breadcrumbs and page.theme == 'theme-light' %}
                        <!-- BREADCRUMB ILLUSION -->
                        <div class="hero-bottom-breadcrumb-illusion"></div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div> <!-- /.lv-hero-wrapper -->