{% comment %}
    LIQUIDVISUAL-HERO

    - updated: 07.07.18, 17.01.18
    - notes:
        * .has-auto-height - caption will detemine height
        * .has-fixed-height - used for internal pages to set a height
{% endcomment %}

{% assign hero = page.hero | default: '/assets/img/content/hero/hero-bg.png' %}
{% assign hero_classes = page.hero_classes %}

<!-- HERO WRAPPER -->
<div class="lv-hero-wrapper spec-section is-dark has-image-bg {{ hero_classes }}" style="background-image: url('{{ hero }}')">
    <div class="container" style="position: static;"> <!-- STATIC? -->

        <!-- HERO -->
        <div class="lv-hero">
            <div class="lv-hero-item">

                <!-- ZINE -->
                <div class="zine">

                    <!-- ZINE TITLE -->
                    <div class="zine-title">
                        <img width="100%" src="/assets/img/layout/headings/heading-freelancer--black.svg" alt="Freelancer">
                    </div>

                    <!-- ZINE BODY -->
                    <div class="zine-body" hiddenX>
                        <div class="row">
                            <div class="col-md-5">

                                <!-- TAGLINE 01 -->
                                <div class="zine-feature-tagline">
                                    <h3 class="brand-black-transparent">Expect Exceptional Communication</h3>
                                    <p>It's time to hire a freelancer who isn't afraid<br> to get their hands dirty.</p>
                                </div>

                                <!-- FEATURE BUBBLE -->
                                <div class="zine-feature-bubble">
                                    <h2 class="zine-feature-bubble-header">
                                        <span class="text">development +</span> Design
                                    </h2>
                                    <p class="zine-feature-bubble-intro">Hello to all Web Design Agencies in Sydney Australia...</p>
                                    <p class="zine-feature-bubble-body">Too many companies are outsourcing overseas. The quality of the work suffers and the website is poorly received. You need a professional who understands DESIGN, not just development.</p>
                                    <div class="zine-feature-bubble-outro">
                                        <span class="text">Get it right the first time and you'll only pay once</span>
                                    </div>
                                </div> <!-- /.zine-feature-bubble -->

                            </div>
                            <div class="col-md-7 text-right">

                                <!-- TAGLINE 02 -->
                                <div class="zine-feature-tagline mb-5">
                                    <h3>You Deserve a Better Outsourcing Experience</h3>
                                    <p class="text-highlight">It's time to hire a freelancer that isn't afraid<br> to get their hands dirty.</p>
                                </div>

                                <!-- PRIMARY CTA HEADING -->
                                <h1 class="display-2 zine-feature-border mb-5">I'm <i class="sans-fancy">Mitch,</i> I Build Websites for Agencies</h1>

                                <!-- TAGLINE 03 -->
                                <div class="zine-feature-tagline">
                                    <h3>Using Bootstrap &amp; Jekyll for superior builds</h3>
                                    <p class="text-highlight-white">Get cleaner more performant code that integrates smoothly into any back-end or CMS.</p>
                                </div>

                            </div> <!-- /.col -->
                        </div> <!-- /.row -->

                        <!-- SPACER -->
                        <div class="spacer my-4"></div>

                    </div> <!-- .zine-body -->

                    <!-- ZINE FOOTER -->
                    <div class="zine-footer">

                        <!-- BARCODE -->
                        <img class="zine-footer-barcode" src="/assets/img/layout/barcode@2x.png" alt="Barcode">

                        <!-- SNEAK PEEK -->
                        <!-- <div class="zine-footer-corner"><span class="text">More inside! <i class="fa fa-star"></i></span></div> -->

                        <!-- ITEMS -->
                        <ul class="zine-footer-items">
                            <li>
                                <h4>Startups</h4>
                                <p>Sick of tired templated designs?</p>
                            </li>
                            <li>
                                <h4>Project Managers</h4>
                                <p>Searching for a reliable front-end dev?</p>
                            </li>
                            <li>
                                <h4>Agencies</h4>
                                <p>Looking for quality code?</p>
                            </li>
                        </ul>

                    </div> <!-- /.zine-footer -->

                </div> <!-- /.zine -->
            </div> <!-- /.lv-hero-item -->
        </div> <!-- /.lv-hero -->
    </div> <!-- /.container -->

</div> <!-- /.lv-hero-wrapper -->