<ul class="social-media mb-4">
	<li><a class="twitter" title="Twitter" href="{{ settings.twitter }}"><i class="fa fa-twitter"></i></a></li>
	<li><a class="youtube" title="YouTube" href="{{ settings.youtube }}"><i class="fa fa-youtube"></i></a></li>
    <li><a class="github" title="Github" href="{{ settings.github }}"><i class="fa fa-github"></i></a></li>
    <li><a class="instagram" title="Instagram" href="{{ settings.instagram }}"><i class="fa fa-instagram"></i></a></li>
    <li><a class="dribbble" title="Dribbble" href="{{ settings.dribbble }}"><i class="fa fa-dribbble"></i></a></li>
</ul>