{% comment %}
<!--
    BREADCRUMB

    updated: 09.01.18
    output:

        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
-->
{% endcomment %}

{% assign crumbs = page.url | split: '/' %}

{% capture breadcrumb_classes %}
    {% unless page.theme == 'theme-light' %}
        is-dark
    {% endunless %}
{% endcapture %}

<!-- BREADCRUMBS -->
<section class="breadcrumb-wrapper section is-light has-light-bleed py-0 {{ breadcrumb_classes }}">
    <div class="container">
        <nav class="breadcrumb">

            {% for crumb in crumbs offset: 1 %}
                {% if forloop.last %}
                    <!-- <span class="breadcrumb-item">{{ crumb | replace:'-',' ' }}</span> -->
                {% else %}
                    <a class="breadcrumb-item" href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}"><i class="fa fa-arrow-circle-left"></i>&nbsp; <span class="hidden-sm-down">Back to</span> {{ crumb | replace:'-',' ' }}</a>
                {% endif %}
            {% endfor %}

            {% if page.theme == 'theme-light' %}
                <!-- TOOLS PANEL -->
                <div class="d-flex align-items-center ml-auto">

                    <!-- COMMENT COUNTER -->
                    <!-- <div class="breadcrumb-item comment-counter mr-1">
                        <i class="fa fa-comments"></i>&nbsp; <a href="{{page.url}}#disqus_thread">0 <span class="hidden-sm-down">comments</span></a>
                    </div> -->

                    {% include snippets/social_media.html preset=2 %}
                </div>
            {% endif %}

        </nav>

        <!-- BG OVERFLOW -->
        <div class="breadcrumb-bg-overflow">
            <div class="breadcrumb-bg"></div>
        </div>

    </div>
</section>