{% comment %}
<!--
    BREADCRUMB

    updated: 16.01.18
    liquidvisual.com
-->
{% endcomment %}

{% assign crumbs = page.url | split: '/' %}

{% capture breadcrumb_classes %}
    {% if page.theme == 'theme-light' %}
        is-light has-light-bleed
        {% unless page.exclude_share_links %}
            is-white
        {% endunless %}
    {% endif %}
{% endcapture %}

<!-- BREADCRUMBS -->
<section class="breadcrumb-wrapper spec-section {{ breadcrumb_classes }}">
    <div class="container py-0">
        <nav class="breadcrumb">

            <!-- CRUMBS -->
            {% for crumb in crumbs offset: 1 %}
                {% unless forloop.last %}
                    <a class="breadcrumb-item" href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}"><i class="fa fa-arrow-circle-left"></i>&nbsp; <span class="hidden-sm-down">Back to</span> {{ crumb | replace:'-',' ' }}</a>
                {% endunless %}
            {% endfor %}

            <!-- SHARE LINKS -->
            {% if page.theme == 'theme-light' and page.exclude_share_links != true %}
                <div class="d-flex align-items-center ml-auto">
                    {% include snippets/social_media.html preset=2 %}
                </div>
            {% endif %}

        </nav>

        <!-- BG OVERFLOW -->
        {% if page.theme == 'theme-light' and page.exclude_share_links != true %}
            <div class="breadcrumb-bg-overflow">
                <div class="breadcrumb-bg"></div>
            </div>
        {% endif %}

    </div>
</section>