{% assign settings = site.data.settings %}
{% assign social_media = settings.social_media %}
{% assign preset = include.preset | default: 0 %}

{% if preset == 1 %}

	<!-- SOCIAL MEDIA (HIRE) -->
	<ul class="social-media block-grid-xs-2 block-grid-lg-2 mb-3">
		{% for item in social_media %}
			{% unless item.exclude %}
				<li>
					<a title="{{ item.title }}" href="{{ item.url }}" target="_blank" class="{{ item.title | slugify }}">
						<div class="icon"><i class="{{ item.icon }}"></i></div>
						<span class="text">
							{{ item.title }}
							<span class="text-anchor">{{ item.alias }}</span>
						</span>
					</a>
				</li>
			{% endunless %}
		{% endfor %}
	</ul>
{% elsif preset == 2 %}

	<!-- SHARE LINKS -->
	<!-- https://developers.google.com/+/web/share/#sharelink -->
	<!-- https://stackoverflow.com/questions/16243972/showing-disqus-comment-count-in-a-div-or-span-not-a-href -->

	<ul class="social-media">
		<li>
		    <a title="Comments" class="disqus" href="#disqus_thread">
		        <span class="icon">
		            <i class="fa fa-comments"></i>&nbsp;
		            <span class="disqus-comment-count" data-disqus-url="{{page.url}}#disqus_thread">0</span>
		        </span>
		    </a>
		</li>
	    <li>
	    	<a target="_blank" title="Share Facebook" class="facebook" href="https://www.facebook.com/sharer/sharer.php?u="
	    		onclick="window.open(this.href + document.URL, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600'); return false;">
	    		<div class="icon"><i class="fa fa-facebook"></i></div>
	    	</a>
	    </li>
	    <li>
	    	<a target="_blank" title="Tweet" class="twitter" href="https://twitter.com/home?status="
	    		onclick="window.open(this.href + document.URL, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600'); return false;">
	    		<div class="icon"><i class="fa fa-twitter"></i></div>
	    	</a>
	    </li>
	    <li>
	    	<a target="_blank" title="Share Google+" class="google-plus" href="https://plus.google.com/share?url="
	    		onclick="window.open(this.href + document.URL, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600'); return false;">
	    		<div class="icon"><i class="fa fa-google-plus"></i></div>
	    	</a>
	    </li>
	</ul>
{% elsif preset == 3 %}

	<!-- SOCIAL MEDIA -->
	<div class="social-media">
		{% for item in social_media %}
			{% unless item.exclude %}
				<a title="{{ item.title }}" href="{{ item.url }}" target="_blank" class="d-inline-block {{ item.title | slugify }}">
					<div class="icon"><i class="{{ item.icon }}"></i></div>
				</a>
			{% endunless %}
		{% endfor %}
	</div>

{% else %}

	<!-- SOCIAL MEDIA (FOOTER) -->
	<ul class="social-media block-grid-4 block-grid-md-6 pr-xl-5 mb-4">
		{% for item in social_media %}
			{% unless item.exclude %}
				<li>
					<a title="{{ item.title }}" href="{{ item.url }}" target="_blank" class="{{ item.title | slugify }}">
						<div class="icon"><i class="{{ item.icon }}"></i></div>
					</a>
				</li>
			{% endunless %}
		{% endfor %}
	</ul>
{% endif %}