/*
    GLOBAL.CSS

    - updated: 11.12.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// GRID CONTAINER (GENERAL)
//-----------------------------------------------------------------

.container {
	@include media-breakpoint-up(md) {
	    padding: 0 $container-gutter; // [LOCKED]
	}

	@include media-breakpoint-up(xl) {
	    padding: 0 $container-gutter * 1.5; // [LOCKED]
	}
}

//-----------------------------------------------------------------
// CONTAINER WRAPPER
//-----------------------------------------------------------------

.container-wrapper {
	position: relative;
	overflow: hidden; // this prevents bottom shadow from extending into H1 - is safe?
	z-index: 1;

	//=========================================
	// CONTAINER
	//=========================================

	> .container {
		@include media-breakpoint-down(lg) {
		    padding: 0;
		    width: auto;
		}

		//=========================================
		// MAIN CONTENT
		//=========================================

		.main-content {
			position: relative;

			@include media-breakpoint-up(xl) {
			    box-shadow: 0px -30px  50px 10px rgba(black, 0.2);
			}
		}
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================