<!-- ANP | BOBBLEHEDZ | SLAYDAY -->
<section class="spec-section is-dark" style="overflow: hidden;">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-9">

				<!-- ANOTHER NERDY PODCAST -->
				<div class="btn-tile-wrapper is-left-aligned">
					<div class="row no-gutters align-items-center">
						<div class="col-6 pl-lg-5">

							<!-- PARALLAX HOVER -->
							<div class="parallax-hover has-parallax" data-parallax-md-up>
								<div class="layer" data-depth="0.6">
									<a class="btn-tile" href="#/coming-soon/">
										<img width="100%" src="/assets/img/layout/image-sizer-330x330.svg" alt="Another Nerdy Podcast">
										<span class="has-parallax" data-parallax>
											<span class="layer" data-depth="0.3">
												<video class="btn-tile-bg" autoplay loop muted playsinline>
													<source src="/assets/img/content/works/another-nerdy-podcast/hello.mp4" type="video/mp4">
												</video>
											</span>
										</span>
									</a>
								</div>
							</div>

						</div>
						<div class="col-6">
							<div class="text">
								<p>Animated titles for another gaming podcast on YouTube &amp; Twitch.</p>
							</div>
						</div>
					</div>
				</div>

				<!-- BOBBLEHEDZ -->
				<div class="btn-tile-wrapper is-right-aligned">
					<div class="row no-gutters align-items-center">
						<div class="col-6 text-right">
							<div class="text">
								<p>A brief jaunt through novelty, nostalgia and digital trinkets. <a href="#/coming-soon/">Read&nbsp;more</a></p>
							</div>
						</div>
						<div class="col-6 pr-lg-5">

							<!-- PARALLAX HOVER -->
							<div class="parallax-hover" data-parallax-md-up>
								<div class="layer" data-depth="0.6">
									<a class="btn-tile" href="#/coming-soon/">
										<img width="100%" src="/assets/img/layout/image-sizer-330x330.svg" alt="BobbleHedz">
										<span class="has-parallax" data-parallax>
											<span class="layer" data-depth="0.6">
												<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/bobblehedz/bobblehedz-tile@2x.jpg)">
													<span class="btn-tile-bg-item item-glasses" style="background-image: url(/assets/img/content/works/bobblehedz/bobblehedz-tile-glasses@2x.png)"></span>
													<span class="btn-tile-bg-item item-eyes" style="background-image: url(/assets/img/content/works/bobblehedz/bobblehedz-tile-eyes@2x.png)"></span>
													<span class="btn-tile-bg-item item-eyes-blink" style="background-image: url(/assets/img/content/works/bobblehedz/bobblehedz-tile-eyes-blink@2x.gif)"></span>
												</span>
											</span>
										</span>
									</a>
								</div>
							</div>

						</div>
					</div>
				</div>

				{% comment %}
				<!-- PROJECT NARAYAN -->
				<div class="btn-tile-wrapper is-left-aligned" hidden>
					<div class="row no-gutters align-items-center">
						<div class="col-6 pl-lg-5">

							<!-- PARALLAX HOVER -->
							<div class="parallax-hover" data-parallax-md-up>
								<div class="layer" data-depth="0.6">
									<a class="btn-tile" href="#">
										<img width="100%" src="/assets/img/layout/image-sizer-330x330.svg" alt="Project Narayan">
										<span class="has-parallax" data-parallax>
											<span class="layer" data-depth="0.3">
												<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/project-narayan/narayan@2x.jpg)"></span>
											</span>
										</span>
									</a>
								</div>
							</div>

						</div>
						<div class="col-6">
							<div class="text">
								<p>A cyberpunk themed hacking simulator game for the browser.</p>
							</div>
						</div>
					</div>
				</div>
				{% endcomment %}

				<!-- SLAYDAY -->
				<div class="btn-tile-wrapper is-left-aligned" hidden>
					<div class="row no-gutters align-items-center">
						<div class="col-6 pl-lg-5">

							<!-- PARALLAX HOVER -->
							<div class="parallax-hover" data-parallax-md-up>
								<div class="layer" data-depth="0.6">
									<a class="btn-tile" href="#">
										<img width="100%" src="/assets/img/layout/image-sizer-330x330.svg" alt="Project Narayan">
										<span class="has-parallax" data-parallax>
											<span class="layer" data-depth="0.3">
												<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/slayday/slayday-delete-me.png)"></span>
											</span>
										</span>
									</a>
								</div>
							</div>

						</div>
						<div class="col-6">
							<div class="text">
								<p>A sneak shot of concept art for an indie point-and-click adventure game.</p>
							</div>
						</div>
					</div>
				</div>




			</div>
		</div>
	</div>
</section>