<!-- ANNE UY -->
<section class="spec-section section-artiqulet is-light">
	<div class="container">
		<div class="row pt-md-4">
			<div class="col-md-7 px-md-4 order-md-last">

				<!-- DEVICE IMAC -->
				<div class="device-imac mb-4">
					<img width="100%" src="/assets/img/content/works/artiqulet/monitor-1.svg" alt="Computer">
					<div class="device-imac-screen">
						<span class="device-imac-screen-bg" style="background-image: url(/assets/img/content/works/artiqulet/artiqulet-slide-1@2x.png)"></span>
					</div>
				</div>

			</div>
			<div class="col-md-5 px-md-5 text-center">

				<!-- HEADING -->
				<h2 class="mb-4">
					<img width="100%" class="hidden-sm-down" src="/assets/img/content/works/artiqulet/heading-anne-uy--light.svg" alt="Anne Uy">
					<img width="100%" class="hidden-md-up" src="/assets/img/content/works/artiqulet/heading-anne-uy--gradient-3.svg" alt="Anne Uy">
				</h2>

				<!-- WYSIWYG -->
				<div class="wysiwyg mb-4">
					<p>An interiors graduate wanted an online presence to stand out to recruiters. The goal was to tailor a personable brand using strong typography, handmade assets and careful curation.</p>
				</div>

				<!-- CTA -->
				<p><a class="btn btn-primary" href="http://artiqulet.yourwebvisual.com" target="_blank">See more</a></p>

			</div>
		</div>

		<!-- BG FILL -->
		<div class="bg-fill"></div>

		<!-- BOTTOM GLOB -->
		<img class="bottom-glob hidden-md-up" width="100%" src="/assets/img/content/works/artiqulet/bottom-glob.svg" alt="Goo">

		<!-- SET SQUARE -->
		<img class="set-square" width="100%" src="/assets/img/content/works/artiqulet/stationery-1@2x.png" alt="Set Square">

		<!-- SWATCHES -->
		<img class="swatches" width="100%" src="/assets/img/content/works/artiqulet/swatches@2x.png" alt="Swatches">

	</div>
</section>