<!-- BLARG! NEWS | REZILLIA -->
<section class="section is-dark" style="overflow: hidden;">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-9">

				<!-- REZILLIA -->
				<div class="btn-tile-wrapper is-right-aligned">
					<div class="row no-gutters align-items-center">
						<div class="col-6 text-right">
							<div class="text">
								<p>Breathing new life into old artwork for a classroom in the middle of nowhere. <a href="#/coming-soon/">Read&nbsp;more</a></p>
							</div>
						</div>
						<div class="col-6 pr-lg-5">

							<!-- PARALLAX HOVER -->
							<div class="parallax-hover" data-parallax-md-up>
								<div class="layer" data-depth="0.6">

									<!-- BTN TILE -->
									<a class="btn-tile" href="#/coming-soon/">
										<img width="100%" src="/assets/img/layout/image-sizer-330x330.svg" alt="Galaxy">
										<span class="has-parallax" data-parallax>
											<span class="layer" data-depth="0.6">
												<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/rezillia/rezillia-tile@2x.png)"></span>
											</span>
										</span>
									</a>

									<!-- BTN TILE (IS-REZILLIA) -->
									<div class="btn-tile is-rezillia">
										<img width="100%" src="/assets/img/content/works/rezillia/rezillia-tile-image-sizer-1012x868.svg" alt="Rezillia">
										<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/rezillia/rezillia-tile-body-2@2x.png)">
											<span class="btn-tile-bg-item item-rezillia-eyes-blink" style="background-image: url(/assets/img/content/works/rezillia/rezillia-tile-eyes-blink-1@2x.png)"></span>
										</span>
									</div>

								</div>
							</div>

						</div>
					</div>
				</div>

				<!-- BLARG! NEWS -->
				<div class="btn-tile-wrapper is-left-aligned">
					<div class="row no-gutters align-items-center">
						<div class="col-6 pl-lg-5">

							<!-- PARALLAX HOVER -->
							<div class="parallax-hover" data-parallax-md-up>
								<div class="layer" data-depth="0.6">
									<a class="btn-tile" href="#">
										<img width="100%" src="/assets/img/layout/image-sizer-330x330.svg" alt="Project Narayan">
										<span class="has-parallax" data-parallax>
											<span class="layer" data-depth="0.3">
												<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/blarg-news/blarg-news-tile.svg)"></span>
											</span>
											<span class="layer" data-depth="0.2">
												<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/blarg-news/blarg-news-tile-paper-left@2x.png)"></span>
											</span>
											<span class="layer" data-depth="0.3">
												<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/blarg-news/blarg-news-tile-paper-right@2x.png)"></span>
											</span>
											<span class="layer" data-depth="0.4">
												<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/blarg-news/blarg-news-tile-paper-front@2x.png)"></span>
											</span>
											<span class="layer" data-depth="0.3">
												<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/blarg-news/blarg-news-tile-lighting.svg)"></span>
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<div class="col-6">
							<div class="text">
								<p>An experimental gaming webzine series with a ranty, raving taste for the absurd. <br><a href="#/coming-soon/">Read more</a></p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>