<!-- BRANDING AND BUSINESS STATIONERY -->
<section class="spec-section section-branding is-light">
	<div class="container pb-lg-0">
		<div class="row">
			<div class="col-md-7 order-md-last">

				<!-- BUSINESS CARDS -->
				<div class="business-cards">
					<img width="100%" src="/assets/img/content/works/branding-and-logos/cards-7@2x.png" alt="Business Cards">
				</div>

			</div>
			<div class="col-md-5 pl-md-5 pt-md-4">

				<!-- HEADING -->
				<h2 class="h1 mb-4">Branding and<br> Business Stationery</h2>

				<!-- WYSIWYG -->
				<div class="wysiwyg mb-4">
					<p>A various collection of logo designs, branding docs and anecdotes from previous gigs ranging from law firms, web agencies and one peculiar dating network... I know right.</p>
				</div>

				<!-- CTA -->
				<p><a class="btn btn-primary" href="#/coming-soon/">Read more</a></p>

			</div>
		</div>
	</div>

	<!-- MAL WINTER DESIGN ELEMENT SEEP -->
	<div class="mal-winter-design-element-seep">
		<div class="container">
			<div class="row h-100 justify-content-end">
				<div class="col-md-5 col-lg-4 position-relative">
					<div class="tint-bg"></div>
				</div>
			</div>
		</div>
	</div>

</section>