<!-- BRANDING AND LOGOS -->
<section class="spec-section section-branding is-light">
	<div class="container pb-0">
		<div class="row">
			<div class="col-md-7 order-md-last">
				<img class="cards" width="100%" src="/assets/img/content/works/branding-and-logos/cards-4@2x.png">

				<div class="dark"></div>
			</div>
			<div class="col-md-5 pl-md-5 pt-md-4">

				<!-- HEADING -->
				<h2 class="h1 mb-4">Branding and Business Stationery</h2>

				<!-- WYSIWYG -->
				<div class="wysiwyg mb-4">
					<p>A various collection of logo design, branding docs and anecdotes from previous gigs ranging from Law Firms, web agencies and one peculiar dating network. I know right.</p>
				</div>

				<!-- CTA -->
				<p><a class="btn btn-primary" href="#">Indulge more</a></p>

			</div>
		</div>
	</div>
</section>