<!-- DMO 1/2 -->
<section class="section is-light section-dmo-1" hiddenX>
	<div class="container">
		<div class="row">
			<div class="col-md-6 order-md-last text-center">

				<!-- LOGO -->
				<h2>
					<a class="logo" href="https://danandmitch.com" target="_blank">
					    <img src="/assets/img/content/works/dan-and-mitch/dmo-logo@2x.png" alt="Dan & Mitch" itemprop="logo">
					    <span class="on">
					    	<img src="/assets/img/content/works/dan-and-mitch/on-even@2x.png" alt="ON">
					    </span>
					</a>
				</h2>

				<!-- TEXT -->
				<p class="mb-3">
					<b>NEW SHOWS</b> every <b>DECADE</b>
				</p>

				<!-- CTA -->
				<p>
					<a class="btn btn-primary btn-subscribe" href="https://www.youtube.com/channel/UC4S74VhUhaL1HGv3kxYyH6Q" target="blank">
						<i class="fa fa-youtube-play" target="_blank"></i>&nbsp; Subscribe
					</a>
				</p>

				<!-- SPRITES -->
				<div class="character-sprites-wrapper">
					<div class="character-sprites">
					    <div class="sprite-dan-torso has-long-hairX">
					        <div class="sprite-dan-head">
					            <div class="sprite-dan-head-eyes layer" data-depth="0.1"></div>
					        </div>
					        <div class="sprite-dan-torso-hack"></div>
					        <div class="sprite-dan-head-mullet"></div>
					    </div>
					    <div class="sprite-mitch-torso">
					        <div class="sprite-mitch-head">
					            <div class="sprite-mitch-head-eyes layer" data-depth="0.11"></div>
					        </div>
					    </div>
					</div>
				</div>

				<!-- SOCIAL MEDIA -->
				<ul class="social-media hidden-sm-down">
				    <li><a class="twitter" title="twitter" href="https://twitter.com/danandmitch/" target="_blank"><i class="fa fa-twitter"></i></a></li>
				    <li><a class="facebook" title="facebook" href="https://www.facebook.com/DanAndMitch/" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
				    <li><a class="instagram" title="instagram" href="https://www.instagram.com/danandmitch/" target="_blank"><i class="fa fa-instagram"></i></a></li>
				    <li><a class="youtube" title="youtube" href="https://www.youtube.com/channel/UC4S74VhUhaL1HGv3kxYyH6Q" target="_blank"><i class="fa fa-youtube-square"></i></a></li>
				</ul>

			</div>
			<div class="col-md-6 order-md-first">

				<!-- PARALLAX HOVER | TODO: lightbox video -->
				<div class="parallax-hover" data-parallax-md-up>
					<div class="layer" data-depth="0.6">
						<a class="btn-tile" href="#">
							<img width="100%" src="/assets/img/content/works/dan-and-mitch/test-1.jpg" alt="Dan & Mitch in Studio">
							<span class="has-parallax" data-parallax>
								<span class="layer" data-depth="0.3">
									<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/dan-and-mitch/test-1.jpg)"></span>
								</span>
							</span>
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<!-- DMO 2/2 -->
<section class="section is-light section-dmo-2">
	<div class="container">

		<!-- DIVIDER -->
		<div class="divider-wrapper">
			<div class="container">
				<div class="divider"></div>
			</div>
		</div>

		<!-- YOUTUBE HEADING -->
		<img width="90%" class="youtube-heading" src="/assets/img/content/works/dan-and-mitch/heading-youtube--light.svg">

		<!-- HAVE YOU SEEN... HEADING -->
		<h3 class="have-you-seen-heading hidden-sm-down">Have You Seen These?</h3>

		<div class="container is-md-up">
			<div class="row justify-content-end">
				<div class="col-12 col-md-11">

					<!-- POSTER GALLERY -->
					<div class="poster-gallery">
						<div class="row">

							<!-- GROOT -->
							<div class="col-md-4 px-2">

								<!-- <a data-fancybox="gallery" href="big_1.jpg"><img src="small_1.jpg"></a> -->

								<a class="btn-tilt is-iam-groot" href="https://youtu.be/hHRsHe20gsE?t=13m6s" data-fancybox="dan-and-mitch-posters" data-width="853" data-height="480"  data-tilt data-tilt-scale="1.038" data-tilt-max="20" data-tilt-glare data-tilt-max-glare="0.15" data-tilt-gyroscope="false">
									<img width="100%" src="/assets/img/content/works/dan-and-mitch/posters/i-am-groot/new/layer-1@2x.jpg">

									<!-- RUBBISH -->
									<span class="layer" style="background-image: url(/assets/img/content/works/dan-and-mitch/posters/i-am-groot/new/fg-3.png); transform: translateZ(3px);"></span>

									<!-- BUILDING -->
									<span class="layer" style="background-image: url(/assets/img/content/works/dan-and-mitch/posters/i-am-groot/new/fg-4.png); transform: translateZ(4px);"></span>

									<!-- FLOOR -->
									<span class="layer" style="background-image: url(/assets/img/content/works/dan-and-mitch/posters/i-am-groot/new/fg-1.png); transform: translateZ(5px);"></span>

									<!-- GROOT -->
									<span class="layer" style="background-image: url(/assets/img/content/works/dan-and-mitch/posters/i-am-groot/new/layer-3@2x.png); transform: translateZ(6px);"></span>

									<!-- DOG -->
									<span class="layer" style="background-image: url(/assets/img/content/works/dan-and-mitch/posters/i-am-groot/new/layer-4@2x.png); transform: translateZ(7px);"></span>

									<!-- TEXT -->
									<span class="layer" style="background-image: url(/assets/img/content/works/dan-and-mitch/posters/i-am-groot/new/layer-5@2x.png); transform: translateZ(10px);"></span>
								</a>
							</div>

							<!-- ZOOTOPIA -->
							<div class="col-md-4 px-2">
								<a class="btn-tilt is-zootopia" href="https://youtu.be/8TkRs1JTNdo" data-fancybox="dan-and-mitch-posters" data-width="853" data-height="480"  data-tilt data-tilt-scale="1.038" data-tilt-max="20" data-tilt-glare data-tilt-max-glare="0.15" data-tilt-gyroscope="false">
									<img width="100%" src="/assets/img/content/works/dan-and-mitch/posters/zootopia/layer-1@2x.jpg">

									<span class="layer" style="background-image: url(/assets/img/content/works/dan-and-mitch/posters/zootopia/layer-2@2x.png); transform: translateZ(8px);"></span>

									<span class="layer" style="background-image: url(/assets/img/content/works/dan-and-mitch/posters/zootopia/layer-3a@2x.png); transform: translateZ(15px);"></span>
								</a>
							</div>

							<!-- NEBUCHADNEZZAR -->
							<div class="col-md-4 px-2">
								<a class="btn-tilt is-nebuchadnezzar" href="https://youtu.be/9SnjPZaFd7Y?t=9m3s" data-fancybox="dan-and-mitch-posters" data-width="853" data-height="480" data-tilt data-tilt-scale="1.038" data-tilt-max="20" data-tilt-glare data-tilt-max-glare="0.15" data-tilt-gyroscope="false">

									<img width="100%" src="/assets/img/content/works/dan-and-mitch/posters/nebuchadnezzar/image-sizer-584x1020.svg">

									<!-- BODY -->
									<span class="layer" style="background-image: url(/assets/img/content/works/dan-and-mitch/posters/nebuchadnezzar/layer-1@2x.png); transform: translateZ(1px);"></span>

									<!-- EARS -->
									<span class="layer" style="background-image: url(/assets/img/content/works/dan-and-mitch/posters/nebuchadnezzar/layer-2@2x.png); transform: translateZ(4px);"></span>

									<!-- HEAD -->
									<span class="layer" style="background-image: url(/assets/img/content/works/dan-and-mitch/posters/nebuchadnezzar/layer-3@2x.png); transform: translateZ(5px);"></span>

									<!-- GLASSES -->
									<span class="layer" style="background-image: url(/assets/img/content/works/dan-and-mitch/posters/nebuchadnezzar/layer-4@2x.png); transform: translateZ(6px);"></span>

									<!-- NOSE -->
									<span class="layer" style="background-image: url(/assets/img/content/works/dan-and-mitch/posters/nebuchadnezzar/layer-5@2x.png); transform: translateZ(7px);"></span>

									<!-- TEXT -->
									<span class="layer" style="background-image: url(/assets/img/content/works/dan-and-mitch/posters/nebuchadnezzar/layer-6@2x.png); transform: translateZ(15px);"></span>
								</a>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>

		<!-- WALLPAPER OPTION -->
		<!-- <div class="section-dmo-wallpaper"></div> -->
	</div>
</section>