<!-- ENGLISH UNLIMITED COLLEGE -->
<section class="spec-section section-english-unlimited is-light">
	<div class="container">

		<!-- BG FILL -->
		<div class="bg-fill"></div>

		<div class="row pt-4">
			<div class="col-md-7 order-md-last">

				<!-- IMAC OVERFLOW -->
				<div class="imac-overflow">

					<!-- DEVICE IMAC -->
					<div class="device-imac mb-4 mb-md-0">
						<img width="100%" src="/assets/img/content/works/english-unlimited/monitor-1.svg" alt="Computer Screen">
						<div class="device-imac-screen">
							<span class="device-imac-screen-bg" style="background-image: url(/assets/img/content/works/english-unlimited/student-girl-9.jpg)"></span>
						</div>
					</div>
				</div>

			</div>
			<div class="col-md-5 pl-md-5 pt-lg-4">
				<div class="wysiwyg">

					<!-- HEADING -->
					<h2 class="mb-4">
						<img width="100%" class="hidden-sm-down" src="/assets/img/content/works/english-unlimited/heading-english-unlimited--light.svg" alt="English Unlimited College">
						<img width="100%" class="hidden-md-up" src="/assets/img/content/works/english-unlimited/heading-english-unlimited--colored.svg" alt="English Unlimited College">
					</h2>

					<p>I was contracted to redesign an aged college website using a small collection of physical marketing flyers for reference.</p>

					<p>The site was designed <b>in-browser</b>, allowing for regular client interaction during the development process.</p>

					<p><a class="btn btn-primary" href="#/coming-soon/">Excelsior!</a></p>
				</div>
			</div>
		</div>
	</div>
</section>