<!-- ENGLISH UNLIMITED -->
<section class="spec-section section-english-unlimited is-light">
	<div class="container">

		<!-- BG FILL -->
		<div class="bg-fill"></div>

		<div class="row pt-4">
			<div class="col-md-7 order-md-last">

				<!-- IMAC OVERFLOW -->
				<div class="imac-overflow">

					<!-- DEVICE IMAC -->
					<div class="device-imac mb-4 mb-md-0">
						<img width="100%" src="/assets/img/content/works/english-unlimited/monitor-1.svg" alt="Loadshift Website">
						<div class="device-imac-screen">
							<span class="device-imac-screen-bg" style="background-image: url(/assets/img/content/works/english-unlimited/student-girl-9.jpg)"></span>
						</div>
					</div>
				</div>

			</div>
			<div class="col-md-5 pl-lg-5 pt-4">
				<div class="wysiwyg">
					<h2 class="h1 mb-4">English Unlimited College</h2>
					<p>When a third party contacted me to design and code EU's new website I jumped aboard with the keen exuberance of a smiley Gen Z stock photo.</p>
					<p>I won't lie, navigating through the many logistic hurdles, bureaucracy and creeping scope kept me busy.</p>
					<br>
					<p><a class="btn btn-primary" href="#">Excelsior!</a></p>
				</div>
			</div>
		</div>
	</div>
</section>