<!-- JAZZLES -->
<section class="spec-section section-jazzles-learning-system is-light">
	<div class="container">
		<div class="row pt-4">
			<div class="col-md-5 order-last">



			</div>
			<div class="col-md-7 pl-lg-5 pt-4">
				<div class="text-box mb-5">
					<h2 class="h1 mb-4">The Jazzles Experience</h2>

					<p>The epitome of <em>garage startup</em> was the Jazzles brand, where I worked during my Uni studies and thereafter. We sold a range of web based early learning resources to tech-hungry schools.</p>

					<p>At the peak of our success we were designing a handheld console but the GFC burst our bubble.</p>
					<br>
					<a class="btn btn-primary" href="http://loadshift-2017.yourwebvisual.com">Excelsor!</a>
				</div>
			</div>
		</div>
	</div>
</section>