<!-- LOADSHIFT -->
<section class="section is-light">
	<div class="container">
		<div class="row pt-4">
			<div class="col-md-7 pr-md-5">

				<!-- DEVICE IMAC -->
				<div class="device-imac">
					<img width="100%" src="/assets/img/content/works/loadshift/monitor-3@2x.png" alt="Loadshift Website">
					<div class="device-imac-screen">
						<span class="device-imac-screen-bg" style="background-image: url(/assets/img/content/works/loadshift/test-6.jpg)"></span>
					</div>
				</div>

			</div>
			<div class="col-md-5">
				<br><br>

				<!-- HEADING -->
				<h2 class="h1 text-md-center mb-4">Loadshift</h2>
				<!-- <h2 class="text-md-center mb-4"><img width="65%" src="/assets/img/content/works/loadshift/loadshift-logo-4.svg" alt="Loadshift"></h2> -->

				<!-- WYSIWYG -->
				<div class="wysiwyg">
					<p>A heavy haulage transport marketplace that can move anything not bolted down. Designed completely <strong>in-browser</strong>, I aimed to provide an intuitive and pragmatic visual overhaul for users new to the mobile web.</p>
				</div>

				<!-- CALL TO ACTION -->
				<p class="text-md-center">
					<a class="btn btn-primary" href="#/coming-soon/">See website</a>
				</p>

			</div>
		</div>
	</div>
</section>