<!-- MAL WINTER -->
<section class="spec-section section-mal-winter is-dark">
	<div class="container">
		<div class="row  align-items-center">
			<div class="col-md-7 col-lg-8 pr-md-5">
				<div class="px-lg-4 position-relative">

					<!-- DEVICE IMAC -->
					<div class="device device-macbook">
						<img width="100%" src="/assets/img/content/works/mal-winter/laptop-3.svg" alt="Laptop">
						<div class="device-screen">
							<span class="device-screen-bg" style="background-image: url(/assets/img/content/works/mal-winter/lion-mal-@2x.png)"></span>
						</div>
					</div>

					<!-- BOOK -->
					<div class="book" data-parallax>
						<img data-depth="0.6" width="100%" src="/assets/img/content/works/mal-winter/book-cloud-runners-bg@2x.png" alt="Mal Winter and the Cloud Runners">
						<span class="layer" data-depth="0.7" style="background-image: url(/assets/img/content/works/mal-winter/book-cloud-runners-fg@2x.png)">
						<span class="layer price-sticker" data-depth="0.8"><span class="dollar-sign">$</span>25</span>
					</div>

				</div>
			</div>
			<div class="col-md-5 col-lg-4 position-relative py-4">

				<!-- TINT BG -->
				<div class="tint-bg"></div>

				<!-- TEXT -->
				<div class="text-body">
					<h2 class="h1 mb-4">Mal Winter<br class="hidden-sm-down"> and the<br class="hidden-sm-down"> Cloud Runners</h2>
					<p>A vibrant marketing website designed to promote a kids' book series with illustrations by the author himself.</p>
					<p>The site was designed <b>in-browser</b>, utilising depth and parallax effects to bring dimension to the colourful character drawings.</p>
					<br>
					<p><a class="btn btn-primary" href="#/under-construction/">See more</a></p>
				</div>

			</div>
		</div>
	</div>

	<!-- PARALLAX BG -->
	<div class="bg-layers" data-parallax-scroll=".03">
	    <div class="bg-layer-1" style="background-image: url(/assets/img/content/works/mal-winter/clouds-layer-1.jpg)"></div>
	    <div class="bg-layer-2" style="background-image: url(/assets/img/content/works/mal-winter/clouds-layer-2.png)"></div>
	</div>

</section>