<!-- ORIGAMI EMAIL SERIES -->
<section class="spec-section section-origami-series is-light">
	<div class="container">
		<div class="row">
			<div class="col-md-6 order-last order-md-first pl-lg-5 pt-4">
				<div class="row">
					<div class="col-lg-11">
						<h2 class="h1">Origami Email Newsletter Series</h2>
						<p>A lively young startup from San Francisco were nearing a full product rebrand. During the interim they wished to spruce up communication, so they commissioned a series of funky little templates to capture the essense of their brand whilst keeping it essentially white label.</p>
						<br>
						<p><a class="btn btn-primary" href="http://loadshift-2017.yourwebvisual.com">View the Series</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-5 ml-auto pl-5">

				<!-- BG FILL -->
				<div class="bg-fill"></div>

				<!-- ORIGAMI TILE TOP -->
				<div class="origami-tile-top pl-2">

					<!-- ICARUS -->
					<div class="parallax-no-hover" data-parallax-md-up>
						<div class="layer" data-depth="0.6">
							<a class="btn-tile" href="#/coming-soon/">
								<img width="100%" src="/assets/img/content/works/origami-email-series/tile-icarus_layer-1@72.svg">
								<span class="has-parallax" data-parallax>
									<span class="layer" data-depth="0.3">

										<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/origami-email-series/tile-icarus_layer-1@72.svg)"></span>
										<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/origami-email-series/tile-icarus_layer-2@2x.png)"></span>
									</span>
								</span>
							</a>
						</div>
					</div>

				</div>

				<!-- SQUIRRELS -->
				<div class="origami-tile-bottom pl-3">
					<div class="parallax-no-hover" data-parallax-md-up>
						<div class="layer" data-depth="0.6">
							<a class="btn-tile" href="#/coming-soon/">
								<img width="100%" src="/assets/img/layout/image-sizer-330x330.svg">
								<span class="has-parallax" data-parallax>
									<span class="layer" data-depth="0.3">
										<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/origami-email-series/tile-squirrels_layer-1@72.svg)"></span>
									</span>
									<span class="layer" data-depth="0.3">
										<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/origami-email-series/tile-squirrels_layer-2@2x.png)"></span>
									</span>
									<span class="layer" data-depth="0.2">
										<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/origami-email-series/tile-squirrels_layer-1@2x.png)"></span>
									</span>
									<span class="layer" data-depth="0.3">
										<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/origami-email-series/tile-squirrels_layer-3@2x.png)"></span>
									</span>
									<span class="layer" data-depth="0.4">
										<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/origami-email-series/tile-squirrels_layer-3@2x.png)"></span>
									</span>
								</span>
							</a>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</section>