<!-- THOMSON REUTERS 1/2 -->
<section class="section section-thomson-reuters-1 is-dark">
	<div class="container">

		<!-- MOBILITY HEADING -->
		<div class="mobility-heading hidden-sm-down"></div>

		<!-- REUTERS LOGO -->
		<div class="reuters-logo-overflow">
			<div class="reuters-logo"></div>
		</div>

		<div class="row">
			<div class="col-md-6 col-lg-6 position-relative">

				<!-- IMAGE SIZER -->
				<img class="pr-5" width="100%" src="/assets/img/layout/image-sizer-462x617.svg" alt="Resizer">

				<!-- OFFSET WRAPPER 1 -->
				<div class="offset-wrapper-1 pr-5">

					<!-- PARALLAX NO HOVER -->
					<div class="parallax-no-hover" data-parallax>
						<div class="layer" data-depth="0.6">
							<div class="btn-tile">
								<img width="100%" src="/assets/img/layout/image-sizer-462x617.svg" alt="Red Sky">
								<span class="has-parallax" data-parallax>
									<span class="layer" data-depth="0.3">
										<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/thomson-reuters/sky-bg@2x.jpg)"></span>
									</span>
								</span>
							</div>
						</div>
					</div>

					<!-- IPHONE WRAPPER -->
					<div class="iphone-wrapper">

						<!-- PARALLAX NO HOVER -->
						<div class="parallax-no-hover" data-parallax>
							<div class="layer" data-depth="-0.6">

								<!-- DEVICE IPHONE -->
								<div class="device device-iphone-5">
									<img width="100%" src="/assets/img/content/works/thomson-reuters/iphone-5.svg" alt="Mobile">
									<div class="device-screen">
										<span class="device-screen-bg" style="background-image: url(/assets/img/content/works/thomson-reuters/iphone-5-screen-bg-1.png)"></span>
									</div>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-md-6 position-relative">

				<!-- OFFSET WRAPPER 2 -->
				<div class="offset-wrapper-2 pl-md-5 pr-md-4">

					<!-- HEADING -->
					<h2 class="h1 mb-4">Thomson Reuters Mobility Project</h2>

					<!-- WYSIWYG -->
					<div class="wysiwyg mb-4">
						<p>In 2014 Thomson Reuters were ramping up their mobile efforts to remain competitive. Back then many places were still rocking kludgy unresponsive design with slow mobile performance. They brought me in to help adapt their websites and products.
					</div>

					<!-- CALL TO ACTION -->
					<p><a class="btn btn-primary" href="#/coming-soon/">Case study</a></p>

				</div>

			</div>
		</div>
	</div>
</section>

<!-- THOMSON REUTERS 2/2 -->
<div class="section section-thomson-reuters-2 is-darker hidden-sm-down">
	<div class="container">

		<!-- ARROW JOINER -->
		<div class="arrow-joiner">
			<span class="arrow"></span>
		</div>

		<!-- BIG RED SKY | CHECKPOINT | WESTLAW -->
		<div class="row">
			<div class="col-md-4 px-4">
				<div class="d-flex">
					<span class="digit">01</span>
					<div>
						<h3>Big Red Sky</h3>
						<p>This was a web based recruitment tool for managing onboarding. When I first arrived, the app's design looked like it hadn't been touched since the mid naughties. I coded various prototypes to suggest more modern takes.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 px-4">
				<div class="d-flex">
					<span class="digit">02</span>
					<div>
						<h3>Checkpoint</h3>
						<p>Designing for TR's flagship tax/accounting app was a big deal to many people. The userbase was huge and very familiar with old routines. I worked hard to preserve that muscle memory with the redesign.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 px-4">
				<div class="d-flex">
					<span class="digit">03</span>
					<div>
						<h3>Westlaw</h3>
						<p>By this stage things were really cooking. Having learned from Checkpoint I was ready for Westlaw; one of the most popular legal resources in the world. I admit, I was giddy when I heard it referenced on <a target="_blank" href="https://www.amc.com/shows/better-call-saul">Better Call Saul</a>.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>