/*
    FOOTER.CSS

    - Last updated: 13.12.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// FOOTER
//-----------------------------------------------------------------

.global-footer {
	background: $gray-dark;

	p, ul {
		font-size: rem-calc(14);
	}
}

.global-footer-bottom {
	background: darken($gray-dark, 10%);
	padding: rem-calc(10 0);
}
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.global-footer-middle {
	h1, h2, h3, h4, h5, h6 {
		font-size: rem-calc(12);
		text-transform: uppercase;
		color: $brand-primary;
	}

	a {
		color: lighten($gray-dark, 40%);
	}
}

//=========================================
//
//=========================================