/*
    HEADER.CSS

    - Last updated: 06.10.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------

$header-height-sm: 60px !default; // optimal
$header-height-md: 130px !default;
$header-height-lg: 220px !default;

//-----------------------------------------------------------------
// HEADROOM
//-----------------------------------------------------------------

.headroom {
    will-change: transform;
    transition: transform 200ms linear, background 200ms ease, opacity 200ms ease;
}

.headroom--pinned {
    // transform: translateY(0%);
}

.headroom--unpinned {
    opacity: 0;
    // transform: translateY(-100%);
}

.headroom--top {
	background: none; // Need for animation
}

//****************************************************
// STYLING SCROLL HEADER
//****************************************************

.headroom--not-top.headroom--pinned {
	background: white;
	box-shadow: 0 0 3px 1px rgba(black, 0.2); // added NEW

	@include media-breakpoint-up(md) {
	    background: rgba(#111, 0.9);
	    box-shadow: none;
	}

	.logo img {
		display: none; // [LOCKED]

		@include media-breakpoint-up(md) {
		    padding: rem-calc(15 0); // shorter header
		}
	}

	//=========================================
	// HAMBURGER
	//=========================================

	.global-mobile-menu {
		@include media-breakpoint-up(md) {
		    top: 30px;
		}

		.lv-hamburger-top,
		.lv-hamburger-middle,
		.lv-hamburger-bottom {
			@include media-breakpoint-down(sm) {
			    background: #222;
			}
		}
	}

	//=========================================
	// OVERRIDES - for different logo types
	//=========================================

	.logo .img-sm-down-override {
		@include media-breakpoint-down(sm) {
		    display: block !important;
		}
	}

	.logo .img-md-up-override {
		@include media-breakpoint-up(md) {
		    display: block !important;
		}
	}
}

//-----------------------------------------------------------------
// HEADER
//-----------------------------------------------------------------

.global-header {
	position: fixed; // covers more use cases
	top: 0;
	width: 100%;
	z-index: 999;

	> .container {
		display: flex;
		align-items: center;
		position: relative; // for abs snapping

		@include media-breakpoint-up(xl) {
			padding: 0 $container-gutter*3; // [LOCKED]
		}
	}
}

//-----------------------------------------------------------------
// LOGO - CONTROLS HEIGHT OF HEADER
//-----------------------------------------------------------------

.global-header .logo {
	display: block; // improve hit area

	img {
		width: rem-calc(150);
		padding: rem-calc(10 0);

		@include media-breakpoint-up(md) {
			width: rem-calc(200);
		    padding: $spacer 0;
		}
	}
}

//-----------------------------------------------------------------
// HAMBURGER
//-----------------------------------------------------------------

.global-mobile-menu {
	margin-left: auto;
	line-height: 0; // fix bug?
}

//-----------------------------------------------------------------
// DELAY KEYFRAMES
//-----------------------------------------------------------------

// animation: delayGlobalHeaderExit 0.4s ease 300ms alternate 1 forwards;
// @keyframes delayGlobalHeaderExit {
//     from {}
//     to { background: #202026; }
// }

//=========================================
//
//=========================================