/*
    HEADER.CSS

    - updated: 26.12.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------

$header-height-sm: 60px  !default;
$header-height-md: 120px !default;
$header-height-lg: 120px !default;

//-----------------------------------------------------------------
// HEADROOM
//-----------------------------------------------------------------

.headroom.global-header {
    will-change: transform;
    transition: transform 250ms ease;

    @include media-breakpoint-up(md) {
        transition: opacity 150ms ease,
        			background-color 150ms ease,
        			visibility 150ms ease;
    }
}

//****************************************************
// PINNED - SCROLLING DOWN
//****************************************************

.headroom--pinned.global-header {
	@include media-breakpoint-down(md) { // mobile/tablet only
	    transform: translateY(0%);
	}
}

//****************************************************
// UNPINNED - SCROLLING UP
//****************************************************

.headroom--unpinned.global-header {
	@include media-breakpoint-down(md) { // mobile/portrait only
		transform: translateY(-100%);
		transition-delay: 1000ms; // delay for UX
	}

	@include media-breakpoint-up(md) {
	    opacity: 0; // [LOCKED] - for lg up
	    visibility: hidden; // [LOCKED]
	}
}

//****************************************************
// HEADROOM IS DISABLED FOR LARGE UP
//****************************************************

.headroom--not-top.headroom--pinned.global-header {
	@include media-breakpoint-up(lg) {
	    display: none;
	    opacity: 0; // [LOCKED]
	}
}

//****************************************************
// HEADROOM TOP
// header is transparent when at top
//****************************************************

.headroom--top.global-header {
	background: none;
	box-shadow: none;

	.logo img {
		@include media-breakpoint-down(sm) {
		    display: none !important;
		}
	}

	.logo img.is-dynamic {
		@include media-breakpoint-down(sm) {
		    display: block !important;
		}
	}
}

//****************************************************
// HEADROOM TOP
// logo is dark over white on mobile
//****************************************************

.headroom--not-top.global-header {
	.logo img.is-dark {
		@include media-breakpoint-down(sm) {
		    display: block !important;
		}
	}
}

//****************************************************
// PINNED - WHILE SCROLLING DOWN
// md-up has custom dark header
//****************************************************

.headroom--not-top.headroom--pinned.global-header {
	@include media-breakpoint-up(md) {
	    background: rgba(#111, 0.9);
	}
}

//****************************************************
// PINNED - WHILE SCROLLING DOWN
// md-up: 'is-dynamic' is overriden always
// logo is default over dark on portrait
//****************************************************

.headroom--not-top.headroom--pinned.global-header {
	.logo img.is-dynamic {
		@include media-breakpoint-up(md) {
		    display: none !important;
		}
	}

	// REMEMBER: VISIBILITY IS OPT-IN
	.logo img.is-default {
		@include media-breakpoint-up(md) {
		    display: block !important;
		}
	}
}

//-----------------------------------------------------------------
// HEADER
//-----------------------------------------------------------------

.global-header {
	position: fixed;
	top: 0;
	width: 100%;
	background: white; // white menu on mobile
	box-shadow: 0 0 3px 1px rgba(black, 0.2);
	z-index: 999;

	@include media-breakpoint-up(md) {
	    background: none;
	    box-shadow: none;
	}

	> .container {
		display: flex;
		align-items: center;

		// removed for new breakpoints
		// @include media-breakpoint-up(xl) {
		// 	padding: 0 $container-gutter*3; // [LOCKED]
		// }
	}
}

//-----------------------------------------------------------------
// LOGO - CONTROLS HEIGHT OF HEADER
//-----------------------------------------------------------------

.global-header .logo {
	display: block; // [LOCKED] improve hit area

	img {
		display: none; // [LOCKED] - applies to 'is-dynamic'
		width: rem-calc(150);
		padding: rem-calc(10 0);

		@include media-breakpoint-up(md) {
			display: block; // [LOCKED] - applies to 'is-dynamic'
			width: rem-calc(200);
		    padding: $spacer 0;
		}

		// non-dynamic logos are hidden by default on INIT
		&.is-default,
		&.is-dark {
			display: none;
		}
	}
}

//-----------------------------------------------------------------
// HAMBURGER
//-----------------------------------------------------------------

.global-mobile-menu {
	margin-left: auto;
	line-height: 0; // [LOCKED]

	.lv-hamburger-top,
	.lv-hamburger-middle,
	.lv-hamburger-bottom {
		@include media-breakpoint-down(sm) {
		    background: #222;
		}
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================