/*
    BREADCRUMBS.CSS

    - updated: 16.01.18
    - liquidvisual.com
*/
//--------------------------------------------------------------------
// VARIABLES
//--------------------------------------------------------------------
//--------------------------------------------------------------------
// BREADCRUMB WRAPPER
//--------------------------------------------------------------------

.breadcrumb-wrapper {
	&.spec-section {
		z-index: 2; // since all sections are z-index: 1
	}
}

//--------------------------------------------------------------------
// BREADCRUMB
// DARK + FLOATING IS THE DEFAULT
//--------------------------------------------------------------------

.breadcrumb {
	display: flex; // [LOCKED]
	align-items: center; // [LOCKED]
	position: absolute; // [LOCKED]
	padding: rem-calc(10 0); // [LOCKED] - safe
	margin: 0; // [LOCKED]
	border-radius: 0; // [LOCKED]
	background: none; // [LOCKED]
	font-size: rem-calc(13); // [LOCKED]
	font-weight: 500; // [LOCKED]
	line-height: 1; // [LOCKED]
	text-transform: uppercase; // [LOCKED]

	@include media-breakpoint-up(md) {
	    padding: rem-calc(15 0); // [LOCKED] - safe
	}

	//=========================================
	// BREADCRUMB BACK BUTTON(S)
	//=========================================

	.breadcrumb-item {
		padding: rem-calc(6 10 8 10); // [LOCKED] - adjusted for icon line-height
		border-radius: $border-radius-sm; // [LOCKED]
		color: rgba(white, 0.3); // [LOCKED]
		transition: background 300ms ease, color 300ms ease; // [LOCKED]

		@include media-breakpoint-up(md) {
		    background: $gray-dark; // [LOCKED]
		}

		i {
			position: relative; // [LOCKED]
			top: 1px; // [LOCKED]
			font-size: rem-calc(17); // [LOCKED]
			transition: opacity 300ms ease, color 200ms ease; // [LOCKED]
		}

		//=========================================
		// HOVERS
		//=========================================

		&:hover {
			background: lighten($gray-dark, 5%); // [LOCKED]
			color: rgba(white, 0.5); // [LOCKED]

			i {
				color: $brand-primary; // [LOCKED]
			}
		}
	}
}

//--------------------------------------------------------------------
// IS LIGHT (BUTTONS ONLY)
//--------------------------------------------------------------------

.is-light .breadcrumb .breadcrumb-item,
.is-white .breadcrumb .breadcrumb-item {
	padding: 0;
	background: none;
	color: #222;
}

//=========================================
// IS WHITE (CREATES BAR)
//=========================================

.is-white .breadcrumb {
	position: relative; // [LOCKED]
	padding: rem-calc(12 0); // [LOCKED] - curated

	@include media-breakpoint-up(xl) {
	    padding: rem-calc(0 0 10 0); // [LOCKED] - top offset effect
	}
}

// VERY specific use-case that swaps shadow from bg-overflow to parent wrapper.
// Not perfect, but closest to desirable effect.
.is-white.breadcrumb-wrapper {
	@include media-breakpoint-down(lg) {
	    box-shadow: 0 1px 4px 2px rgba(black, 0.03); // good enough
	}
}

//--------------------------------------------------------------------
// BREADRCUMB BG OVERFLOW
// creates background strip with shadow (complex for reason)
//--------------------------------------------------------------------

.breadcrumb-bg-overflow {
	@include media-breakpoint-up(xl) {
		position: absolute;
		top: -10px;
		left: 0;
		width: 100%;
		height: calc(100% + 10px + 10px);
		// border: 1px solid grey; // uncomment to see mask
		overflow: hidden;
		z-index: -1;

		.breadcrumb-bg {
			position: absolute;
			width: 100%;
			height: calc(100% - 10px);
			background: white;
			box-shadow: 0 1px 4px 2px rgba(black, 0.03);
		}
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================