/*
    BREADCRUMBS.CSS

    - Last updated: 29.04.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//--------------------------------------------------------------------
//
//--------------------------------------------------------------------

.breadcrumb {
	display: flex;
	align-items: center;
	position: absolute;
	top: -50px;
	width: 100%;
	padding: 0 $spacer;
	font-size: rem-calc(13);
	font-weight: 500;
	line-height: 50px;
	text-transform: uppercase;

	a {
		color: #222;
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.breadcrumb-item + .breadcrumb-item::before {
	// content: "\f105";
	content: "";
	font-family: 'FontAwesome';
	color: #222;
	// font-weight: bold;
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================