/*
    BUTTONS.CSS

    - Last updated: 22.11.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// PRIMARY
//-----------------------------------------------------------------

.btn-primary,
.btn-primary.disabled,
.btn-secondary {
	padding: rem-calc(12 20 10 20); // [LOCKED]

	padding-top: 12px;
	padding-bottom: 10px;

	border: 0; // [LOCKED] - reset
	border-bottom: 3px solid darken($brand-secondary, 20%);
	line-height: 1.2; // [LOCKED] - for multiline
	box-shadow: 0 1px 2px 0px rgba(black, 0.2); // [LOCKED] - subtle
	will-change: background-color, border-color, color, transform;
	transition: 150ms ease background-color,
				150ms ease border-color,
				150ms ease color,
				200ms ease transform;
	// transform-style: flat !important; // [LOCKED] - fixes blurry image on Chrome (non-retina mostly)
	// backface-visibility: hidden;

	//=========================================
	// HOVERS
	//=========================================

	&:hover,
	&:active {
		background: lighten($brand-secondary, 15%) !important; // [LOCKED]
		border-bottom: 3px solid darken($brand-secondary, 10%); // [LOCKED]
		transform: translateZ(0) scale(1.048); // [LOCKED] - smooth for Chrome
	}

	&:active {
		border-width: 2px; // [LOCKED] - px not rems - compress bottom by 1px
		margin-top: 1px; // [LOCKED] - needs to offset 3px
		box-shadow: none; // [LOCKED]
	}
}

//-----------------------------------------------------------------
// YOUTUBE SUBSCRIBE (used in DMO)
//-----------------------------------------------------------------

.btn-subscribe {
	$youtube-red: #eb1900;
	padding-left: rem-calc(14); // [LOCKED] - curated
	padding-right: rem-calc(14); // [LOCKED] - curated
	border-bottom: 3px solid darken($youtube-red, 20%);
	background: $youtube-red;

	.fa-youtube-play {
		position: relative;
		top: rem-calc(3); // [LOCKED]
		font-size: rem-calc(22);
		line-height: 0;
	}

	&:hover,
	&:active {
		background: lighten($youtube-red, 5%) !important; // [LOCKED]
		border-color: darken($youtube-red, 6%) !important;
	}
}

//-----------------------------------------------------------------
// SECONDARY (GHOST BUTTON)
//-----------------------------------------------------------------

.btn-secondary {
	border: 0;
	background: none;
	color: $brand-secondary;
	box-shadow: 0 0 0 2px $brand-secondary;

	&:hover,
	&:active {
		position: relative;
		top: 2px;
		box-shadow: none;
		margin-top: -3px; // tricky
	}

	&:active {
		border-bottom: 2px solid darken($brand-secondary, 15%) !important;
		margin-top: -2px;
	}
}

//-----------------------------------------------------------------
// CATEGORY - used in tuts item
//-----------------------------------------------------------------

.btn-category {
	display: inline-block;
	padding: rem-calc(3 5 2 5); // [LOCKED]
	border: 2px solid $yellow;
	font-size: rem-calc(11);
	line-height: 1.1;
	text-transform: uppercase;
	color: $yellow !important;
}

//=========================================
//
//=========================================