/*
    BUTTONS.CSS

    - Last updated: 02.01.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// PRIMARY
//-----------------------------------------------------------------

.btn-primary,
.btn-primary.disabled,
.btn-secondary {
	padding: rem-calc(16 25 13 25); // [LOCKED]
	border: 0; // [LOCKED] - reset
	border-bottom: 3px solid darken($brand-secondary, 20%);
	line-height: 1.2; // [LOCKED] - for multiline
	box-shadow: 0 1px 2px 0px rgba(black, 0.2); // [LOCKED] - subtle
	transition: 200ms ease background-color,
				200ms ease border-color,
				200ms ease color,
				200ms ease transform;

	// &:focus {
	// 	box-shadow: none;
	// 	color: rgba(white, 0.5);
	// 	box-shadow: 0 1px 2px 0px rgba(black, 0.2);
	// }

	&:hover,
	&:active {
		background: lighten($brand-secondary, 15%) !important; // [LOCKED]
		border-bottom: 3px solid darken($brand-secondary, 15%);
		transform: scale(1.02);
	}

	&:active {
		// position: relative;
		// top: 1px;
		border-width: 2px;
		margin-top: 1px;
		box-shadow: none;
		transition: none;
		transform: scale(1);
	}
}

//-----------------------------------------------------------------
// SECONDARY
//-----------------------------------------------------------------

.btn-secondary {
	border: 0;
	background: none;
	color: $brand-secondary;
	box-shadow: 0 0 0 2px $brand-secondary;

	&:hover,
	&:active {
		box-shadow: none;
	}

	&:active {
		border-bottom: 2px solid darken($brand-secondary, 15%) !important;
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================