/*
    BUTTONS.CSS

    - Last updated: 02.01.18
    - liquidvisual.com

    TODO: test margin - on tuts item - doesn't work!!
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// PRIMARY
//-----------------------------------------------------------------

.btn-primary,
.btn-primary.disabled,
.btn-secondary {
	padding: rem-calc(16 25 13 25); // [LOCKED]
	border: 0; // [LOCKED] - reset
	border-bottom: 3px solid darken($brand-secondary, 20%);
	line-height: 1.2; // [LOCKED] - for multiline
	box-shadow: 0 1px 2px 0px rgba(black, 0.2); // [LOCKED] - subtle
	transition: 200ms ease background-color,
				200ms ease border-color,
				200ms ease color,
				200ms ease transform;

	// &:focus {
	// 	box-shadow: none;
	// 	color: rgba(white, 0.5);
	// 	box-shadow: 0 1px 2px 0px rgba(black, 0.2);
	// }

	&:hover,
	&:active {
		background: lighten($brand-secondary, 15%) !important; // [LOCKED]
		border-bottom: 3px solid darken($brand-secondary, 15%);
		transform: scale(1.02);

		.text-default {
			display: none;
		}

		.text-hover {
			display: inline-block;
		}
	}

	&:active {
		// position: relative;
		// top: 1px;
		border-width: 2px;
		margin-top: 1px;
		box-shadow: none;
		transition: none;
		transform: scale(1.01);
	}

	// Allow hover to take control - must appear first
	.text-hover {
		display: none;
	}
}

//-----------------------------------------------------------------
// SECONDARY
//-----------------------------------------------------------------

.btn-secondary {
	border: 0;
	background: none;
	color: $brand-secondary;
	box-shadow: 0 0 0 2px $brand-secondary;

	&:hover,
	&:active {
		position: relative;
		top: 2px;
		box-shadow: none;
		margin-top: -3px; // tricky
	}

	&:active {
		border-bottom: 2px solid darken($brand-secondary, 15%) !important;
		margin-top: -2px;
	}
}

//-----------------------------------------------------------------
// CATEGORY - used in tuts item
//-----------------------------------------------------------------

.btn-category {
	display: inline-block;
	padding: rem-calc(3 5 2 5); // [LOCKED]
	border: 2px solid $yellow;
	font-size: rem-calc(11);
	line-height: 1.1;
	text-transform: uppercase;
	color: $yellow !important;
}

//-----------------------------------------------------------------
// BUTTON TILE WRAPPER - used in projects
//-----------------------------------------------------------------

.btn-tile-wrapper {
	.text {
		position: relative;

		p {
			@include media-breakpoint-down(sm) {
			    font-size: rem-calc(15);
			}
		}
	}

	@include media-breakpoint-down(sm) {
	    &.is-left-aligned  .text { padding-left: 15%; }
	    &.is-right-aligned .text { padding-right: 15%; }
	}

	@include media-breakpoint-up(md) {
	    &.is-left-aligned  .text { left: 15%; }
	    &.is-right-aligned .text { right: 15%; }
	}
}

//=========================================
// BTN TILE
//=========================================

.btn-tile {
	display: block; // [LOCK] - flex glitches on outer layer
	position: relative;
	box-shadow: 0 10px 20px 8px rgba(black, 0.2);
	background: rgba(white, 0.2); // temporary
	overflow: hidden;
	transition: transform 300ms ease, box-shadow 300ms ease;

	.btn-tile-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-position: center center;
		background-size: cover;
		background-repeat: none;
		transform: scale(1.09);
		transition: transform 300ms ease, background-size 300ms ease;
	}

	// .btn-tile-overlay {
	// 	display: flex;
	// 	align-items: center;
	// 	justify-content: center;
	// 	text-align: center;
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	padding: rem-calc(30);
	// 	background: rgba(black, 0.5);
	// 	transition: opacity 300ms ease, background-color 300ms ease;

	// 	.btn-tile-header {
	// 		color: white;
	// 	}
	// }

	&:hover {
		box-shadow: 0 10px 20px 10px rgba(black, 0.2);
		transform: scale(1.05);
		z-index: 1;

		@include media-breakpoint-up(xl) {
		    .btn-tile-bg {
		    	transform: scale(1);
		    	background-size: 100%;
		    }
		}
	}
}

//=========================================
//
//=========================================