/*
    FORMS.CSS

    - updated: 02.01.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// CUSTOM SELECT
//-----------------------------------------------------------------

.custom-select {
	-webkit-appearance: none;
	-moz-appearance: none;
}

//-----------------------------------------------------------------
// BOOTSTRAP VALIDATION
// http://1000hz.github.io/bootstrap-validator/#validator-events
//-----------------------------------------------------------------

form[data-toggle="validator"] {
	.error {
		display: none;
		padding: rem-calc(5 10 4 10);
		background: $red;
		font-weight: bold;
		color: white;
	}

	.has-error > .error {
		display: block;
		margin-bottom: $form-group-margin-bottom;
	}

	// .has-error > .form-control {
	// 	border-bottom-left-radius: 0;
	// 	border-bottom-right-radius: 0;
	// 	margin-bottom: 0;
	// }
}

//-----------------------------------------------------------------
// ASTERISK
//-----------------------------------------------------------------

.asterisk {
	font-size: rem-calc(30);
	line-height: 0;
	color: $blue;
}

//-----------------------------------------------------------------
// FORM GROUPS WITH ICONS
//-----------------------------------------------------------------

.form-group.has-icon {
	position: relative;

	> i {
		position: absolute;
		top: rem-calc(24);
		left: rem-calc(15);
		line-height: 0;
		color: rgba(black, 0.4);

		+ input {
			padding-left: rem-calc(40);
		}
	}
}

//-----------------------------------------------------------------
// DEFAULTS
//-----------------------------------------------------------------

fieldset {
	margin-bottom: $spacer;
}

.custom-control {
	margin-bottom: rem-calc(15);
}

form label em,
form label i {
	color: rgba(white, 0.5);
}

//-----------------------------------------------------------------
// FILTER
// Used in /tutorials/
//-----------------------------------------------------------------

.lv-page .select-filter {
	// display: inline-block;
	// width: auto;
	line-height: 1;
	background: white;
	background: $gray-light;
	border: 2px solid #cfd0d3;
	color: #444;
	// height: auto;
	border-radius: $border-radius;
	// box-shadow: 0 1px 4px 2px rgba(black, 0.03);
}

//=========================================
//
//=========================================