/*
    HERO.CSS

    - updated: 08.06.17
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------

$hero-height-sm: auto !default;
$hero-height-md: rem-calc(575) !default;
$hero-height-lg: rem-calc(690) !default;
$hero-height-xl: rem-calc(768) !default;

//-----------------------------------------------------------------
// HERO WRAPPER
// creates the background parallax-ish effect on ALL heroes
//-----------------------------------------------------------------

.lv-hero-wrapper {
    position: relative;
    background-color: #a4a4b5; // todo: add to settings vars
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include media-breakpoint-up(xl) {
        background-attachment: fixed;
    }

    // specified per page
    &.is-tinted {
        @include media-breakpoint-up(xl) {
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(black, 0.4);
            }
        }
    }
}

//-----------------------------------------------------------------
// HERO - CONTROLS HEIGHT
//-----------------------------------------------------------------

.lv-hero {
    height: $hero-height-sm;
    overflow: hidden;

    @include media-breakpoint-up(md) {
        height: $hero-height-md;
    }

    @include media-breakpoint-up(lg) {
        height: $hero-height-lg;
    }

    @include media-breakpoint-up(xl) {
        height: $hero-height-xl;
        border: 1px solid rgba(black, 0.2);
        border-top: 0;
        border-bottom: 0;
        box-shadow: 0px -30px 50px 10px rgba(black, 0.2);
     }

    //=========================================
    // HEIGHT PRESET 1
    // used on internal pages
    //=========================================

    &.has-height-preset-1 {
        height: auto;
        background-position: center center;

        @include media-breakpoint-up(md) {
           height: rem-calc(400); // [LOCKED]
        }

        @include media-breakpoint-up(xl) {
           height: rem-calc(480); // [LOCKED]
        }

        .lv-hero-item {
            align-items: flex-end; // margin auto failed on ie10
            min-height: 0; // reverse possible option below

            @include media-breakpoint-down(sm) {
                padding-top: 30%;
            }
        }

        h1 {
            position: relative;
            top: rem-calc(3); // 2 is best but IE10
            width: 100%;
        }
    }
}

//-----------------------------------------------------------------
// HERO ITEM (SLIDES) - mostly applies to ZINE COVER
//-----------------------------------------------------------------

.lv-hero-item {
    position: relative; // [LOCKED]
    display: flex;
    width: 100%; // [LOCKED]
    height: 100%; // [LOCKED]
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    // allows cover hero to hug viewport if 100vh above
    > .container {
        display: flex; // [LOCKED]
        flex-direction: column; // [LOCKED]
    }

    // account for topbar on mobile
    @include media-breakpoint-down(sm) {
        padding-top: $header-height-sm; // [LOCKED]
    }
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------