/*
    HERO.CSS

    - updated: 26.05.17
    - notes:
        * liquidvisual recommends bxSlider for hero carousels
        * fixed overflow problem when removing JS
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------

$hero-height-sm:            auto !default; // IMPORTANT: if carousel slides, you need a fixed height
$hero-height-md:            rem-calc(575) !default;
$hero-height-md-fixed:      rem-calc(575) !default;
$hero-height-lg:            rem-calc(690) !default;
$hero-height-xl:            rem-calc(768) !default;
$hero-carousel-bullet-size: rem-calc(16)  !default;

//-----------------------------------------------------------------
// HERO WRAPPER
//-----------------------------------------------------------------

.lv-hero-wrapper {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include media-breakpoint-up(xl) {
        background-attachment: fixed;
    }

    &.is-tinted {
        @include media-breakpoint-up(xl) {
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(black, 0.4);
            }
        }
    }
}

//-----------------------------------------------------------------
// HERO - CONTROLS ALL HEIGHT
//-----------------------------------------------------------------

.lv-hero {
    // width: 100%; // added last minute - breaking?
    height: $hero-height-sm;
    overflow: hidden; // causes problems without JS

    @include media-breakpoint-up(md) {
        height: $hero-height-md;
    }

    @include media-breakpoint-up(lg) {
        height: $hero-height-lg;
        // min-height: rem-calc(960);
    }

    @include media-breakpoint-up(xl) {
        height: $hero-height-xl;
        // min-height: 100vh;
        //
        border-left: 1px solid rgba(black, 0.2);
        border-right: 1px solid rgba(black, 0.2);
        box-shadow: 0px -30px 50px 10px rgba(black, 0.2);
     }

    //=========================================
    // HAS HEIGHT FIXED HEIGHT
    //=========================================

    &.has-fixed-height {
        // height: rem-calc(150); //$hero-height-sm;
        height: auto;
        min-height: 0;
        background-position: center center;

        @include media-breakpoint-up(md) { // added - refactor
           height: rem-calc(400);
        }

        @include media-breakpoint-up(xl) {
           height: rem-calc(480);
        }
    }
}

//-----------------------------------------------------------------
// HERO ITEM (SLIDES)
//-----------------------------------------------------------------

.lv-hero-item {
    display: flex;
    // align-items: flex-end;
    // flex-direction: column;
    width: 100%; // [LOCKED]
    height: 100%; // [LOCKED]
    // min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    > .container {
        display: flex;
        // height: 100%;
        // align-items: flex-end;
        flex-direction: column;
    }

    @include media-breakpoint-down(lg) {
        // background-image: none !important; //override inline style  ????
    }

    @include media-breakpoint-down(sm) {
        padding-top: $header-height-sm; // [LOCKED]
    }
}

//-----------------------------------------------------------------
// HERO CAPTION
//-----------------------------------------------------------------

.lv-hero-item-caption {
    // display: inline-block; // more flexibility
    // width: 100%; /* mobile */
    margin: rem-calc(50 0 30 0);

    @include media-breakpoint-up(md) {
        margin: rem-calc(50 0);
    }

    h1, h2, h3, h4, h5, h6 {
        color: white;
    }

    @include media-breakpoint-up(md) {
        width: auto;
    }
}

//-----------------------------------------------------------------
// SCROLL ENTICE
//-----------------------------------------------------------------

.lv-hero-arrow-scroll {
    position: absolute;
    left: calc(50% - 20px);
    bottom: 30px;
    width: rem-calc(40);
    height: rem-calc(40);
    border-radius: 100%;
    // background: rgba(black, 0.5);
    background: rgba(white, 0.3);
    font-size: rem-calc(30);
    line-height: rem-calc(45);
    text-align: center;
    // color: rgba(white, 0.6);
    color: black;
    z-index: 1;
    animation: pulsate 0.8s ease-out 0.3s alternate infinite;

    @include media-breakpoint-up(lg) {
        bottom: $spacer-y;
        width: rem-calc(50);
        height: rem-calc(50);
        line-height: rem-calc(55);
        font-size: rem-calc(40);
    }

    @keyframes pulsate {
        0% { transform: translateY(0); }
        100% { transform: translateY(10px); }
    }
}