/*
    LISTS.CSS

    - updated: 10.01.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// LIST SPLIT (2x)
// used in /tutorials/
//-----------------------------------------------------------------

.list-split {
    @include media-breakpoint-up(md) {
        position: relative;

        li:nth-child(even) { padding-left: rem-calc(30);  }
        li:nth-child(odd)  { padding-right: rem-calc(30); }

        &:after {
            content: "";
            position: absolute;
            top: 20px;
            left: calc(50% - 1px);
            width: 1px; // [LOCKED]
            height: calc(100% - 35px); // [LOCKED] - looks right
            background: #cfd0d3;
        }
    }

    @include media-breakpoint-up(lg) {
        li:nth-child(even) { padding-left: rem-calc(60);  }
        li:nth-child(odd)  { padding-right: rem-calc(60); }

        &:after {
            width: 2px; // [LOCKED]
        }
    }
}

//-----------------------------------------------------------------
// LIST STYLED
// used in /tutorials/
//-----------------------------------------------------------------

.list-numbered,
.wysiwyg ol {
    list-style-type: none;
    counter-reset: li;
    padding: 0; // [RESET]

    li {
        display: flex; // [LOCKED] - needed for wysiwyg
        margin-bottom: $spacer/1.5; // [LOCKED]
    }

    li:before,
    li .list-digit {
        position: relative;
        top: 1px;
        float: left; // [LOCKED]
        counter-increment: li;
        content: counter(li, decimal-leading-zero);
        margin: rem-calc(0 25 0 0);
        font-family: 'Oswald';
        font-size: rem-calc(28);
        font-weight: 500;
        line-height: 1;
        color: $brand-primary;
    }

    // li .list-digit { color: orange; }

    &.has-custom-digit li:before {
        @include media-breakpoint-up(md) {
            display: none;
        }
    }
}

//-----------------------------------------------------------------
// LISTS
//-----------------------------------------------------------------

// .block-list {
//     list-style: none;
//     padding: 0;

//     li {
//         border-bottom: 1px solid #ccc;
//         padding: rem-calc(30 0);
//     }

//     // Prevent gaps eg. News
//     li:first-child {
//         padding-top: 0;
//     }
// }

//-----------------------------------------------------------------
// BLOCK GRID CONDENSED
//-----------------------------------------------------------------

// .block-grid-condensed {
//     margin: rem-calc(-10);

//     li {
//         padding: rem-calc(10);
//     }
// }

//-----------------------------------------------------------------
// LIST MASONRY
//-----------------------------------------------------------------

// .list-masonry {
//     column-gap: 10px;
//     padding: 0;
//     margin: 0;
//     list-style: none;

//     @include media-breakpoint-up(md) {
//         column-count: 2;
//     }

//     @include media-breakpoint-up(xl) {
//         column-count: 3;
//     }
// }

//=========================================
//
//=========================================