/*
    LISTS.CSS

    - updated: 07.01.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// LIST TABS
//-----------------------------------------------------------------

.list-tabs {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0; // [RESET]
    margin: 0; // [RESET]
    margin-bottom: rem-calc(-40);

    @include media-breakpoint-up(md) {
        margin-bottom: rem-calc(-60);
    }

    .nav-item a {
        display: block;
        padding: rem-calc(15 30);
        font-size: rem-calc(20);
        font-weight: 500;
        color: rgba($gray-light, 0.8);
        border-radius: $border-radius $border-radius 0 0;
        transition: none;

        &.active {
            background: $gray-dark;
        }
    }
}

//-----------------------------------------------------------------
// SPLIT GRID
// Used in tutorials
//-----------------------------------------------------------------

.split-grid {
    @include media-breakpoint-up(md) {
        position: relative;

        li:nth-child(even) { padding-left: rem-calc(60);  }
        li:nth-child(odd)  { padding-right: rem-calc(60); }

        &:after {
            content: "";
            position: absolute;
            top: 20px;
            left: calc(50% - 1px);
            width: 1px;
            height: calc(100% - 20px);
            background: #cfd0d3;
        }
    }

    @include media-breakpoint-up(lg) {
        &:after {
            width: 2px;
        }
    }
}

//-----------------------------------------------------------------
// LIST STYLED
// Used in tutorials
//-----------------------------------------------------------------

.list-numbered,
.wysiwyg ol {
    list-style-type: none;
    counter-reset: li;
    padding: 0; // [RESET]

    li {
        display: flex;
        margin-bottom: $spacer/1.5;
    }

    li:before {
        position: relative;
        top: 1px;
        float: left; // [LOCKED]
        counter-increment: li;
        // content: counter(li, decimal-leading-zero);
        margin: rem-calc(0 25 0 0);
        font-family: 'Oswald';
        font-size: rem-calc(25);
        font-weight: 500;
        line-height: 1;
        color: $brand-primary;
    }
}

.list-numbered li[data-index]:before {
    // content: attr(data-index decimal-leading-zero);
}

//-----------------------------------------------------------------
// LISTS
//-----------------------------------------------------------------

// .block-list {
//     list-style: none;
//     padding: 0;

//     li {
//         border-bottom: 1px solid #ccc;
//         padding: rem-calc(30 0);
//     }

//     // Prevent gaps eg. News
//     li:first-child {
//         padding-top: 0;
//     }
// }

//-----------------------------------------------------------------
// BLOCK GRID CONDENSED
//-----------------------------------------------------------------

// .block-grid-condensed {
//     margin: rem-calc(-10);

//     li {
//         padding: rem-calc(10);
//     }
// }

//-----------------------------------------------------------------
// LIST MASONRY
//-----------------------------------------------------------------

// .list-masonry {
//     column-gap: 10px;
//     padding: 0;
//     margin: 0;
//     list-style: none;

//     @include media-breakpoint-up(md) {
//         column-count: 2;
//     }

//     @include media-breakpoint-up(xl) {
//         column-count: 3;
//     }
// }

//=========================================
//
//=========================================