/*
    PANELS.CSS

    - updated: 09.01.18
    - liquidvisual.com
*/
//--------------------------------------------------------------------
// VARIABLES
//--------------------------------------------------------------------
//--------------------------------------------------------------------
// PANELS
//--------------------------------------------------------------------

.panel-box {
	position: relative;
	padding: $spacer*1.5;
	background: white;
	box-shadow: 2px 3.464px 8px 0 rgba(39, 44, 49, 0.12), 8px 13.856px 38px 0 rgba(39, 44, 49, 0.08);

	p, ul, ol {
		font-size: rem-calc(16);
	}

	.form-control {
		background: darken($gray-light, 2%);
		color: $gray;
	}

	.panel-box-body {
		position: relative;
		z-index: 1;
	}
}

//-----------------------------------------------------------------
// SPRITE LONG DRIP
//-----------------------------------------------------------------

// .panel-box .sprite-small-drip {
// 	position: absolute;
//     top: 0;
//     right: rem-calc(8);
//     width: rem-calc(40);
//     height: rem-calc(70);
//     background: url(/assets/img/layout/sprite-small-drip.svg) no-repeat top center;
//     background-size: contain;
// }

.panel-box {
	.sprite-long-drip {
	    position: absolute;
	    top: 0;
	    right: rem-calc(12);
	    font-size: 4px; // pixels only
	    opacity: 0.4;
	}
}

//-----------------------------------------------------------------
// INFO PANEL
// used in /hire/ for availability
//-----------------------------------------------------------------

.info-panel {
	display: flex;
	align-items: center;
	padding: $spacer;
	margin-bottom: $spacer;
	background: rgba(white, 0.1);
	border-radius: $border-radius;
}

// refactor elsewhere
.availability-orb {
	position: relative; // [LOCKED]
	width: rem-calc(30);
	min-width: rem-calc(30);
	height: rem-calc(30);
	// background: #f45f5e; // red
	background: #73bc4c;
	border-radius: 100%;
	margin-right: $spacer;
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================