/*
    SOCIAL-MEDIA.CSS

    - updated: 25.05.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// SOCIAL
//-----------------------------------------------------------------

.social-media {
	list-style: none;
	padding: 0;
	margin: 0;

	a {
		display: flex;
		align-items: center;
		color: white;
		font-size: rem-calc(12);
		font-weight: 600;

		.icon {
			display: flex;
			align-items: center;
			justify-content: center;
			width: rem-calc(40);
			min-width: rem-calc(40); // [LOCKED]
			height: rem-calc(40);
			margin-right: rem-calc(15);
			border-radius: 100%;
			// border-radius: $border-radius/2;
			font-size: rem-calc(24);
			transition: transform 200ms ease;
		}

		.text {
			color: rgba(white, 0.4);

			.text-anchor {
				display: block;
				color: white;
			}
		}

		&:hover .icon {
			transform: scale(0.9);
		}
	}

	//=========================================
	// https://brandcolors.net
	//=========================================

	// .codepen    { color: black; }
	// .dribbble   { color: #ea4c89; }
	// .facebook   { color: #3b5998; }
	// .github     { color: #9f7be1; }
	// .google-pus { color: #dd4b39; }
	// .instagram  { color: #405de6; }
	// .linked-in  { color: #405de6; }
	// .pinterest  { color: #bd081c; }
	// .slack      { color: #e9a820; }
	// .twitter    { color: #1da1f2; }
	// .youtube    { color: #cd201f; }

	.codepen .icon     { background: black;   }
	.dribbble .icon    { background: #ea4c89; }
	.facebook .icon    { background: #3b5998; }
	.github .icon      { background: #9f7be1; }
	.google-plus .icon { background: #dd4b39; }
	.instagram .icon   { background: #0077b5; }
	.linked-in .icon   { background: #405de6; }
	.pinterest .icon   { background: #bd081c; }
	.slack .icon       { background: #e9a820; }
	.trello .icon      { background: #0079bf; }
	.twitter .icon     { background: #1da1f2; }
	.youtube .icon     { background: #cd201f; }

	//=========================================
	// DISQUS
	//=========================================

	.disqus .icon {
		width: auto !important; // override breadcrumb context
		padding: rem-calc(0 12);
		border: 2px solid lighten($gray, 50%); //darken($gray-light, 30%);
		border-radius: rem-calc(50);
		color: $gray;
	}

	//=========================================
	// INSTAGRAM
	//=========================================

	.instagram .icon {
		background: radial-gradient(circle farthest-corner at 32% 106%, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), linear-gradient(135deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
	}
}

//-----------------------------------------------------------------
// CONTEXT
//-----------------------------------------------------------------
//=========================================
// BREADCRUMB
//=========================================

.breadcrumb .social-media {
	display: flex;

	a {
		.icon {
			margin: rem-calc(0 0 0 10);
			font-size: rem-calc(16);
			// width: rem-calc(35);
			// height: rem-calc(35);
			width: rem-calc(38);
			height: rem-calc(38);
		}
	}
}

//=========================================
// FOOTER
//=========================================

.global-footer .social-media {
	// display: flex;

	margin: rem-calc(0);

	li {
	    padding: rem-calc(0);
	}

	a {
		color: white;
	}

	.icon {
		background: none;
	}

	.codepen .icon {
		color: white;
	}

	// .trello {
	// 	display: none; ?
	// }

	.codepen    { color: black; }
	.dribbble   { color: #ea4c89; }
	.facebook   { color: #3b5998; }
	.github     { color: #9f7be1; }
	.google-pus { color: #dd4b39; }
	.instagram  { color: #405de6; }
	.linked-in  { color: #405de6; }
	.pinterest  { color: #bd081c; }
	.slack      { color: #e9a820; }
	.trello     { color: #0079bf; }
	.twitter    { color: #1da1f2; }
	.youtube    { color: #cd201f; }
}

//=========================================
// OFFCANVAS - refactor whole social
//=========================================

.lv-off-canvas .social-media {
	padding: rem-calc(20 0);

	a {
		margin-bottom: rem-calc(10);
		padding: 0;
	}
}

//-----------------------------------------------------------------
// CONTEXT
//-----------------------------------------------------------------

.lv-off-canvas .social-media {
	margin: $spacer 0;
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================