/*
    SPRITES.CSS

    - updated: 16.12.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// SPRITES
//-----------------------------------------------------------------

.sprite-long-drip {
    // font-size: 13px; // use contexts to adjust this
    width: calc(#{em-calc(172)} - 1px); // squash rounding bug
    height: em-calc(480);
    background: url(/assets/img/layout/spritesheet-long-drip@2x.png) no-repeat;
    background-size: cover; //em-calc(6192);
    overflow: hidden;
    // box-shadow: 0px 0px 1px 3px red;
}

.has-loaded .sprite-long-drip {
    animation: long-drip 1s 0.1s steps(35) forwards 1;
}

@keyframes long-drip {
      100% { background-position: calc(#{em-calc(-172px*35)}); }
}

//-----------------------------------------------------------------
// BRAIN (HIRE)
//-----------------------------------------------------------------

.sprite-brain {
    position: relative;
    transform: scaleX(-1);
    margin-bottom: $spacer;

    // filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    //     filter: gray; /* IE6-9 */
    //     -webkit-filter: grayscale(100%);

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        &:first-of-type {
            position: static;
        }
    }

    img:nth-child(2) { animation: brain-pulse 0.5s ease-in-out 0s alternate infinite; }
    img:nth-child(3) { animation: brain-pulse 0.7s ease-in-out 0.1s alternate infinite; }
    img:nth-child(4) { animation: brain-pulse 0.5s ease-in-out 0.2s alternate infinite; }
    img:nth-child(5) { animation: brain-pulse 0.5s ease-in-out 0.3s alternate infinite; }
    img:nth-child(6) { animation: brain-pulse 0.5s ease-in-out 0.4s alternate infinite; }

    @keyframes brain-pulse {
        0%   { opacity: 0.7; }
        100% { opacity: 1; }
    }
}





//-----------------------------------------------------------------
// RIPPLE - used on hire page
//-----------------------------------------------------------------

.ripple {
   font-size: rem-calc(30); // control size here
   opacity: 0.8;
}

.ripple:before,
.ripple:after {
   position: absolute;
   top: 0;
   left: 0;
   content: "";
   width: 1em;
   height: 1em;
   border: 1.5px solid #73bc4c;
   border-radius: 100%;
   transform: scale(0);
   animation: ripple 2s ease-out 0s infinite;
}

.ripple:after {
   animation: ripple 2s ease-out 0.5s infinite;
}

@keyframes ripple {
    0%   {
       transform: scale(0);
       opacity: 1;
   }
    100% {
       transform: scale(2);
       opacity: 0;
   }
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================