/*
    TYPE.CSS

    - updated: 09.01.18
*/
//--------------------------------------------------------------------
// VARIABLES
//--------------------------------------------------------------------
//--------------------------------------------------------------------
// TYPE
//--------------------------------------------------------------------

html {
	@include media-breakpoint-down(xl) { font-size: 14px; }
	@include media-breakpoint-down(md) { font-size: 12px; }
	@include media-breakpoint-down(sm) { font-size: 14px; }
}

//-----------------------------------------------------------------
// HEADINGS
//-----------------------------------------------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	// word-wrap: break-word; // experiment
	// transform: scaleX(0.93);
	// transform-origin: left;
	// -webkit-text-size-adjust: none;

	small { // superfluous so far
		font-family: $font-family-sans-serif;
		font-weight: $font-weight-bold;
		color: darken($gray-light, 35%);
	}

	&.subheader {
		font-weight: 600; // is 500 necessary?
	}
}

//-----------------------------------------------------------------
// DISPLAY HEADINGS
//-----------------------------------------------------------------

.display-1,
.display-2,
.display-3,
.display-4 {
	// text-transform: uppercase;
	// line-height: 1.1;
	// line-height: 0.9; // comment
}

//-----------------------------------------------------------------
// HEADINGS MOBILE
//-----------------------------------------------------------------

@include media-breakpoint-down(sm) {
    h1, .h1 { font-size: calc(#{$h1-font-size} - 64%); }
    h2, .h2 { font-size: calc(#{$h2-font-size} - 40%); }
    h3, .h3 { font-size: calc(#{$h3-font-size} - 20%); }
    h4, .h4 { font-size: calc(#{$h4-font-size} - 24%); }
    h5, .h5 { font-size: calc(#{$h5-font-size} - 15%); }
    // h6, .h6 { font-size: calc(#{$h6-font-size} - 2%); }
}

@include media-breakpoint-down(sm) {
	.display-1 { font-size: $h1-font-size; }
	// .display-1 { font-size: calc(#{$display1-size} - 100%); }
    // .display-2 { font-size: calc(#{$display1-size} - 100%) !important; }
    // .display-3 { font-size: calc(#{$display1-size} - 100%) !important; }
    // .display-4 { font-size: calc(#{$display1-size} - 100%) !important; }
}

//-----------------------------------------------------------------
// ANCHORS
//-----------------------------------------------------------------

a, button {
	font-weight: $font-weight-bolder;
	word-break: break-word; // handles long links in safari
	transition: color ease 300ms, background-color ease 300ms;
}

//-----------------------------------------------------------------
// TOOLTIP
//-----------------------------------------------------------------

[data-toggle="tooltip"] {
	padding-bottom: rem-calc(2);
	border-bottom: 2px dotted rgba($primary, 0.7);
	cursor: help;
}

//-----------------------------------------------------------------
// PARAGRAPHS
//-----------------------------------------------------------------

p, ul, ol, td {
	font-size: rem-calc(17);

	@include media-breakpoint-up(md) {
	    // font-size: rem-calc(19); // [LOCKED] - need? check tuts item
	}
}

//=========================================
// LEAD
//=========================================

p.lead {
	margin-bottom: $spacer*2;
	line-height: 1.4;

	@include media-breakpoint-down(sm) {
	    font-size: rem-calc(21); // [LOCKED] - special order
	}
}

//=========================================
// PULL QUOTE
//=========================================

.pullquote {
	padding: rem-calc(20 20);
	font-size: $lead-font-size;
	font-weight: 500;
	font-style: italic;
	color: $primary;

	@include media-breakpoint-down(sm) {
	    font-size: rem-calc(21); // [LOCKED] - special order
	}

	@include media-breakpoint-up(md) {
		position: relative;
		width: 50%;
		margin: rem-calc(10 30 15 -75);
	    float: left;
	}

	// &:before {
	// 	content: "‛‛";
	// 	position: absolute;
	// 	bottom: rem-calc(5);
	// 	left: rem-calc(-40);
	// 	font-family: Georgia, TimesNewRoman, "Times New Roman", Times serif;
	// 	font-size: rem-calc(100);
	// 	color: darken($gray-light, 5%);
	// }
}

//=========================================
// DROPCAP
//=========================================

.dropcap::first-letter,
.dropcap > p::first-letter {
	margin: rem-calc(0 5 0 -5);
	float: left;
	font-size: rem-calc(64); // [LOCKED] - check other browsers
	font-weight: 400;
	line-height: 1;
	// line-height: rem-calc(60);
	color: $primary;
}

//-----------------------------------------------------------------
// SPACER / DIVIDER / HR
//-----------------------------------------------------------------

.spacer {
	width: 1px;
	height: 1px;
}

.divider {
	height: 2px;
	border: 0;
	margin: $spacer*1.5 0 $spacer*2 0;
	background: linear-gradient(to right, $primary 0%, $secondary 100%);

	@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi) {
	    height: 1.5px;
	}
}

hr {
	border-width: 2px;

	@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi) {
	    border-width: 1.5px;
	}
}

//-----------------------------------------------------------------
// FONT FAMILIES
//-----------------------------------------------------------------

.font-family-oswald {
	font-family: Oswald;
	font-weight: 600;
}

.font-family-times {
	font-family: Times;
	font-weight: 400;
}

//=========================================
//
//=========================================