/*
    ZINE-FOOTER.CSS

    - Last updated: 15.12.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// ZINE FOOTER
//-----------------------------------------------------------------

.zine-footer {

	// Make barcode flush with the magazine bottom
    > .container {
    	position: relative;

    	@include media-breakpoint-down(lg) {
    	    padding: 0;
    	    max-width: none;
    	}
    }
}

//-----------------------------------------------------------------
// ZINE FOOTER BARCODE (IMG)
//-----------------------------------------------------------------

img.zine-footer-barcode {
	position: relative;
	box-sizing: content-box;
    width: rem-calc(100);
    padding: rem-calc(4 10 4 4);
    border-radius: 0 2px 0 0; // small touch
    background: white;
    z-index: 1;

    @include media-breakpoint-up(md) {
        width: rem-calc(150);
    }
}

//-----------------------------------------------------------------
// ZINE FOOTER CORNER
//-----------------------------------------------------------------

.zine-footer-corner {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 180px 180px;
	border-color: transparent transparent rgba(#81799b, 0.8) transparent;
	transform: rotate(360deg);

	@include media-breakpoint-up(xl) {
	    right: $container-gutter*2;
	}

	.text {
		position: absolute;
		right: $spacer;
		transform: rotate(-45deg);
		top: 100px;
		font-size: rem-calc(20);
		line-height: 1;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		color: white;
	}
}

//-----------------------------------------------------------------
// ZINE FOOTER ITEMS (UL)
//-----------------------------------------------------------------

ul.zine-footer-items {
	display: table;
	table-layout: fixed;
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0;
	padding: 20px 0 20px rem-calc(150+40);
	background: rgba(grey, 0.8); //$brand-primary; //rgba(black, 0.3);

	li {
		display: table-cell;
		text-align: center;
		vertical-align: top;

		.zine-footer-item {
			display: inline-block;
			text-align: left;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: rem-calc(5);
		text-transform: uppercase;
		color: white;
	}

	p {
		margin-bottom: 0;
		font-size: rem-calc(14);
		font-family: $headings-font-family;
		// font-weight: 600;
		// text-transform: uppercase;
		// color: #222;
		color: #999;
	}
}

//=========================================
//
//=========================================