/*
    ZINE-COVER.CSS

    - Last updated: 15.12.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// ZINE TITLE
//-----------------------------------------------------------------

.zine-title {
	margin-top: rem-calc(100);
    opacity: 0.8;

    @include media-breakpoint-up(md) {
        top: rem-calc(150);
    }

    @include media-breakpoint-up(xl) {
        position: absolute;
        top: rem-calc(30);
        left: 0;
        width: 100%;
    }

    h1 {
        color: white;
        font-size: rem-calc(190);
        font-weight: 100;
        color: white;
    }
}

.special-border {
	border: 3px solid rgba(white, 0.3);
	padding: rem-calc(14);
	// background: rgba(#1b1b21, 0.6);
	// box-shadow: 0 0 90px 0 $brand-primary;
	// border-radius: $border-radius;
}

//-----------------------------------------------------------------
// SPRITE LONG DRIP
//-----------------------------------------------------------------

// .lv-hero-wrapper .sprite-long-drip {
// 	position: absolute;
// 	top: 970px;
// 	right: 810px;
// 	font-size: rem-calc(6);
// }

//-----------------------------------------------------------------
// FOOTER
//-----------------------------------------------------------------

.lv-hero-wrapper .zine-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

//-----------------------------------------------------------------
// FEATURE BUBBLE
//-----------------------------------------------------------------

.lv-hero-wrapper .zine-feature-bubble {
	position: absolute;
	bottom: 15vh;
	left: rem-calc(26);
}

//-----------------------------------------------------------------
// HERO CAPTION
//-----------------------------------------------------------------

.lv-hero-item-caption {

	p {
		color: white;
		// text-transform: uppercase;
	}
}

//-----------------------------------------------------------------
// TAGLINES
//-----------------------------------------------------------------

.zine-feature-tagline {
    width: rem-calc(450);
    display: inline-block;
    margin-bottom: $spacer;

    h1, h2, h3, h4, h5, h6 {
        text-transform: uppercase;
        margin-bottom: rem-calc(16);
    }

    .text-highlight,
    .text-highlight-white {
        display: inline;
        background: $brand-primary;
        box-shadow: 0px 0 0px 10px $brand-primary;
        // line-height: 1.2;
        color: white;
        font-family: $headings-font-family;
        font-size: rem-calc(16);
    }

    .text-highlight-white {
    	background: white;
    	box-shadow: 0px 0 0px 10px white;
    	color: black;
    	opacity: 0.8;
    }

    .text-highlight-grad {
    	background: linear-gradient(to right,  $brand-primary 0%,$brand-secondary 100%);
    	box-shadow: none;
    }
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.brand-primary {
    color: $brand-primary;
    color: rgba(black, 0.5);
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================