/*
    ZINE-COVER.CSS

    - Last updated: 15.12.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// ZINE BODY
//-----------------------------------------------------------------

.zine-body {
    margin: auto 0;
    font-weight: bold;
    color: white;

    h1, h2, h3, h4, h5, h6 {
        color: white;
    }
}

.zine-footer {
    // margin-top: auto;
    // margin: 0;
}

//-----------------------------------------------------------------
// ZINE TITLE
//-----------------------------------------------------------------

.zine-title {
    margin-top: rem-calc(50);
    margin-bottom: rem-calc(30);
    opacity: 0.8;
    // margin-bottom: rem-calc(140);

    @include media-breakpoint-up(md) {
        margin-top: rem-calc(130);
    }

    h1 {
        color: white;
        font-size: rem-calc(190);
        font-weight: 100;
        color: white;
    }
}

//-----------------------------------------------------------------
// HERO CAPTION
// There are only captions on standard heros
//-----------------------------------------------------------------

// .lv-hero-item-caption {

// 	p {
// 		color: white;
// 	}
// }

//-----------------------------------------------------------------
// ZINE FEATURE BORDER
//-----------------------------------------------------------------

.zine-feature-border {
    padding: $spacer;
    border: 3px solid rgba(white, 0.8);
    color: white;
    background: rgba(white, 0.15);
}

//-----------------------------------------------------------------
// TAGLINES
// * https://stackoverflow.com/questions/26062154/is-it-possible-to-create-box-shadow-effect-for-inline-text
//-----------------------------------------------------------------

.zine-feature-tagline {
    max-width: rem-calc(450);
    display: inline-block;
    margin-bottom: $spacer;

    h1, h2, h3, h4, h5, h6 {
        text-transform: uppercase;
        margin-bottom: rem-calc(16);
    }

    .text-highlight,
    .text-highlight-white {
        display: inline;
        position: relative;
        background: $brand-primary;
        font-family: $headings-font-family;
        font-size: rem-calc(16);
        color: white;
        box-shadow: 0 0 0 rem-calc(10) $brand-primary;
        box-decoration-break: clone; // *
    }

    .text-highlight-white {
    	background: white;
    	box-shadow: 0 0 0 rem-calc(10) white;
    	color: black;
    	opacity: 0.8;
    }
}

//=========================================
// CONTEXT DIRECTIONS
//=========================================

.text-right {
    .zine-feature-tagline .text-highlight {
        left: rem-calc(-10);
    }
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.brand-primary {
    color: $brand-primary;
    color: rgba(black, 0.5);
}

.brand-black-transparent {
    color: rgba(black, 0.5) !important;

}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================