/*
    ZINE-COVER.CSS

    - Last updated: 07.07.18, 15.12.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// ZINE
//-----------------------------------------------------------------

.zine {
    display: flex;
    flex-direction: column;
    width: 100%;
    // border: 2px dashed aqua;
}

//-----------------------------------------------------------------
// ZINE TITLE (FREELANCER)
//-----------------------------------------------------------------

.zine-title {
    margin: rem-calc(50 0);
    opacity: 0.8;

    @include media-breakpoint-up(md) {
        margin-top: rem-calc(130);
    }
}

//-----------------------------------------------------------------
// ZINE BODY
//-----------------------------------------------------------------

.zine-body {
    font-weight: bold; // [LOCKED]
    color: white;

    h1, h2, h3, h4, h5, h6 {
        color: white; // needed?
    }
}

//-----------------------------------------------------------------
// ZINE FEATURE BORDER (MAIN CLAIM)
//-----------------------------------------------------------------

.zine-feature-border {
    padding: $spacer;
    border: 3px solid rgba(white, 0.8);
    color: white;
    background: rgba(white, 0.15);
}

//-----------------------------------------------------------------
// TAGLINES
// * https://stackoverflow.com/questions/26062154/is-it-possible-to-create-box-shadow-effect-for-inline-text
//-----------------------------------------------------------------

.zine-feature-tagline {
    display: inline-block;
    max-width: rem-calc(450);
    margin-bottom: $spacer;

    h1, h2, h3, h4, h5, h6 {
        text-transform: uppercase;
        margin-bottom: rem-calc(16);
    }

    .text-highlight,
    .text-highlight-white {
        display: inline;
        position: relative;
        background: $brand-primary;
        // font-family: $headings-font-family;
        font-size: rem-calc(16);
        color: white;
        box-shadow: 0 0 0 rem-calc(10) $brand-primary;
        box-decoration-break: clone; // *
    }

    .text-highlight-white {
    	background: white;
    	box-shadow: 0 0 0 rem-calc(10) white;
    	color: #222;
    	opacity: 0.8;
    }
}

//=========================================
// CONTEXT DIRECTIONS
//=========================================

.text-right {
    .zine-feature-tagline .text-highlight,
    .zine-feature-tagline .text-highlight-white {
        left: rem-calc(-10);
    }
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.brand-primary {
    color: $brand-primary;
    color: rgba(black, 0.5);
}

.brand-black-transparent {
    color: rgba(black, 0.5) !important;

}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================