/*
    ZINE-FOOTER.CSS

    - Last updated: 15.12.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// ZINE FOOTER
//-----------------------------------------------------------------

.zine-footer {
	// position: relative;
	// position: absolute;
	// left: -45px;
	// left: 0;
	// bottom: 0;
	// width: 100%;
	// width: calc(100% + 45px);
	margin-top: auto;
}

//-----------------------------------------------------------------
// ZINE FOOTER BARCODE (IMG)
//-----------------------------------------------------------------

img.zine-footer-barcode {
	position: relative;
	// left: rem-calc(-15); // magic
	box-sizing: content-box;
    width: rem-calc(100);
    padding: rem-calc(4 10 4 4);
    border-radius: 0 2px 0 0; // small touch
    background: white;
    z-index: 1;

    @include media-breakpoint-up(md) {
    	// left: rem-calc(-40); // magic
        width: rem-calc(150);
    }

    @include media-breakpoint-up(xl) {
        left: -45px; //rem-calc(-51); // magic
    }

    @include media-breakpoint-up(xxl) {
        left: rem-calc(-44); // magic
    }
}

//-----------------------------------------------------------------
// ZINE FOOTER CORNER
//-----------------------------------------------------------------

.zine-footer-corner {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 180px 180px;
	border-color: transparent transparent rgba(#81799b, 0.8) transparent;
	transform: rotate(360deg);

	@include media-breakpoint-up(xl) {
	    // right: $container-gutter*2;
	}

	.text {
		position: absolute;
		right: $spacer;
		transform: rotate(-45deg);
		top: 100px;
		font-size: rem-calc(20);
		line-height: 1;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		color: white;
	}
}

//-----------------------------------------------------------------
// ZINE FOOTER ITEMS (UL)
//-----------------------------------------------------------------

ul.zine-footer-items {
	display: flex;
	justify-content: space-around;
	position: absolute;
	left: 0;
	bottom: 0;
	width: calc(100% + 45px);
	margin: 0; // [RESET]
	padding: 20px 0 20px rem-calc(164);//rem-calc(150);
	text-align: center;
	list-style: none;
	background: rgba(darken(#8a4368, 3%), 0.6);

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: rem-calc(5);
		text-transform: uppercase;
		color: white;
	}

	p {
		margin-bottom: 0;
		font-size: rem-calc(14);
		font-weight: 600;
		// font-family: $headings-font-family;
		color: #222;
	}
}

//=========================================
//
//=========================================