---
layout: base
---

{% include hero.html %}

<!-- CONTENT -->
<div class="container-wrapper">
    <div class="container">

    	<!-- BODY -->
        <main class="main-content">

			{% if page.breadcrumbs %}
				{% include snippets/breadcrumb.html %}
			{% endif %}

			{% ifhascontent tagline %}
	        	<!-- TAGLINE -->
	        	<section class="section is-darker">
	        		<div class="container">
	        			<div class="row justify-content-center">
	        				<div class="col-md-10 col-lg-9 text-center">
	        					{% contentblock tagline no-convert %}
	        				</div>
	        			</div>
	        		</div>
	        	</section>
        	{% endifhascontent %}

        	{{ content }}
        </main>

    </div>
</div>

{% contentblock content_additional no-convert %}