<!DOCTYPE html>
<html lang="en" {{ site.environment }}>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="liquidvisual">

    {% comment %}
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.liquidvisual.com">
    <meta property="og:site_name" content="liquidvisual">
    <meta property="og:title" content="liquidvisual">
    <meta property="og:image" content="https://www.liquidvisual.com/facebook.jpg">
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.data.settings.description }}{% endif %}">
    {% endcomment %}

    <meta name="description" content="
    {%- if page.description -%}
        {{- page.description | truncate: 170 -}}
    {%- elsif page.excerpt -%}
        {{- page.excerpt | strip_html | strip_newlines | truncate: 170 -}}
    {% else %}
        {{- site.data.settings.description | truncate: 170 -}}
    {% endif %}">

    <title>
        {%- if page.url == '/' -%}
            {{- site.data.settings.title_homepage | truncate: 60 -}}
        {% else %}
            {{- page.title | truncate: 60 }}
        {%- endif -%}
    </title>

    <!-- CDN -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900|Source+Code+Pro:500,600|Oswald:300,500,600">

    <!-- PRIORITY SCRIPTS -->
    <script src="https://unpkg.com/vue/dist/vue{% unless site.environment == 'development' %}.min{% endunless %}.js"></script>
    <script>Vue.config.productionTip = false;</script>
    <script src="/tutorials/posts.js"></script>

    <!-- build:css({src,.tmp}) /assets/css/minified.css -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->

   <!--  <script type="text/javascript">
        (function() {
            var trial = document.createElement('script');
            trial.type = 'text/javascript';
            trial.async = true;
            trial.src = 'https://easy.myfonts.net/v2/js?sid=348180(font-family=Steradian+Ultra+Light+Italic)&sid=348186(font-family=Steradian+Regular)&sid=348188(font-family=Steradian+Medium)&sid=348190(font-family=Steradian+Bold)&key=biaweWCOQG';
            var head = document.getElementsByTagName("head")[0];
            head.appendChild(trial);
        })();
    </script> -->

</head>
<body class="{{ page.theme }}">

    {% include snippets/loader.html %}

    <div class="lv-page">

        <!-- HEADER -->
        <header class="global-header fixed-top">
            <div class="container">
                {% include header.html %}

                <!-- NAVIGATION -->
                <nav class="global-navigation hidden-md-down">
                    <div class="lv-topbar">
                        {% include snippets/navigation.html %}
                    </div>
                </nav>
            </div>
        </header>

        {{ content }}

        <!-- FOOTER -->
        <footer class="global-footer">
            {% include footer.html %}
        </footer>

    </div> <!-- /.lv-page -->

    <!-- OFF-CANVAS MENU -->
    <nav class="lv-off-canvas" data-off-canvas-menu aria-hidden="true">
        {% include snippets/navigation.html %}
    </nav>

    <!--[if lte IE 9]>
    <div class="lv-alert-bar">
        <p>You're using an outdated browser. Please <a title="Click me, you know you want to." href="http://outdatedbrowser.com">upgrade your browser</a> to improve your experience.</p>
        <span class="lv-alert-bar-close-btn">&times;</span>
    </div>
    <![endif]-->

    <!-- **** JAVASCRIPT **** -->

    <!-- build:js({src,.}) /assets/scripts/minified.js -->
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/popper.js/dist/umd/popper.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/node_modules/bootstrap-validator/dist/validator.js"></script>
    <script src="/node_modules/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script src="/assets/scripts/liquidvisual/utilities.js"></script>
    <script src="/assets/scripts/liquidvisual/responsive-utility.js"></script>
    <script src="/assets/scripts/vendor/headroom.js"></script>
    <script src="/assets/scripts/vendor/parallax.js"></script>
    <script src="/assets/scripts/vendor/pxgradient-1.0.3.js"></script>
    <script src="/assets/scripts/off-canvas.js"></script>
    <script src="/assets/scripts/parallax.js"></script>
    <script src="/assets/scripts/main.js"></script>
    <!-- endbuild -->

    {% include snippets/google_analytics.html %}

    <!-- NO JAVASCRIPT WARNING -->
    <noscript>
        <div class="lv-alert-bar">
            <p>Your browser has Javascript disabled. Some features may be limited.</p>
        </div>
    </noscript>

</body>
</html>