---
layout: base
---

{% include hero.html %}

{% if page.breadcrumbs %}
	{% include snippets/breadcrumb.html %}
{% endif %}

<!-- BODY -->
<main class="main-body">

	{% ifhascontent tagline %}
    	<!-- TAGLINE -->
    	<section class="section is-darker has-darker-bleed">
    		<div class="container">
    			<div class="row justify-content-center">
    				<div class="col-md-11 col-lg-9 text-center">
    					{% contentblock tagline no-convert %}
    				</div>
    			</div>
    		</div>
    	</section>
	{% endifhascontent %}

	{{ content }}
</main>

{% contentblock content_additional no-convert %}