---
layout: base
---

{% assign settings = site.data.settings %}
{% assign featured = site.data.sitemap[3].children | where: "featured", true %}

{% include hero_cover_01.html %}

{% comment %}

<!-- BODY DARK -->
<section class="spec-section is-dark has-darker-bleed section-editorial">
	<div class="container">

		<!-- SPRITE LONG DRIP -->
		<div class="sprite-long-drip is-large"></div>

		<div class="row">
			<div class="col-md-8 order-2">
				<h2 class="contents">CON<br>TEN<br>TS</h2>

				<br>

				<h3 class="display-4 brand-secondary-color">Editorial</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco.</p>
			</div>
			<div class="col-md-4 order-1 pr-md-4">

				<h4 class="h3 subheader" style="font-weight: normal;"><span class="num">01</span> Reclusive</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut.</p>

				<h4 class="h3 subheader" style="font-weight: normal;"><span class="num">02</span> Blarg!</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation.</p>

				<h4 class="h3 subheader" style="font-weight: normal;"><span class="num">03</span> Dan &amp; Mitch</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing
				quis nostrud exercitation.</p>

				<h4 class="h3 subheader" style="font-weight: normal;"><span class="num">04</span> Soberfish</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et
				quis nostrud exercitation.</p>

				<h4 class="h3 subheader" style="font-weight: normal;"><span class="num">05</span> Kleptobreaker</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor.</p>

				<h4 class="h3 subheader" style="font-weight: normal;"><span class="num">06</span> Other</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation.</p>
			</div>

		</div>
	</div>
</section>

<!-- BODY LIGHT -->
<section class="spec-section is-light has-image-bg has-light-bleed section-bio-1">
	<div class="container">
		<div class="page-tear-top"></div>
		<div class="row">
			<div class="col-lg-6 ml-auto">
				<h2 class="display-2 font-family-oswald">I'm a neurotic, anxious and self-loathing <span class="brand-primary-color font-weight-thin">designer</span> with imposter syndrome. But on the outside I'm normal.</h2>
			</div>
		</div>
	</div>
</section>

<!-- BODY DARK -->
<section class="spec-section is-darker">
	<div class="container">
		<div class="row">
			<div class="col-xl-8">
				<h3 class="h2">SOBERFISH</h3>
				<p>And then there's Soberfish, a card game I'm developing - it's intended to be a mixture of Cards Against Humanity and Mad Libs. Who know if it'll be any good. Here's the sort of rubbish we're doing...</p>
			</div>
		</div>
	</div>
</section>

<!-- BODY LIGHT CEREAL -->
<section class="spec-section is-dark has-dark-bleed has-image-bg section-cereal-box">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<!-- <h2 class="display-2 font-family-oswald">Shit! Why did you go and tell them that?? They'll think you're a nutcase now. And they'll call you a hipster for the blatant apple watch in shot.</h2> -->
				<h2 class="display-2 font-family-oswald">At age 11, I upset my teacher with this monster.</h2>
				<h3>So now you know the sort of person you're dealing with here</h3>
			</div>
		</div>
	</div>
</section>

<!-- BODY LIGHT MAD MAG -->
<section class="spec-section is-light has-image-bg has-dark-bleed section-mad-magazines">
	<div class="container">
		<div class="row">
			<div class="col-md-6 ml-auto">
				<h2 class="display-2 font-family-oswald">My love of Mad Magazines</h2>
			</div>
		</div>
	</div>
</section>

<!-- BODY LIGHT -->
<section class="spec-section has-image-bg has-light-bleed section-bio-2">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<!-- <h2 class="display-2 font-family-oswald">Shit! Why did you go and tell them that?? They'll think you're a nutcase now. And they'll call you a hipster for the blatant apple watch in shot.</h2> -->
				<h2 class="display-2 font-family-oswald">Shit.. What have I done?? They'll think I'm a nutcase now. They'll probably also assume I'm a hipster for the blatant Apple Watch in shot.</h2>
			</div>
		</div>
	</div>
</section>

<!-- BODY DARK DAN AND MITCH -->
<section class="spec-section is-light section-dmo has-image-bg" style="background-image: url(/assets/img/content/danandmitch/soft-bg.png)">

	<div class="section-dmo-wallpaper"></div>

	<div class="container text-center">

		<p class="text-left"><img width="300" src="/assets/img/content/danandmitch/dmo-logo@2x.png" alt="Dan and Mitch"></p>

		<p class="col-4 text-left">On the side I run an unsuccessful weekly YouTube channel. It's a royal pain to keep up with, but I love it dearly, like an ugly child. You know he's doomed for a life of misery but you keep telling yourself he'll become a successful football player. If only he were into sports.</p>
		<p class="col-4 text-left">On Tuesdays I also organise a weekly podcast called 'Another Nerdy Podcast'. I know right.</p>

		<!-- SPRITES -->
		<div class="character-sprites-wrapper">
			<div class="character-sprites">
			    <div class="sprite-dan-torso">
			        <div class="sprite-dan-head">
			            <div class="sprite-dan-head-eyes"></div>
			        </div>
			    </div>
			    <div class="sprite-mitch-torso">
			        <div class="sprite-mitch-head">
			            <div class="sprite-mitch-head-eyes"></div>
			        </div>
			    </div>
			</div> <!-- /.character-sprites -->
		</div> <!-- /.character-sprites-wrapper -->

	</div>
</section>

{% endcomment %}