---
layout: base
---

{% assign settings = site.data.settings %}
{% assign featured = site.data.sitemap[3].children | where: "featured", true %}

<!-- HERO -->
<div class="lv-hero-wrapper" style="background-image: url('{{ page.hero }}')">
	<div class="container">
	    <div class="lv-hero">
		    <div class="lv-hero-item" style="background-image: url('{{ page.hero }}')">
		        <div class="display-table">
		            <div class="display-cell v-align-middle">
	                    <div class="row">
	                        <div class="col-xl-9 col-centered text-xs-center">
	                            <div class="lv-hero-item-caption animated fadeInLeft">
	                                <h1>I Build Websites for Agencies</h1>
	                                <h2 class="h3 subheader">Static sites built right, at last</h2>
	                            </div>
	                        </div>
	                    </div>
		            </div>
		        </div>
		    </div>
	    </div> <!-- /.lv-hero -->

	    <!-- DOWNWARDS ARROW -->
	    <a class="lv-hero-arrow-scroll" href="#tagline"><i class="fa fa-angle-down"></i></a>
    </div>
</div>

<!-- MAIN CONTENT  -->
<div class="container-wrapper">
    <div class="container">
        <main class="main-content">

			<!-- TAGLINE -->
			<section class="section section-darker section-bleed">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-centered text-xs-center">
							<h3><span class="brand-primary-color">I'm curious,</span> who builds your websites?</h3>
							<p>Do you outsource overseas? Perhaps you use a service for PSD to HTML conversion? Understandably so, it’s much faster and cheaper than doing it in-house.</p>
						</div>

					</div>
				</div>
			</section>

			<!-- SERVICES LIST -->
			<section class="section section-dark">
				<div class="container">
					<div class="row">
						<div class="col-md-9 col-centered">
							<h4 class="text-xs-center">Although today there's much more to manage...</h4>
							<br>
							<ul class="block-grid-md-2 text-xs-left">
								<li>Responsive coding</li>
								<li>Multi device testing</li>
								<li>Retina-ready images</li>
								<li>Browser compatibility</li>
								<li>Co-ordinating timezones</li>
								<li>Artwork formats</li>
								<li>Not breaking on the Galaxy S823641</li>
								<li>Language barriers</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<!-- WHO NEEDS WEEKENDS? -->
			<section class="section section-dark section-image" style="background-image: url(/assets/img/content/pink-blur-bg.jpg)">
				<div class="container">
					<div class="row">
						<div class="col-md-9 col-centered">
							<h4>Who needs weekends anyway?</h4>

							<div class="row">
								<div class="col-md-2">
									<img width="100%" src="http://placehold.it/200x250">
								</div>
								<div class="col-md-8">
									<p>Assuming you have settled on an outside crew, securing quality is always a mixed bag.</p>
									<p>When deliverables arrive there’s always something vaguely half-arsed about it; components buckle at weird breakpoints, the mobile implementation kind of sucks, that specific instruction you emphasised twice has been ignored.</p>
								</div>
							</div>

							<p class="lead">Adios Friday Night, the back-and-forth tennis match of accountability is set to begin.<span class="brand-primary-color">Why is this?</span></p>


						</div>

					</div>
				</div>
			</section>

			<!-- BODY -->
			<section class="section section-dark">

				<div class="container">
					<div class="row">
						<div class="col-md-9 offset-3">
							{{ content }}
						</div>
					</div>
				</div>
			</section>

        </main>
    </div>
</div>