---
layout: base__page
---

{% contentfor hero %}

	<section class="section section-english-unlimited is-article is-light">
		<div class="container">

			<!-- BG FILL -->
			<div class="bg-fill"></div>

			<div class="row pt-4">
				<div class="col-md-7 order-md-last">

					<!-- IMAC OVERFLOW -->
					<div class="imac-overflow">

						<!-- DEVICE IMAC -->
						<div class="device-imac mb-4 mb-md-0">
							<img width="100%" src="/assets/img/content/works/english-unlimited/monitor-1.svg" alt="Computer Screen">
							<div class="device-imac-screen">
								<span class="device-imac-screen-bg" style="background-image: url(https://source.unsplash.com/random)"></span>
							</div>
						</div>
					</div>

				</div>
				<div class="col-md-5 d-flex align-items-center">
					<div class="position-relative mb-5">

						{% include snippets/categories.html %}

						<!-- HEADING -->
						<h2 class="mb-4">
							<img width="100%" class="hidden-sm-down" src="/assets/img/content/works/english-unlimited/heading-english-unlimited--light.svg" alt="English Unlimited College">
							<img width="100%" class="hidden-md-up" src="/assets/img/content/works/english-unlimited/heading-english-unlimited--colored.svg" alt="English Unlimited College">
						</h2>

						<!-- LEAD -->
				        <p class="lead">
				        	{{ page.lead }}
				        </p>

			        </div>
				</div>
			</div>
		</div>
	</section>

	<br>
	<br>

	{% if page.breadcrumbs %}
		{% include snippets/breadcrumbs.html classes="is-transparent is-dark" %}
	{% endif %}


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endcontentfor %}