---
layout: base__page
---

{% contentfor hero %}

	<!-- TOP SECTION -->
	<section class="section lv-hero-item-caption mb-4">
		<div class="container">
			<div class="row">
				<div class="col-md-6">

					{% include snippets/categories.html %}

					<!-- HEADING -->
			        <h1 class="display-1 text-uppercase mb-4">
			            {{ page.title }}
			        </h1>

					<!-- LEAD -->
			        <p class="lead">
			        	{{ page.lead }}
			        </p>

				</div>
				<div class="col-md-6">
					<p class="pt-3">
						<img width="100%" src="/assets/img/content/works/startup-onboarding-email-series/birds@2x.png" alt="Birds">
					</p>
				</div>
			</div>
		</div>
	</section>

	{% if page.breadcrumbs %}
		{% include snippets/breadcrumbs.html classes="is-transparent is-light" %}
	{% endif %}


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endcontentfor %}