---
layout: base__page
---

{% contentfor hero %}

	<!-- THOMSON REUTERS 1/2 -->
	<section class="section section-thomson-reuters-1 is-dark">
		<div class="container">

			<!-- MOBILITY HEADING -->
			<!-- <div class="mobility-heading hidden-sm-down"></div> -->

			<!-- REUTERS LOGO -->
			<div class="reuters-logo-overflow">
				<div class="reuters-logo"></div>
			</div>

			<div class="row">
				<div class="col-md-6 col-lg-6 position-relative">

					<!-- IMAGE SIZER -->
					<img class="pr-5" width="100%" src="/assets/img/layout/image-sizer-462x617.svg" alt="Resizer">

					<!-- OFFSET WRAPPER 1 -->
					<div class="offset-wrapper-1 pr-5">

						<!-- PARALLAX NO HOVER -->
						<div class="parallax-no-hover" data-parallax>
							<div class="layer" data-depth="0.6">
								<div class="btn-tile">
									<img width="100%" src="/assets/img/layout/image-sizer-462x617.svg" alt="Red Sky">
									<span class="has-parallax" data-parallax>
										<span class="layer" data-depth="0.3">
											<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/thomson-reuters/sky-bg@2x.jpg)"></span>
										</span>
									</span>
								</div>
							</div>
						</div>

						<!-- IPHONE WRAPPER -->
						<div class="iphone-wrapper">

							<!-- PARALLAX NO HOVER -->
							<div class="parallax-no-hover" data-parallax>
								<div class="layer" data-depth="-0.6">

									<!-- DEVICE IPHONE -->
									<div class="device device-iphone-5">
										<img width="100%" src="/assets/img/content/works/thomson-reuters/iphone-5.svg" alt="Mobile">
										<div class="device-screen">
											<span class="device-screen-bg" style="background-image: url(/assets/img/content/works/thomson-reuters/iphone-5-screen-bg-1.png)"></span>
										</div>
									</div>

								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="col-md-6 position-relative">

					<!-- OFFSET WRAPPER 2 -->
					<div class="offset-wrapper-2 pl-md-5 pr-md-4">

						{% include snippets/categories.html %}

						<!-- HEADING -->
						<h1 class="display-1 text-uppercase mb-4">
							Thomson Reuters Mobility Project
						</h1>

						<!-- LEAD -->
				        <p class="lead">
				        	{{ page.lead }}
				        </p>

						<!-- WYSIWYG -->
						<!-- <div class="wysiwyg mb-4">
							<p>In 2014 Thomson Reuters were ramping up their mobile efforts to remain competitive. Back then many places were still rocking kludgy unresponsive design with slow mobile performance. They brought me in to help adapt their websites and products.
						</div> -->

					</div>

				</div>
			</div>
		</div>
	</section>

	<div class="spacer pb-4 mb-5"></div>

	{% if page.breadcrumbs %}
		{% include snippets/breadcrumbs.html classes="is-transparent is-light" %}
	{% endif %}



{% comment %}

	<!-- TOP SECTION -->
	<section class="section lv-hero-item-caption mb-4">
		<div class="row justify-content-center text-center">
			<div class="col-md-6">

				{% include snippets/categories.html %}

				<!-- HEADING -->
		        <h1 class="display-1 text-uppercase mb-4">
		            {{ page.title }}
		        </h1>

				<!-- LEAD -->
		        <p class="lead">
		        	{{ page.lead }}
		        </p>

			</div>
		</div>
	</section>

	{% if page.breadcrumbs %}
		{% include snippets/breadcrumbs.html classes="is-transparent is-light" %}
	{% endif %}

{% endcomment %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endcontentfor %}