---
layout: base__page
---

{% contentfor tagline %}
	<h2><span class="brand-primary-color">I'm Mitch,</span> a front-end designer.</h2>
	<p class="mb-0">I'm here to take the pain out of agency life with reliable clear-cut communication and top-notch website builds coded here (by me) in Sydney.</p>
{% endcontentfor %}

<!-- SECTION DARK  -->
<section class="spec-section is-dark">

</section>

<!-- SECTION LIGHT -->
<section class="spec-section is-light has-light-bleed has-image-bg section-bio-1" style="height: 43.75rem;">
	<div class="container">
		<div class="page-tear-top"></div>
		<div class="row">
			<div class="col-lg-6 ml-auto">
				<h2 class="display-2 font-family-oswald">I'm a neurotic, anxious and self-loathing <span class="brand-primary-color font-weight-thin">designer</span> with imposter syndrome. But on the outside I'm normal.</h2>
			</div>
		</div>
	</div>
</section>

<!-- TODO:
 ## Hey, I'm Mitch. A Sydney front-end designer to pick up the slack!
 My designer background allows me to cut through those design related snags and make informed decisions about how your site should respond given the situation. A process that would otherwise hold up development with email chains topping the office swear jar.
I'm Mitch and liquidvisual is my brand. Let's do business. -->