---
layout: base__page
---

{% assign title = page.title_override %}
{% assign subtitle = page.subtitle %}
{% assign bio = page.bio %}
{% assign details = page.details %}

<!-- SECTION LIGHT -->
<section class="section section-resume is-light has-light-bleed">
	<div class="container">

		<!-- ROW + COLUMNS -->
		<div class="row">
			<div class="col-md-8 pl-lg-4 ml-auto">

				<!-- MITCH WARREN -->
				<header class="mb-5 text-center text-md-left">

					<h1 class="mb-1">
						{{ title }}
					</h1>

					<p class="h5 text-muted">
						{{ subtitle }}
					</p>

				</header>

				{% comment %}
					<!-- TOOLBAR -->
					<div class="toolbar">
						<button class="btn" title="Print this" data-toggle="tooltip" onclick="window.print()"><i class="fa fa-print"></i></button>
						<button id="download" class="btn" title="Download this" data-toggle="tooltip"><i class="fa fa-download"></i></button>
					</div>
				{% endcomment %}

			</div>
		</div>

		<!-- ROW + COLUMNS -->
		<div class="row">
			<div class="col-md-4">

				<!-- DETAILS PANEL -->
				<div class="details-panel mr-md-2 pt-4 pb-2">

					<!-- PHOTO -->
					<div class="details-panel-photo text-center mr-md-4 mb-3 mb-md-4">
						<img width="55%" class="d-print-none" src="/assets/img/content/avatars/avatar-mitch@2x.jpg" alt="Mitch">
						<img width="40%" class="d-none d-print-inline-block" style="background: white;" src="/assets/img/content/branding/logo-mark--black.svg" alt="Logo">
					</div>

					<!-- DETAILS -->
					{% for item in details %}
						<div class="mb-4">

							<!-- HEADING -->
							<h2 class="h6 font-family-oswald text-uppercase mb-3">
								{{ item.title }}
							</h2>

							<!-- WYSIWYG -->
							<div class="wysiwyg">
								{{ item.body }}
							</div>
						</div>
					{% endfor %}

				</div>

				<!-- CONTACT PANEL -->
				<div class="contact-panel mr-2 mb-5">

					<!-- CONTACT -->
					<h2 class="h6 font-family-oswald text-uppercase mb-3">
						Contact
					</h2>

					<!-- CONTACT DETAILS -->
					<img class="mt-1" src="/assets/img/layout/safe-contact-transparent@2x.png" draggable="false" ondragstart="return false;" alt="Contact Details">

					{% comment %}
						EG. <div class="d-flex align-items-center mb-2">
							<i class="fa fa-envelope-o"></i>
							<b>Email here</b>
						</div>
					{% endcomment %}

				</div>
			</div>
			<div class="col-md-8 pl-lg-4">

				<!-- BIO SECTION -->
				{% for item in bio %}
					<section class="mb-5">

						<!-- BIO GROUP HEADER -->
						<header class="mb-4">
							<h2 class="bio-group-header h6 font-family-oswald text-uppercase mb-2">{{ item.title }}</h2>
							<hr class="mt-0 mb-5">
						</header>

						<!-- BIO ARTICLE -->
						{% for item in item.children %}
							<article>

								{% if item.title %}
									<!-- BIO ARTICLE HEADER -->
									<header class="mb-2 mb-md-3">
										<div class="row">
											<div class="col-md-4 order-md-last text-md-right">
												<span class="d-inline-block mb-3 text-timeframe font-family-oswald">{{ item.timeframe }}</span>
											</div>
											<div class="col-md-8 order-md-first">
												<h3 class="h4 text-primary font-weight-bold mb-2">{{ item.title }}</h3>
												<h4 class="h6 font-family-sans-serif" style="color: #555;">{{ item.subtitle }}</h4>
											</div>
										</div>
									</header>
								{% endif %}

								<!-- WYSIWYG -->
								<div class="wysiwyg">
									{{ item.body | markdownify }}
								</div>

							</article>

							{% unless forloop.last %}
								<hr>
							{% endunless %}

						{% endfor %}

					</section>
				{% endfor %}
			</div>
		</div>
	</div>
</section>