---
layout: base__page
---

{% contentfor tagline %}
	<h2><span class="brand-primary-color">So tell me,</span> which client are you?</h2>
	<div class="spacer mb-3 mb-sm-4"></div>

	<!-- HIRE TABS -->
	<ul class="hire-tabs nav" role="tablist">
		<li class="nav-item">
			<a class="active" data-toggle="tab" href="#digital-agency"  role="tab">Digital Agency</a>
		</li>
		<li class="nav-item">
			<a data-toggle="tab" href="#small-business" role="tab">Small Business</a>
		</li>
	</ul>

{% endcontentfor %}

<!-- SECTION DARK  -->
<section class="section is-dark">
	<div class="container">
		<div class="row">
			<div class="col-md-5">

				<!-- SPRITE BRAIN -->
				<div class="sprite-brain">
					<img width="100%" src="/assets/img/content/hire/brain-0.svg">
					<img width="100%" src="/assets/img/content/hire/brain-1.svg">
					<img width="100%" src="/assets/img/content/hire/brain-2.svg">
					<img width="100%" src="/assets/img/content/hire/brain-3.svg">
					<img width="100%" src="/assets/img/content/hire/brain-4.svg">
					<img width="100%" src="/assets/img/content/hire/brain-5.svg">
					<img width="100%" src="/assets/img/content/hire/brain-6.svg">
				</div>

				<!-- AVAILABILITY NOTICE -->
				<div class="info-panel mr-md-4 mr-lg-0 mb-5 mb-md-4">
				    <div class="availability-orb"><span class="ripple"></span></div>
				    <div>
				        <h4 class="mb-0"><span class="hidden-md-down">Current</span> Availability</h4>
				        <p class="mb-0">
				        	<span class="hidden-md-down">Ready to take on new projects</span>
				        	<span class="hidden-lg-up">Ready for work.</span>
				        </p>
				    </div>
				</div>

				<!-- SOCIAL DESKTOP -->
				<div class="d-none d-md-block">
					{% capture social %}
						{% include snippets/social_media.html preset=1 %}
						{{ social }}

						{% comment %}
						<!-- RESOURCES -->
						<!-- <ul class="social-media block-grid-xs-1 block-grid-lg-2 mb-4">
							<li>
								<a class="icon-resume" title="Get CV" href="/hire/resume/">
									<div class="icon"><i class="fa fa-file"></i></div>
									<span class="text">
										My Resume
										<span class="text-anchor">Grab it here</span>
									</span>
								</a>
							</li>
							<li>
								<a class="icon-cv" title="Interview" href="/hire/interview/">
									<div class="icon"><i class="fa fa-coffee"></i></div>
									<span class="text">
										Simulate Interview
										<span class="text-anchor">Engage!</span>
									</span>
								</a>
							</li>
						</ul> -->
						{% endcomment %}
					{% endcapture %}
				</div>

			</div>
			<div class="col-md-7 pl-lg-5">

				<!-- TAB PANES -->
				<div class="tab-content">
					<div id="digital-agency" class="tab-pane active fade show" role="tabpanel">
						{% include forms/form_digital_agency.html %}
					</div>
					<div id="small-business" class="tab-pane fade" role="tabpanel">
						{% include forms/form_small_business.html %}
					</div>
				</div>

				<!-- SOCIAL MOBILE -->
				<div class="hidden-md-up">
					<div class="spacer mb-5"></div>
					<hr>
					{{ social }}
				</div>

			</div>
		</div>
	</div>
</section>