---
layout: base__page
---

<!-- TAGLINE -->
<section class="section section-darker section-bleed">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-9 text-center">
				<h2><span class="brand-primary-color">You're awesome.</span> Thanks for reaching out.</h2>
				<p class="mb-0">I'll contact you within the next 2 days to discuss next steps.<br> Don't leave the country!</p>
			</div>
		</div>
	</div>
</section>

<!-- CONTENT  -->
<section class="section section-dark section-bleed">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-5">

				<!-- SPRITE BRAIN -->
				<div class="sprite-brain">
					<img width="100%" src="/assets/img/content/hire/brain-0.svg">
					<img width="100%" src="/assets/img/content/hire/brain-1.svg">
					<img width="100%" src="/assets/img/content/hire/brain-2.svg">
					<img width="100%" src="/assets/img/content/hire/brain-3.svg">
					<img width="100%" src="/assets/img/content/hire/brain-4.svg">
					<img width="100%" src="/assets/img/content/hire/brain-5.svg">
					<img width="100%" src="/assets/img/content/hire/brain-6.svg">
				</div>

			</div>
		</div>
	</div>
</section>

{% comment %}

{% endcomment %}
<!-- BODY LIGHT -->
<section class="section section-light section-bleed section-bio-1">
	<div class="container">
		<div class="page-tear-top"></div>
		<div class="row">
			<div class="col-lg-6 offset-lg-6">
				<h2 class="display-2 display-oswald">In the meantime, here have a coupon.</h2>
				<div class="spacer pb-4"></div>
				<img width="80%" src="/assets/img/content/voucher@2x.png">
			</div>
		</div>
	</div>
</section>