---
layout: base__page
---

{% comment %}
{% contentfor tagline %}
	<h2><span class="brand-primary-color">Need a Resume?</span> Sure, here it is.</h2>
	<!-- <p class="mb-0">There's nothing here right now, but this is where you'll find it.</p> -->
	<a href="" class="btn btn-secondary">Print</a>&nbsp; &nbsp; <a class="btn btn-secondary" href="">Download</a>
{% endcontentfor %}
{% endcomment %}

<!-- SECTION DARK -->
<section class="section is-light has-light-bleed">
	<div class="container">

		<!-- HEADER -->
		<header class="mb-4">
			<div class="row">
				<div class="col-md-8 ml-auto">
					<h1 class="mb-1 display-1 text-capitalize">Mitchell Warren</span></h1>
					<h6 class="text-muted">Front-end Developer &amp; Designer</h6>
				</div>
			</div>
		</header>

		<!-- PROFILE -->
		<div class="row">
			<div class="col-md-4">

				<div class="panel-grey" style="padding: 30px 30px 30px 45px; background: rgba(0,0,0,0.08); position: relative; left: -45px;">
					<p class="text-center" style="margin-top: -80px;"><img style="border: 1px solid #dcdee1;" width="50%" class="rounded-circle mr-2" src="/assets/img/content/avatars/avatar-mitch@2x.jpg" alt="Mitch"></p>

					<br>

					<div class="d-flex">
						<i class="fa fa-tablet mr-3"></i>
						<div>
							<h6 class="mb-0">Website</h6>
							<p><a href="">www.liquidvisual.com</a></p>
						</div>
					</div>

					<div class="d-flex">
						<i class="fa fa-envelope mr-3"></i>
						<div>
							<h6 class="mb-0">Email</h6>
							<p><a href="">mitch@liquidvisual.com</a></p>
						</div>
					</div>

					<div class="d-flex">
						<i class="fa fa-mobile mr-3"></i>
						<div>
							<h6 class="mb-0">Phone</h6>
							<p><a href="">040...</a></p>
						</div>
					</div>

					<br><br>

					<h2 class="h4 font-family-oswald">PROFILE</h2>
					<p>I'm a freelance web developer from Sydney who specialises in building clean, usable, modern websites, supporting a range of devices and browsers. With mobile-first strategy my builds are smarter, faster and more adaptable and reach wider audiences. I have a deep understanding of emerging trends in technology, experience in design and a keen enthusiasm for the web.</p>

					<h2 class="h4 font-family-oswald">SKILLS</h2>
					<ul>
						<li>Web design</li>
						<li>Front-end web development</li>
						<li>Product development</li>
						<li>Creative direction</li>
						<li>SEO</li>
						<li>HTML5 / CSS3</li>
						<li>JavaScript</li>
						<li>Vue.js</li>
						<li>Animate</li>
						<li>Final Cut Pro</li>
						<li>Photoshop</li>
						<li>Sketch</li>
					</ul>



				</div>

			</div>
			<div class="col-md-8">

				<h2 class="h5 font-family-oswald mb-2" style="font-weight: 500;">EXPERIENCE</h2>

				<hr class="mt-0">
				<br>

				<b class="font-family-oswald float-right">PRESENT</b>
				<h4 class="subheader mb-1">Freelance Web Developer</h4>
				<p><b>liquidvisual</b></p>
				<p>Building complex and custom website builds for multiple clients and agencies. Performing maintenance and regular updates for small to large scale websites. Building Vue.js apps that integrate with APIs and leveraging static site generators to scaffold websites quickly for client previews. Expertise in future proofing websites with advanced responsive design and mobile strategy. Providing cost effective solutions for agencies seeking scalable, high quality front-end site builds.</p>


				<hr>

				<b class="float-right font-family-oswald">2013 - 2015</b>
				<h4 class="subheader mb-1">Web Developer / Consultant</h4>
				<!-- <p><b>Thomson Reuters</b></p> -->
				<p><b>Thomson Reuters</b></p>

				<p>Contracted to future proof web sites with advanced responsive design and mobile strategy. Providing high quality front-end site builds. Working alongside back-end devs to integrate with Umbraco CMS.</p>


				<hr>

				<b class="float-right font-family-oswald">2011 - 2012</b>
				<h4 class="mb-1 subheader">Designer</h4>
				<h4 class="text-muted">JR Interactive</h4>
				<p>Contracted fulltime by Sydney based agency. Produced front-end builds for high-value clients such as Sydney Seaplanes, Peats Ridge Festival, Perpetual Bank, ALDI, Sydney Film Festival and the University of Western Sydney. Ported existing table-based websites to HTML5, addressing speed, performance and cross compatibility. Consulted with partnering marketing / design agencies to solve technical issues in person and via phone. Performed regular maintenance to sites and ongoing technical support.</p>


				<hr>

				<b class="font-family-oswald float-right">2008 - 2011</b>
				<h3 class="subheader">Flash Designer</h3>
				<h4 class="text-muted">OSS Pty Ltd / Clevershow Corporation</h4>
				<p>Creative lead on many multimedia projects for literacy and early learning across areas of design, programming, marketing and quality assurance. Resolved technical issues of cross compatibility with screen and print. Developed multi-platform interactive DVD-ROMS for distribution in US schools.</p>

				<br>
				<br>

				<h2 class="h4 font-family-oswald">EDUCATION</h2>
				<hr>

				<b class="font-family-oswald float-right">2005 - 2008</b>
				<h3 class="subheader">The University of Sydney</h3>
				<h4 class="text-muted">Bachelor of Visual Arts</h4>
				<p>(Film and digital art)</p>
			</div>
		</div>
	</div>
</section>