---
layout: base__page
---

{% assign title = page.title_override %}

{% contentfor tagline %}
	<h2><span class="brand-primary-color">Hi I'm Mitch,</span> nice to meet you.</h2>
	<p class="mb-0">...Is what a normal person would say. You'll need to use your imagination for the handshake and brief comment about the weather.</p>
{% endcontentfor %}

<!-- SECTION DARK  -->
<section class="spec-section section-interview is-dark">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div class="dialogue-bubble is-right">
					<h2>So Mitch, tell me about yourself.</h2>
				</div>

				<div class="dialogue-bubble is-left">
					<p>I would say I have intermediate skills in programming, although I wouldn't identify myself as a "programmer" per se - working mostly in HTML, CSS and JQuery on interfaces, I'm more on the visual side of things rather than the application layer.

Back in the day I used to do a fair bit in Flash, so I was quite comfortable with Actionscript 2.0 - which is similar to Javascript. Programming is something I'm always striving to get better at though.</p>
				</div>

				<div class="dialogue-bubble is-left">
					<p>Back in the day I used to do a fair bit in Flash, so I was quite comfortable with Actionscript 2.0 - which is similar to Javascript. Programming is something I'm always striving to get better at though.</p>
				</div>

				<div class="dialogue-bubble is-right">
					<h2>I see, do you work best alone or on a team?</h2>
				</div>

				<div class="dialogue-bubble is-right">
					<h2>How did you get into design</h2>
				</div>

				<div class="dialogue-bubble is-right">
					<h2>Describe the project you've worked on that you're most proud of. What did you do that worked out particularly well?</h2>
				</div>

				<div class="dialogue-bubble is-right">
					<h2>Describe a project that you worked on that you’re not so proud of</h2>
				</div>

				<div class="dialogue-bubble is-right">
					<h2>Describe the project you've worked on that you're least proud of. What would you do differently?</h2>
				</div>

				<div class="dialogue-bubble is-right">
					<h2></h2>
				</div>

				<div class="dialogue-bubble is-right">
					<h2></h2>
				</div>

				<div class="dialogue-bubble is-right">
					<h2></h2>
				</div>

				<div class="dialogue-bubble is-right">
					<h2></h2>
				</div>

				<div class="dialogue-bubble is-right">
					<h2></h2>
				</div>

				<div class="dialogue-bubble is-right">
					<h2></h2>
				</div>


				{% comment %}
				Do you work best alone or on a team?<br>

				I love the speed and energy of teamwork, and I also like concentrated time to work alone and execute on projects.<br>



				<br>

				Tell us about a project you worked on that you're proud of<br>

				<br>

				Describe a project that you worked on that you’re not so proud of<br>

				What source control do you use?<br>

				Why do you want to work at this company?<br>

				Describe your ideal development<br>

				Any questions for us?<br>

				What do you do for fun?<br>

				What are you most excited to work on?<br>

				How do you learn?<br>
				{% endcomment %}

			</div>
		</div>
	</div>
</section>