---
layout: base__page
---

{% contentfor tagline %}
	<h2><span class="brand-primary-color">You're awesome.</span> Thanks for reaching out.</h2>
	<p class="mb-0">I'll contact you in the next two days to discuss next steps.<br> Don't leave the country!</p>
{% endcontentfor %}

<!-- SECTION DARK -->
<section class="spec-section is-dark">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-5">

				<!-- SPRITE BRAIN -->
				<div class="sprite-brain">
					<img width="100%" src="/assets/img/content/hire/brain-0.svg">
					<img width="100%" src="/assets/img/content/hire/brain-1.svg">
					<img width="100%" src="/assets/img/content/hire/brain-2.svg">
					<img width="100%" src="/assets/img/content/hire/brain-3.svg">
					<img width="100%" src="/assets/img/content/hire/brain-4.svg">
					<img width="100%" src="/assets/img/content/hire/brain-5.svg">
					<img width="100%" src="/assets/img/content/hire/brain-6.svg">
				</div>
			</div>
		</div>
	</div>
</section>

{% comment %}
<!-- SECTION LIGHT -->
<section class="section is-light has-image-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-6">
				<h2 class="display-2 font-family-oswald mb-4">In the meantime, here have a coupon.</h2>
				<img width="80%" src="/assets/img/content/voucher@2x.png">
			</div>
		</div>
	</div>
</section>
{% endcomment %}