---
layout: base__page
---

{% contentfor tagline %}
	<h2><span class="brand-primary-color">Need a Resume?</span> Sure, here it is.</h2>
	<p class="mb-0">There's nothing here right now, but this is where you'll find it.</p>
{% endcontentfor %}

<!-- SECTION DARK -->
<section class="section section-dark section-bleed">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-5">

				<!-- SPRITE BRAIN -->
				<div class="sprite-brain">
					<img width="100%" src="/assets/img/content/hire/brain-0.svg">
					<img width="100%" src="/assets/img/content/hire/brain-1.svg">
					<img width="100%" src="/assets/img/content/hire/brain-2.svg">
					<img width="100%" src="/assets/img/content/hire/brain-3.svg">
					<img width="100%" src="/assets/img/content/hire/brain-4.svg">
					<img width="100%" src="/assets/img/content/hire/brain-5.svg">
					<img width="100%" src="/assets/img/content/hire/brain-6.svg">
				</div>
			</div>
		</div>
	</div>
</section>