---
layout: base__page
---

{% comment %}
{% endcomment %}

<!-- TAGLINE -->
<section class="section section-darker section-bleed">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8 text-center">
				<h2><span class="brand-primary-color">Welcome,</span> make yourself comfortable.</h2>
				<!-- <p>Not in the existential way, but what kind of role do you fill? Feel me?</p> -->
			</div>

		</div>
		<!-- <hr class="divider mb-0"> -->
	</div>
</section>

<!-- CONTENT  -->
<section class="section section-dark section-bleed">
	<div class="container">
		{{ content }}
	</div>
</section>

<!-- <section class="section section-light section-bleed">
	<div class="container text-center">
		<h2>On the House</h2>
		<img width="100%" src="/assets/img/content/kleptobreaker/world.png">
		<img width="40%" src="/assets/img/content/voucher@2x.png">
	</div>
</section> -->