---
layout: base__page
---

{% contentfor tagline %}
	<h2><span class="brand-primary-color">Welcome,</span> make yourself comfortable.</h2>
	<p class="mb-0">I'm here to take the pain out of agency life with reliable clear-cut communication and top-notch website builds coded here (by me) in Sydney.</p>
{% endcontentfor %}

<!-- SECTION DARK -->
<section class="spec-section is-dark">
	<div class="container">
		<p>.section.is-dark</p>

		<div class="input-group mb-3">
		  <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
		  <div class="input-group-append">
		    <button class="btn btn-primary" type="button">Button</button>
		  </div>
		</div>

		<p>
		    <a href="#">Text Anchor</a>&nbsp;
		    <a href="#" class="btn btn-primary">Anchor Button</a>&nbsp;
		    <a href="#" class="btn btn-secondary">Secondary Button</a>
		    <button class="btn btn-primary">Button Button</button>&nbsp;
		    <button class="btn btn-primary">Would You Buy<br>This Button?</button>&nbsp;</p>
	</div>
</section>

<!-- SECTION DARKER -->
<section class="spec-section is-darker">
	<div class="container">
		<p>.section.is-darker</p>
	</div>
</section>

<!-- SECTION LIGHT -->
<section class="spec-section is-light has-light-bleed">
	<div class="container">
		<p>.section.is-light</p>

		<div class="input-group mb-3">
		  <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
		  <div class="input-group-append">
		    <button class="btn btn-primary" type="button">Button</button>
		  </div>
		</div>
		<p>
		    <a href="#">Text Anchor</a>&nbsp;
		    <a href="#" class="btn btn-primary">Anchor Button</a>&nbsp;
		    <a href="#" class="btn btn-secondary">Secondary Button</a>
		    <button class="btn btn-primary">Button Button</button>&nbsp;
			<button class="btn btn-primary">Would You Buy<br>This Button?</button>&nbsp;</p>
	</div>
</section>

<!-- SECTION IMAGE BACKGROUND -->
<section class="spec-section is-dark has-image-bg has-tint has-bleed-tint" style="background-image: url(/assets/img/content/hero/sf2.jpg); height: 43.75rem;">
	<div class="container">
		<p>.has-image-bg</p>
	</div>
</section>

<!-- SECTION IMAGE BACKGROUND LIGHT BLEED -->
<section class="spec-section is-light has-image-bg has-light-bleed" style="background-image: url(/assets/img/content/homepage/bio-1@2x.jpg); height: 43.75rem;">
	<div class="container">
		<p>Section Image</p>
	</div>
</section>

<!-- SECTION IMAGE BACKGROUND -->
<section class="spec-section is-dark has-image-bg has-dark-bleed" style="background-image: url(/assets/img/content/hero/pink-blur-bg.jpg); height: 23.75rem;">
	<div class="container">
		<p>Section Image</p>
	</div>
</section>

<!-- SECTION IMAGE BACKGROUND -->
<section class="spec-section is-dark has-image-bg has-tint has-dark-bleed" style="background-image: url(/assets/img/content/hero/testa1.jpg); height: 43.75rem;">
	<div class="container">
		<p>Section Image</p>
	</div>
</section>