---
layout: base__page
---

{% assign sitemap = site.data.sitemap %}
{% comment %}
{% contentfor tagline %}
	<!-- PROJECTS CONTENTS -->
	<div class="section-projects-contents">

		<!-- CONTENTS -->
		<p class="image mb-4">
			<img width="330" src="/assets/img/content/contents-box.svg" alt="Contents">
		</p>

		<!-- LIST SET 1 -->
		<ul class="list-set-1 list-unstyled text-md-right mb-0">
			{% for item in sitemap[3].children limit: 10 %}
				<li><span class="number">{% if forloop.index < 10 %}0{% endif %}{{forloop.index}}.</span> <a href="{{ item.url }}">{{ item.title }}</a></li>
			{% endfor %}
		</ul>

		<!-- LIST SET 2 -->
		<ul class="list-set-2 list-unstyled text-md-left">
			{% for item in sitemap[3].children offset: 10 %}
				<li><span class="number">{{ forloop.index | plus: 10 }}.</span> <a href="{{ item.url }}">{{ item.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endcontentfor %}
{% endcomment %}

<!-- ANP | BOBBLEHEDZ | NARAYAN -->
<section class="spec-section is-dark">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-9">

				<!-- ANOTHER NERDY PODCAST -->
				<div class="btn-tile-wrapper is-left-aligned">
					<div class="row no-gutters align-items-center">
						<div class="col-6">
							<a class="btn-tile" href="#">
								<img width="100%" src="/assets/img/content/placeholder-330x330.png">
							</a>
						</div>
						<div class="col-6">
							<div class="text">
								<p>Animated titles for a gaming podcast on YouTube &amp; Twitch.</p>
							</div>
						</div>
					</div>
				</div>

				<!-- BOBBLEHEDZ -->
				<div class="btn-tile-wrapper is-right-aligned">
					<div class="row no-gutters align-items-center">
						<div class="col-6 text-md-right">
							<div class="text">
								<p>A brief jaunt through novelty, nostalgia and digital trinkets. <a href="">Read more</a></p>
							</div>
						</div>
						<div class="col-6">
							<a class="btn-tile" href="#">
								<img width="100%" src="/assets/img/content/placeholder-330x330.png">
							</a>
						</div>
					</div>
				</div>

				<!-- PROJECT NARAYAN -->
				<div class="btn-tile-wrapper is-left-aligned">
					<div class="row no-gutters align-items-center">
						<div class="col-6">
							<a class="btn-tile" href="#">
								<img width="100%" src="/assets/img/content/placeholder-330x330.png">
								<span class="btn-tile-bg" style="background-image: url(/assets/img/content/narayan/narayan@2x.jpg)"></span>
							</a>
						</div>
						<div class="col-6">
							<div class="text">
								<p>A cyberpunk themed hacking simulator game for the browser.</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

{% comment %}
<!-- LOADSHIFT -->
<section class="spec-section is-light">
	<div class="container">
		<div class="row">
			<div class="col-md-7 pr-md-5">
				<p><img width="100%" src="/assets/img/content/loadshift/placeholder@2x.png" alt="Loadshift Truck"></p>
			</div>
			<div class="col-md-5">
				<br><br>
				<h2 class="text-md-center"><img  src="/assets/img/content/loadshift/loadshift-logo-2.svg" alt="Loadshift"></h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.<p>

				<p>cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p class="text-md-center"><a class="btn btn-primary" href="http://loadshift-2017.yourwebvisual.com">Visit Loadshift</a></p>
			</div>
		</div>
	</div>
</section>
{% endcomment %}

{% comment %}
<!-- SECTION DARK -->
<section class="spec-section is-dark">
	<div class="container">
		<p>.section.is-dark</p>

		<div class="input-group mb-3">
		  <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
		  <div class="input-group-append">
		    <button class="btn btn-primary" type="button">Button</button>
		  </div>
		</div>

		<p>
		    <a href="#">Text Anchor</a>&nbsp;
		    <a href="#" class="btn btn-primary">Anchor Button</a>&nbsp;
		    <a href="#" class="btn btn-secondary">Secondary Button</a>
		    <button class="btn btn-primary">Button Button</button>&nbsp;
		    <button class="btn btn-primary">Would You Buy<br>This Button?</button>&nbsp;</p>
	</div>
</section>

<!-- SECTION DARKER -->
<section class="spec-section is-darker">
	<div class="container">
		<p>.section.is-darker</p>
	</div>
</section>

<!-- SECTION LIGHT -->
<section class="spec-section is-light has-light-bleed">
	<div class="container">
		<p>.section.is-light</p>

		<div class="input-group mb-3">
		  <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
		  <div class="input-group-append">
		    <button class="btn btn-primary" type="button">Button</button>
		  </div>
		</div>
		<p>
		    <a href="#">Text Anchor</a>&nbsp;
		    <a href="#" class="btn btn-primary">Anchor Button</a>&nbsp;
		    <a href="#" class="btn btn-secondary">Secondary Button</a>
		    <button class="btn btn-primary">Button Button</button>&nbsp;
			<button class="btn btn-primary">Would You Buy<br>This Button?</button>&nbsp;</p>
	</div>
</section>

<!-- SECTION IMAGE BACKGROUND -->
<section class="spec-section is-dark has-image-bg has-tint has-bleed-tint" style="background-image: url(/assets/img/content/hero/sf2.jpg); height: 43.75rem;">
	<div class="container">
		<p>.has-image-bg</p>
	</div>
</section>

<!-- SECTION IMAGE BACKGROUND LIGHT BLEED -->
<section class="spec-section is-light has-image-bg has-light-bleed" style="background-image: url(/assets/img/content/homepage/bio-1@2x.jpg); height: 43.75rem;">
	<div class="container">
		<p>Section Image</p>
	</div>
</section>

<!-- SECTION IMAGE BACKGROUND -->
<section class="spec-section is-dark has-image-bg has-dark-bleed" style="background-image: url(/assets/img/content/hero/pink-blur-bg.jpg); height: 23.75rem;">
	<div class="container">
		<p>Section Image</p>
	</div>
</section>

<!-- SECTION IMAGE BACKGROUND -->
<section class="spec-section is-dark has-image-bg has-tint has-dark-bleed" style="background-image: url(/assets/img/content/hero/testa1.jpg); height: 43.75rem;">
	<div class="container">
		<p>Section Image</p>
	</div>
</section>
{% endcomment %}