---
layout: base__page
---

{% contentfor tagline %}
	<h2><span class="brand-primary-color">Hello there,</span> Lorem ipsum dolor sit amet,</h2>
	<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna.</p>
{% endcontentfor %}

<!-- SECTION DARK -->
<section class="section is-dark">
	<div class="container">
		<ul class="block-grid-xs-2 text-center">
			<li><h2><a href="/services/digital-agency/">Digital Agency</a></h2></li>
			<li><h2><a href="/services/small-business/">Small Business</a></h2></li>
		</ul>
	</div>
</section>