---
layout: base__page
---

<!-- TAGLINE -->
<section class="section section-darker section-bleed">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-centered text-xs-center">
				<h2><span class="brand-primary-color">I'm curious,</span> who builds your websites?</h2>
				<p>Do you outsource overseas? Perhaps you use a service for PSD to HTML conversion? Understandably so, it’s much faster and cheaper than doing it in-house.</p>
			</div>

		</div>
	</div>
</section>

<!-- CONTENT  -->
<section class="section section-dark">
	<div class="container">
		{{ content }}
	</div>
</section>