---
layout: base__page
---

{% assign categories = site.categories | sort %}

<!-- SECTION -->
<section class="section is-light has-light-bleed">
	<div class="container">

		{% comment %}
		<div class="row justify-content-end">
			<div class="col-md-2 d-flex align-items-center">

				<span class="pr-3">Sort</span>

				<!-- FILTER -->
				<select class="select-filter custom-select" name="filter">
					<option selected>All</option>
					{% for category in categories %}
				    	<option>{{ category | first }}</option>
					{% endfor %}
				</select>

			</div>
		</div>


		<ol class="list-numbered media-articles block-grid-md-2 split-grid">
			{% for item in site.posts limit: 6 %}

				<li data-index="{{ forloop.index }}">
					<a href="{{ item.url }}">

						<article class="media-article d-flex">
							<div class="media-article-body">
								<h2 class="h4">{{ item.title }}</h2>
								{{ item.excerpt | truncate: 150 | strip_html }}
							</div>
						</article>

					</a>
				</li>

			{% endfor %}
		</ol>
		{% endcomment %}

		<!-- IS RENDER BLOCKING... -->
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="/tutorials/posts.js"></script>
		<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->

		<!-- POSTS APP -->
		<div id="app" v-cloak>

			<!-- POSTS ARRAY -->
			<ol class="list-numbered media-articles block-grid-md-2 split-grid">

				<!-- POST -->
				<li v-for="(item, index) in filteredPosts" :key="item.id">
					<a :href="item.url">
						<div class="digit-styled mr-4" v-text="getPostIndex(index, 2)"></div>
						<article class="media-article d-flex">
							<div class="media-article-body">
								<!-- <h2 class="h4" v-html="item.title"></h2> -->
								<!-- <span v-html="item.excerpt"></span> -->
							</div>
						</article>
					</a>
				</li>

			</ol>

			<hr>

			{% comment %}



			<ol class="list-numbered media-articles block-grid-md-2 split-grid">

				<!-- POST -->
				<li v-for="(item, index) in 3" :key="item.id">
					<a :href="item.url">
						<div class="digit-styled mr-4" v-text="getPostIndex(index, 3)"></div>
						<article class="media-article d-flex">
							<div class="media-article-body">
								<!-- <h2 class="h4" v-html="item.title"></h2> -->
								<!-- <span v-html="item.excerpt"></span> -->
							</div>
						</article>
					</a>
				</li>

			</ol>

			<hr>

			<ol class="list-numbered media-articles block-grid-md-2 split-grid">

				<!-- POST -->
				<li v-for="(item, index) in 4" :key="item.id">
					<a :href="item.url">
						<div class="digit-styled mr-4" v-text="getPostIndex(index, 4)"></div>
						<article class="media-article d-flex">
							<div class="media-article-body">
								<!-- <h2 class="h4" v-html="item.title"></h2> -->
								<!-- <span v-html="item.excerpt"></span> -->
							</div>
						</article>
					</a>
				</li>

			</ol>

			<hr>

			<ol class="list-numbered media-articles block-grid-md-2 split-grid">

				<!-- POST -->
				<li v-for="(item, index) in 5" :key="item.id">
					<a :href="item.url">
						<div class="digit-styled mr-4" v-text="getPostIndex(index, 5)"></div>
						<article class="media-article d-flex">
							<div class="media-article-body">
								<!-- <h2 class="h4" v-html="item.title"></h2> -->
								<!-- <span v-html="item.excerpt"></span> -->
							</div>
						</article>
					</a>
				</li>

			</ol>

			<hr>

			<ol class="list-numbered media-articles block-grid-md-2 split-grid">

				<!-- POST -->
				<li v-for="(item, index) in 6" :key="item.id">
					<a :href="item.url">
						<div class="digit-styled mr-4" v-text="getPostIndex(index, 6)"></div>
						<article class="media-article d-flex">
							<div class="media-article-body">
								<!-- <h2 class="h4" v-html="item.title"></h2> -->
								<!-- <span v-html="item.excerpt"></span> -->
							</div>
						</article>
					</a>
				</li>

			</ol>

			<hr>

			<ol class="list-numbered media-articles block-grid-md-2 split-grid">

				<!-- POST -->
				<li v-for="(item, index) in 7" :key="item.id">
					<a :href="item.url">
						<div class="digit-styled mr-4" v-text="getPostIndex(index, 7)"></div>
						<article class="media-article d-flex">
							<div class="media-article-body">
								<!-- <h2 class="h4" v-html="item.title"></h2> -->
								<!-- <span v-html="item.excerpt"></span> -->
							</div>
						</article>
					</a>
				</li>

			</ol>

			<hr>

			<ol class="list-numbered media-articles block-grid-md-2 split-grid">

				<!-- POST -->
				<li v-for="(item, index) in 8" :key="item.id">
					<a :href="item.url">
						<div class="digit-styled mr-4" v-text="getPostIndex(index, 8)"></div>
						<article class="media-article d-flex">
							<div class="media-article-body">
								<!-- <h2 class="h4" v-html="item.title"></h2> -->
								<!-- <span v-html="item.excerpt"></span> -->
							</div>
						</article>
					</a>
				</li>

			</ol>

			<hr>

			<ol class="list-numbered media-articles block-grid-md-2 split-grid">

				<!-- POST -->
				<li v-for="(item, index) in 9" :key="item.id">
					<a :href="item.url">
						<div class="digit-styled mr-4" v-text="getPostIndex(index, 9)"></div>
						<article class="media-article d-flex">
							<div class="media-article-body">
								<!-- <h2 class="h4" v-html="item.title"></h2> -->
								<!-- <span v-html="item.excerpt"></span> -->
							</div>
						</article>
					</a>
				</li>

			</ol>

			<hr>

			<ol class="list-numbered media-articles block-grid-md-2 split-grid">

				<!-- POST -->
				<li v-for="(item, index) in 10" :key="item.id">
					<a :href="item.url">
						<div class="digit-styled mr-4" v-text="getPostIndex(index, 10)"></div>
						<article class="media-article d-flex">
							<div class="media-article-body">
								<!-- <h2 class="h4" v-html="item.title"></h2> -->
								<!-- <span v-html="item.excerpt"></span> -->
							</div>
						</article>
					</a>
				</li>

			</ol>

			<hr>

			<ol class="list-numbered media-articles block-grid-md-2 split-grid">

				<!-- POST -->
				<li v-for="(item, index) in 11" :key="item.id">
					<a :href="item.url">
						<div class="digit-styled mr-4" v-text="getPostIndex(index, 11)"></div>
						<article class="media-article d-flex">
							<div class="media-article-body">
								<!-- <h2 class="h4" v-html="item.title"></h2> -->
								<!-- <span v-html="item.excerpt"></span> -->
							</div>
						</article>
					</a>
				</li>

			</ol>
			{% endcomment %}

		</div>

		<script>
			//-----------------------------------------------------------------
			// VUE INSTANCE
			//-----------------------------------------------------------------

			new Vue({
				el: '#app',
				data: {
					posts: null,
					filteredPosts: null,
				},
				computed: {
					totalPosts: function(){
						return Math.ceil(this.filteredPosts.length);
					}
				},
				created: function() {
					this.posts = posts;
					this.filteredPosts = posts;
				},
				methods: {
					getPostIndex: function(index, total){
						var totalPosts = this.totalPosts;
						var isEven = index % 2 == 0;
						var set1 = Math.ceil((index / totalPosts * totalPosts/2) + isEven); // no clue to how I did this haha
						var set2 = Math.ceil(set1 + (totalPosts / 2));

						return isEven ? set1 : set2;
					}
				}
			})
		</script>


		{% comment %}



		<br>
		<br>
		<br>
		<br>
		<br>

		<!-- <div class="spacer mb-5"></div> -->

		<ul class="media-articles block-grid-md-2 split-grid">
			{% for item in site.posts limit: 6 %}

			<li class="{% if forloop.index == 3 %}d-none{% endif %}">
				<a href="{{ item.url }}">

					<article class="media-article d-flex">
						<div class="digit-styled mr-4">0{{ forloop.index }}</div>
						<div class="media-article-body">
							<h2 class="h4">{{ item.title }}</h2>
							{{ item.excerpt | truncate: 150 | strip_html }}
						</div>
					</article>

				</a>
			</li>
			{% endfor %}
		</ul>

		{% endcomment %}

	</div>
</section>