---
layout: base__page
---

{% assign categories = site.categories | sort %}

<!-- SECTION -->
<section class="spec-section is-light has-light-bleed">
	<div class="container">
		<div class="row no-gutters">
			<div class="col-lg-9 pr-lg-5">
				<div class="pr-lg-3">
					{{ content }}
				</div>
			</div>
			<div class="col-lg-3">

				<!-- SUBSCRIBE BOX -->
				<div class="panel-box">

					<!-- PANEL BODY -->
					<div class="panel-box-body">
						<h3>Fancy a Sub?</h3>
						<p><small>Not the sandwich, goofus! Subscribe my stupid mailing list!</small></p>
						{% include forms/form_subscribe.html %}
					</div>

					<!-- SPRITE SMALL DRIP -->
					<!-- <div class="sprite-small-drip"></div> -->
					<div class="sprite-long-drip"></div>
				</div>

				<div class="spacer my-3"></div>

				<!-- CATEGORIES -->
				<a href="/tutorials/categories/"><h3>Categories</h3></a>
				<ul class="list-unstyled">
					{% for category in categories %}
					    <li class="list-unstyled">
					    	<a href="/tutorials/categories/#{{ category | first | slugify }}">{{ category | first }}</a>
					    </li>
					{% endfor %}
				</ul>

			</div>
		</div>

		<hr class="mb-4">

		<!-- COMMENTS ENABLED -->
		{% unless page.comments == false %}
			<!-- { % include snippets/comments.html %} -->
		{% endunless %}

	</div>
</section>