---
layout: base__page
---

{% assign categories = site.categories | sort %}

<!-- SECTION -->
<section class="section is-light has-light-bleed">
	<div class="container">


		{% comment %}
		<div class="row justify-content-end">
			<div class="col-md-2 d-flex align-items-center">

				<span class="pr-3">Sort</span>

				<!-- FILTER -->
				<select class="select-filter custom-select" name="filter">
					<option selected>All</option>
					{% for category in categories %}
				    	<option>{{ category | first }}</option>
					{% endfor %}
				</select>

			</div>

		</div>

		{% endcomment %}

		<!-- <div class="spacer mb-5"></div> -->

			<ul class="media-articles block-grid-md-2 split-grid">
				{% for item in site.posts limit: 6 %}
				<li>
					<a href="{{ item.url }}">

						<article class="media-article d-flex">
							<div class="digit-styled mr-4">0{{ forloop.index }}</div>
							<div class="media-article-body">
								<h2 class="h4">{{ item.title }}</h2>
								{{ item.excerpt | truncate: 150 | strip_html }}
							</div>
						</article>

					</a>
				</li>
				{% endfor %}
			</ul>

		</div>
</section>