---
layout: base__page
---

{% assign categories = site.categories | sort %}

<!-- SECTION -->
<section class="section is-light has-light-bleed">
	<div class="container">

		<!-- https://dev.to/rpalo/add-search-to-your-static-site-with-vue-4bl -->
		<!-- https://codepen.io/liquidvisual/pen/RLgqEW -->

		{% comment %}
		<div class="row justify-content-end">
			<div class="col-md-2 d-flex align-items-center">

				<span class="pr-3">Sort</span>

				<!-- FILTER -->
				<select class="select-filter custom-select" name="filter">
					<option selected>All</option>
					{% for category in categories %}
				    	<option>{{ category | first }}</option>
					{% endfor %}
				</select>

			</div>
		</div>
		{% endcomment %}

		<!-- IS RENDER BLOCKING... -->
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="/tutorials/posts.js"></script>
		<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->

		<!-- POSTS APP -->
		<div id="app" v-cloak>

			<!-- POSTS ARRAY -->
			<ol class="list-numbered has-custom-digit list-split media-articles block-grid-md-2">
				<li v-for="(item, index) in filteredPosts" :key="item.id">
					<a :href="item.url">
						<div class="list-digit mr-4 d-none d-md-block" v-text="getPostIndex(index)"></div>
						<article class="media-article d-flex">
							<div class="media-article-body">
								<h2 class="h4" v-html="item.title"></h2>
								<span v-html="item.excerpt"></span>
							</div>
						</article>
					</a>
				</li>
			</ol>

		</div>

		<!-- VUE SCRIPT -->
		<script>
			//-----------------------------------------------------------------
			// VUE INSTANCE
			//-----------------------------------------------------------------

			new Vue({
				el: '#app',
				data: {
					posts: null,
					filteredPosts: null,
				},
				computed: {
					totalPosts: function(){
						return Math.ceil(this.filteredPosts.length);
					}
				},
				created: function() {
					this.posts = posts;
					this.filteredPosts = posts;
				},
				methods: {
					getPostIndex: function(index){
						var totalPosts = this.totalPosts;
						var isEven = index % 2 == 0;
						var set1 = Math.ceil((index / totalPosts * totalPosts/2) + isEven); // no clue to how I did this haha
						var set2 = Math.ceil(set1 + (totalPosts / 2));

						return isEven ? ('0' + set1).slice(-2) : ('0' + set2).slice(-2);
					}
				}
			});
		</script>
	</div>
</section>