---
layout: base__page
---

{% assign sitemap = site.data.sitemap %}

{% comment %}
{% contentfor tagline %}
	<!-- CONTENTS -->
	<div class="section-projects-contents">

		<!-- CONTENTS -->
		<p class="image mb-4">
			<img width="330" src="/assets/img/content/works/contents.svg" alt="Contents">
		</p>

		<!-- LIST SET 1 -->
		<ul class="list-set-1 list-unstyled text-md-right mb-0">
			{% for item in sitemap[1].children limit: 9 %}
				<li><span class="number">{% if forloop.index < 10 %}0{% endif %}{{forloop.index}}.</span> <a href="{{ item.url }}">{{ item.title }}</a></li>
			{% endfor %}
		</ul>

		<!-- LIST SET 2 -->
		<ul class="list-set-2 list-unstyled text-md-left">
			{% for item in sitemap[1].children offset: 9 %}
				<li><span class="number">{{ forloop.index | plus: 10 }}.</span> <a href="{{ item.url }}">{{ item.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endcontentfor %}
{% endcomment %}

<!-- { % include works/ANP_bobblehedz_narayan.html %} -->

<!-- { % include works/loadshift.html %} -->

<!-- { % include works/origami_email_series.html %} -->

<!-- TAGLINE (MAKE COMPONENT?) -->
<section class="spec-section is-darker has-darker-bleed" hidden>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-11 col-lg-9 text-center">
				<h2 class="mb-0">
					<span class="brand-primary-color">Hello there Lorem ipsum</span> dolor sit amet. Lorem ipsum dolor sit amit
				</h2>
			</div>
		</div>
	</div>
</section>

<!-- { % include works/blarg_news_rezillia.html %} -->

<!-- { % include works/english_unlimited.html %} -->

<!-- { % include works/jazzles.html %} -->

<!-- { % include works/thomson_reuters.html %} -->

<!-- { % include works/dan_and_mitch.html %} -->

<!-- { % include works/artiqulet.html %} -->

<!-- { % include works/mal_winter.html %} -->