---
layout: base__page
---

{% assign sitemap = site.data.sitemap %}

{% comment %}
{% contentfor tagline %}
	<!-- PROJECTS CONTENTS -->
	<div class="section-projects-contents">

		<!-- CONTENTS -->
		<p class="image mb-4">
			<img width="330" src="/assets/img/content/works/contents.svg" alt="Contents">
		</p>

		<!-- LIST SET 1 -->
		<ul class="list-set-1 list-unstyled text-md-right mb-0">
			{% for item in sitemap[1].children limit: 10 %}
				<li><span class="number">{% if forloop.index < 10 %}0{% endif %}{{forloop.index}}.</span> <a href="{{ item.url }}">{{ item.title }}</a></li>
			{% endfor %}
		</ul>

		<!-- LIST SET 2 -->
		<ul class="list-set-2 list-unstyled text-md-left">
			{% for item in sitemap[1].children offset: 10 %}
				<li><span class="number">{{ forloop.index | plus: 10 }}.</span> <a href="{{ item.url }}">{{ item.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endcontentfor %}
{% endcomment %}


{% comment %}
<!-- ANP | BOBBLEHEDZ | NARAYAN -->
<section class="spec-section is-dark" style="overflow: hidden;">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-9">

				<!-- ANOTHER NERDY PODCAST -->
				<div class="btn-tile-wrapper is-left-aligned">
					<div class="row no-gutters align-items-center">
						<div class="col-6 pl-lg-5">

							<!-- PARALLAX HOVER -->
							<div class="parallax-hover has-parallax" data-parallax-md-up>
								<div class="layer" data-depth="0.6">
									<a class="btn-tile" href="#/coming-soon/">
										<img width="100%" src="/assets/img/layout/image-sizer-330x330.svg" alt="Another Nerdy Podcast">
										<span class="has-parallax" data-parallax>
											<span class="layer" data-depth="0.3">
												<video class="btn-tile-bg" autoplay loop muted playsinline>
													<source src="/assets/img/content/works/another-nerdy-podcast/hello.mp4" type="video/mp4">
												</video>
											</span>
										</span>
									</a>
								</div>
							</div>

						</div>
						<div class="col-6">
							<div class="text">
								<p>Animated titles for another gaming podcast on YouTube &amp; Twitch.</p>
							</div>
						</div>
					</div>
				</div>

				<!-- BOBBLEHEDZ -->
				<div class="btn-tile-wrapper is-right-aligned">
					<div class="row no-gutters align-items-center">
						<div class="col-6 text-right">
							<div class="text">
								<p>A brief jaunt through novelty, nostalgia and digital trinkets. <a href="#/coming-soon/">Read&nbsp;more</a></p>
							</div>
						</div>
						<div class="col-6 pr-lg-5">

							<!-- PARALLAX HOVER -->
							<div class="parallax-hover" data-parallax-md-up>
								<div class="layer" data-depth="0.6">
									<a class="btn-tile" href="#/coming-soon/">
										<img width="100%" src="/assets/img/layout/image-sizer-330x330.svg" alt="BobbleHedz">
										<span class="has-parallax" data-parallax>
											<span class="layer" data-depth="0.6">
												<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/bobblehedz/bobblehedz-tile@2x.jpg)">
													<span class="btn-tile-bg-item item-glasses" style="background-image: url(/assets/img/content/works/bobblehedz/bobblehedz-tile-glasses@2x.png)"></span>
													<span class="btn-tile-bg-item item-eyes" style="background-image: url(/assets/img/content/works/bobblehedz/bobblehedz-tile-eyes@2x.png)"></span>
													<span class="btn-tile-bg-item item-eyes-blink" style="background-image: url(/assets/img/content/works/bobblehedz/bobblehedz-tile-eyes-blink@2x.gif)"></span>
												</span>
											</span>
										</span>
									</a>
								</div>
							</div>

						</div>
					</div>
				</div>

				<!-- PROJECT NARAYAN -->
				<div class="btn-tile-wrapper is-left-aligned">
					<div class="row no-gutters align-items-center">
						<div class="col-6 pl-lg-5">

							<!-- PARALLAX HOVER -->
							<div class="parallax-hover" data-parallax-md-up>
								<div class="layer" data-depth="0.6">
									<a class="btn-tile" href="#">
										<img width="100%" src="/assets/img/layout/image-sizer-330x330.svg" alt="Project Narayan">
										<span class="has-parallax" data-parallax>
											<span class="layer" data-depth="0.3">
												<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/project-narayan/narayan@2x.jpg)"></span>
											</span>
										</span>
									</a>
								</div>
							</div>

						</div>
						<div class="col-6">
							<div class="text">
								<p>A cyberpunk themed hacking simulator game for the browser.</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
{% endcomment %}

{% comment %}
<!-- LOADSHIFT -->
<section class="spec-section is-light">
	<div class="container">
		<div class="row pt-4">
			<div class="col-md-7 pr-md-5">

				<!-- IMAC -->
				<div class="device-imac">
					<img width="100%" src="/assets/img/content/works/loadshift/monitor-3@2x.png" alt="Loadshift Website">
					<div class="device-imac-screen">
						<span class="device-imac-screen-bg" style="background-image: url(/assets/img/content/works/loadshift/test-6.jpg)"></span>
						<!-- <span class="imac-screen-bg" style="background-image: url(/assets/img/content/works/loadshift/loadshift-slide-1@2x.jpg)"></span> -->
					</div>
				</div>

			</div>
			<div class="col-md-5">
				<br><br>
				<h2 class="h1 text-md-center mb-4">Loadshift</h2>
				<!-- <h2 class="text-md-center mb-4"><img  src="/assets/img/content/works/loadshift/loadshift-logo-2.svg" alt="Loadshift"></h2> -->
				<p>A heavy haulage transport marketplace that can move anything not bolted down. Designed completely <strong>in-browser</strong>, the aim was to provide an intuitive yet pragmatic experience for users new to the mobile web.</p>
				<br>
				<p class="text-md-center"><a class="btn btn-primary" href="http://loadshift-2017.yourwebvisual.com">Visit Loadshift</a></p>
			</div>
		</div>
	</div>
</section>
{% endcomment %}


<!-- <section class="spec-section is-light">
	<br>
	<br>
	<br>
	<br>
	<br>
</section> -->

{% comment %}
<!-- ORIGAMI EMAIL SERIES -->
<section class="spec-section section-origami-series is-light">
	<div class="container">
		<div class="row">
			<div class="col-md-6 order-last order-md-first pl-lg-5 pt-4">
				<div class="row">
					<div class="col-lg-11">
						<h2 class="h1">Origami Email Newsletter Series</h2>
						<p>A lively young startup from San Francisco were nearing a full product rebrand. During the interim they wished to spruce up communication, so they commissioned a series of funky little templates to capture the essense of their brand whilst keeping it essentially white label.</p>
						<br>
						<p><a class="btn btn-primary" href="http://loadshift-2017.yourwebvisual.com">View the Series</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-5 ml-auto pl-5">

				<!-- BG FILL -->
				<div class="bg-fill"></div>

				<!-- ORIGAMI TILE TOP -->
				<div class="origami-tile-top pl-2">

					<!-- ICARUS -->
					<div class="parallax-no-hover" data-parallax-md-up>
						<div class="layer" data-depth="0.6">
							<a class="btn-tile" href="#/coming-soon/">
								<img width="100%" src="/assets/img/content/works/origami-email-series/tile-icarus_layer-1@72.svg">
								<span class="has-parallax" data-parallax>
									<span class="layer" data-depth="0.3">

										<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/origami-email-series/tile-icarus_layer-1@72.svg)"></span>
										<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/origami-email-series/tile-icarus_layer-2@2x.png)"></span>
									</span>
								</span>
							</a>
						</div>
					</div>

				</div>

				<!-- SQUIRRELS -->
				<div class="origami-tile-bottom pl-3">
					<div class="parallax-no-hover" data-parallax-md-up>
						<div class="layer" data-depth="0.6">
							<a class="btn-tile" href="#/coming-soon/">
								<img width="100%" src="/assets/img/layout/image-sizer-330x330.svg">
								<span class="has-parallax" data-parallax>
									<span class="layer" data-depth="0.3">
										<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/origami-email-series/tile-squirrels_layer-1@72.svg)"></span>
									</span>
									<span class="layer" data-depth="0.3">
										<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/origami-email-series/tile-squirrels_layer-2@2x.png)"></span>
									</span>
									<span class="layer" data-depth="0.2">
										<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/origami-email-series/tile-squirrels_layer-1@2x.png)"></span>
									</span>
									<span class="layer" data-depth="0.3">
										<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/origami-email-series/tile-squirrels_layer-3@2x.png)"></span>
									</span>
									<span class="layer" data-depth="0.4">
										<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/origami-email-series/tile-squirrels_layer-3@2x.png)"></span>
									</span>
								</span>
							</a>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</section>
{% endcomment %}

{% comment %}
<!-- TAGLINE (MAKE COMPONENT?) -->
<section class="spec-section is-darker has-darker-bleed">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-11 col-lg-9 text-center">
				<h2 class="mb-0"><span class="brand-primary-color">Hello there Lorem ipsum</span> dolor sit amet. Lorem ipsum dolor sit amit</h2>
				<!-- <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod -->
				<!-- tempor incididunt ut labore et dolore magna.</p> -->
			</div>
		</div>
	</div>
</section>
{% endcomment %}

{% comment %}
<!-- BLARG! NEWS | REZILLIA -->
<section class="spec-section is-dark" style="overflow: hidden;">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-9">

				<!-- REZILLIA -->
				<div class="btn-tile-wrapper is-right-aligned">
					<div class="row no-gutters align-items-center">
						<div class="col-6 text-right">
							<div class="text">
								<p>Breathing new life into old artwork for a classroom in the middle of nowhere. <a href="#/coming-soon/">Read&nbsp;more</a></p>
							</div>
						</div>
						<div class="col-6 pr-lg-5">

							<!-- PARALLAX HOVER -->
							<div class="parallax-hover" data-parallax-md-up>
								<div class="layer" data-depth="0.6">

									<!-- BTN TILE -->
									<a class="btn-tile" href="#/coming-soon/">
										<img width="100%" src="/assets/img/layout/image-sizer-330x330.svg" alt="Galaxy">
										<span class="has-parallax" data-parallax>
											<span class="layer" data-depth="0.6">
												<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/rezillia/rezillia-tile@2x.png)"></span>
											</span>
										</span>
									</a>

									<!-- BTN TILE (IS-REZILLIA) -->
									<div class="btn-tile is-rezillia">
										<img width="100%" src="/assets/img/content/works/rezillia/rezillia-tile-image-sizer-1012x868.svg" alt="Rezillia">
										<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/rezillia/rezillia-tile-body-2@2x.png)">
											<span class="btn-tile-bg-item item-rezillia-eyes-blink" style="background-image: url(/assets/img/content/works/rezillia/rezillia-tile-eyes-blink-1@2x.png)"></span>
										</span>
									</div>

								</div>
							</div>

						</div>
					</div>
				</div>

				<!-- BLARG! NEWS -->
				<div class="btn-tile-wrapper is-left-aligned">
					<div class="row no-gutters align-items-center">
						<div class="col-6 pl-lg-5">

							<!-- PARALLAX HOVER -->
							<div class="parallax-hover" data-parallax-md-up>
								<div class="layer" data-depth="0.6">
									<a class="btn-tile" href="#">
										<img width="100%" src="/assets/img/layout/image-sizer-330x330.svg" alt="Project Narayan">
										<span class="has-parallax" data-parallax>
											<span class="layer" data-depth="0.3">
												<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/blarg-news/blarg-news-tile.svg)"></span>
											</span>
											<span class="layer" data-depth="0.2">
												<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/blarg-news/blarg-news-tile-paper-left@2x.png)"></span>
											</span>
											<span class="layer" data-depth="0.3">
												<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/blarg-news/blarg-news-tile-paper-right@2x.png)"></span>
											</span>
											<span class="layer" data-depth="0.4">
												<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/blarg-news/blarg-news-tile-paper-front@2x.png)"></span>
											</span>
											<span class="layer" data-depth="0.3">
												<span class="btn-tile-bg" style="background-image: url(/assets/img/content/works/blarg-news/blarg-news-tile-lighting.svg)"></span>
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<div class="col-6">
							<div class="text">
								<p>An experimental gaming webzine series with a ranty, raving taste for the absurd. <br><a href="#coming-soon">Read more</a></p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
{% endcomment %}

{% comment %}
<!-- ENGLISH UNLIMITED -->
<section class="spec-section section-english-unlimited is-light" hiddenX>
	<div class="container">

		<!-- BG FILL -->
		<div class="bg-fill"></div>

		<div class="row pt-4">
			<div class="col-md-7 order-md-last">

				<!-- IMAC OVERFLOW -->
				<div class="imac-overflow">

					<!-- IMAC -->
					<div class="device-imac mb-4 mb-md-0">
						<img width="100%" src="/assets/img/content/works/english-unlimited/monitor-1.svg" alt="Loadshift Website">
						<div class="device-imac-screen">
							<span class="device-imac-screen-bg" style="background-image: url(/assets/img/content/works/english-unlimited/student-girl-9.jpg)"></span>
						</div>
					</div>
				</div>

			</div>
			<div class="col-md-5 pl-lg-5 pt-4">
				<div class="wysiwyg">
					<h2 class="h1 mb-4">English Unlimited College</h2>
					<p>When a third party contacted me to design and code EU's new website I jumped aboard with the keen exuberance of a smiley Gen Z stock photo.</p>
					<p>I won't lie, navigating through the many logistic hurdles, bureaucracy and creeping scope kept me busy.</p>
					<br>
					<p><a class="btn btn-primary" href="#">Excelsior!</a></p>
				</div>
			</div>
		</div>
	</div>
</section>
{% endcomment %}

{% comment %}
<!-- JAZZLES -->
<section class="spec-section section-jazzles-learning-system is-light">
	<div class="container">
		<div class="row pt-4">
			<div class="col-md-5 order-last">



			</div>
			<div class="col-md-7 pl-lg-5 pt-4">
				<div class="text-box mb-5">
					<h2 class="h1 mb-4">The Jazzles Experience</h2>

					<p>The epitome of <em>garage startup</em> was the Jazzles brand, where I worked during my Uni studies and thereafter. We sold a range of web based early learning resources to tech-hungry schools.</p>

					<p>At the peak of our success we were designing a handheld console but the GFC burst our bubble.</p>
					<br>
					<a class="btn btn-primary" href="http://loadshift-2017.yourwebvisual.com">Excelsor!</a>
				</div>
			</div>
		</div>
	</div>
</section>
{% endcomment %}

<div class="spec-section is-light">
	<div class="container">

	</div>
</div>

{% include works/thomson_reuters.html %}

<div class="spec-section is-light">
	<div class="container">

	</div>
</div>