{% assign settings = site.data.settings %}

{% comment %}
<!-- IF SUCCESS -->
<div class="alert alert-success alert-dismissible fade show" role="alert" hidden>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Success!</strong><br> Thanks for that. You've been added to the mailing list.
</div>

<!-- IF FAILURE -->
<div class="alert alert-danger alert-dismissible fade show" role="alert" hidden>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Oops!</strong><br> Something went wrong. Please try again.
</div>
{% endcomment %}

<h2>Get a Free Quote</h2>

<p>If you're a small business owner, startup, tradie or contractor in need of a new website, I've got you covered.</p>

<div class="spacer mb-4"></div>

<!-- FORM CONTACT -->
<form id="contact-small-business" name="Small Business Form" action="/hire/thanks/" data-toggle="validator" novalidate netlify>
    <fieldset>

       <!-- NAME* -->
       <label class="form-group d-block">
           <p class="mb-2">Full Name<small class="asterisk">*</small></p>
           <input class="form-control" name="Name" type="text" placeholder="" required>
           <small class="error shake animated"><i class="fa fa-warning"></i>&nbsp; Your name is required.</small>
       </label>

        <!-- EMAIL* -->
        <label class="form-group d-block">
            <p class="mb-2">Email<small class="asterisk">*</small></p>
            <input class="form-control" name="Email" type="email" placeholder="" required>
            <small class="error shake animated"><i class="fa fa-warning"></i>&nbsp; A valid email is required.</small>
        </label>

        <!-- COMPANY -->
        <label class="form-group d-block">
            <p class="mb-2">Company</p>
            <input class="form-control" name="Company" type="text" placeholder="">
        </label>

    </fieldset>
    <fieldset>

        <!-- SERVICES -->
        <div class="form-group">
            <label class="h5 mb-4">I'm looking for...</label>

            <label class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" name="Services" value="A new website">
                <p class="custom-control-label">A new website <em>(from scratch)</em></p>
            </label>

            <label class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" name="Services" value="Refreshed website">
                <p class="custom-control-label">Refreshed website <em>(based on current branding)</em></p>
            </label>

            <label class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" name="Services" value="Landing page">
                <p class="custom-control-label">Landing page</p>
            </label>

            <label class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" name="Services" value="Refreshed logo">
                <p class="custom-control-label">Refreshed logo</p>
            </label>

            <label class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" name="Services" value="Help with my website's copy">
                <p class="custom-control-label">Help with my website's copy</p>
            </label>

            <label class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" name="Services" value="Other">
                <p class="custom-control-label">Other</p>
            </label>
        </div>

        <!-- DEADLINE -->
        <div class="form-group" hidden>
            <label class="h5 mb-4">When do you need this by?</label>

            <label class="custom-control custom-radio">
              <input class="custom-control-input" type="radio" name="Deadline" value="Soon">
              <p class="custom-control-label">Soon</p>
            </label>

            <label class="custom-control custom-radio">
              <input class="custom-control-input" type="radio" name="Deadline" value="2-3 weeks">
              <p class="custom-control-label">2-3 weeks</p>
            </label>

            <label class="custom-control custom-radio">
              <input class="custom-control-input" type="radio" name="Deadline" value="Next month or so">
              <p class="custom-control-label">Next month or so</p>
            </label>

            <label class="custom-control custom-radio">
              <input class="custom-control-input" type="radio" name="Deadline" value="Within a month">
              <p class="custom-control-label">Within a month</p>
            </label>

            <label class="custom-control custom-radio">
              <input class="custom-control-input" type="radio" name="Deadline" value="Anytime is fine">
              <p class="custom-control-label">Anytime is fine</p>
            </label>
        </div>

        <!-- BUDGET -->
        <div class="form-group" hidden>
            <label class="h5 mb-4">What's the budget for this project?</label>

            <label class="custom-control custom-radio">
              <input class="custom-control-input" type="radio" name="Budget" value="Less than $800">
              <p class="custom-control-label">Less than $800</p>
            </label>

            <label class="custom-control custom-radio">
              <input class="custom-control-input" type="radio" name="Budget" value="$800 - $1.5K">
              <p class="custom-control-label">$800 - $1.5K</p>
            </label>

            <label class="custom-control custom-radio">
              <input class="custom-control-input" type="radio" name="Budget" value="$1.5K - $2.5K">
              <p class="custom-control-label">$1.5K - $2.5K</p>
            </label>

            <label class="custom-control custom-radio">
              <input class="custom-control-input" type="radio" name="Budget" value="$2.5K - $3K">
              <p class="custom-control-label">$2.5K - $3K</p>
            </label>

            <label class="custom-control custom-radio">
              <input class="custom-control-input" type="radio" name="Budget" value="$3K - $5K">
              <p class="custom-control-label">$3K - $5K</p>
            </label>

            <label class="custom-control custom-radio">
              <input class="custom-control-input" type="radio" name="Budget" value="More than $5K">
              <p class="custom-control-label">More than $5K</p>
            </label>
        </div>

    </fieldset>
    <fieldset>

        <!-- MESSAGE -->
        <label class="form-group d-block">
            <h5>Tell me about your project<small class="asterisk">*</small></h5>
            <p>Feel free to include notes, links, goals or anything else that will help me understand your project.</p>
            <textarea class="form-control" name="Message" rows="6" placeholder="" required></textarea>
            <small class="error shake animated"><i class="fa fa-warning"></i>&nbsp; Please tell me more.</small>
        </label>

    </fieldset>
    <fieldset>

        <!-- REFERRAL -->
        <label class="form-group d-block">
            <h5>Finally, how did you find me?</h5>
            <select class="custom-select" name="Referral">
                <option disabled selected>Choose one</option>
                <option value="Client">I'm an existing client</option>
                <option value="Google">Google</option>
                <option value="Twitter">Twitter</option>
                <option value="Facebook">Facebook</option>
                <option value="Friend">Word of mouth</option>
                <option value="Other">Other</option>
            </select>
        </label>

    </fieldset>

    <!-- * REQUIRED -->
    <p class="float-right">
        <small class="asterisk">*</small>
        <small class="text-muted" style="position: relative; top: -5px;">required</small>
    </p>

    <!-- SUBMIT -->
    <button type="submit" class="btn btn-secondary mb-4">Get Quote <i class="fa fa-angle-right"></i></button>

</form>