/*
    PRINT.CSS

    - updated: 23.08.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// PRINT
//-----------------------------------------------------------------

@media print {

	html, body {
		// height: 100vh;
		// margin: 0 !important;
		// padding: 0 !important;
		overflow: hidden;
	}

    html {
        font-size: 12px;
        background: none;
    }

	html,
	body,
	.lv-page,
    .section > .container,
    .section:after
	{
    	background: none !important;
    }

	.section,
    .section .container,
    .details-panel,
    .contact-panel {
		background: none !important;

		&:before,
    	&:after {
    		// display: none !important;
    	}
    }

	.breadcrumb-wrapper,
    .global-header,
    .global-footer,
    .lv-hero-wrapper,
    .lv-off-canvas,
    .lv-screen-data,
    #lv-page-loader,
    #lv-page-loader[style]
    {
        display: none !important;
        visibility: hidden !important;
    }
}



//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================

