/*
    SECTION.CSS

    - updated: 25.02.19
    - liquidvisual.com

    GLOSSARY:

        .section
            &.is-dark
            &.is-darker
            &.is-light
            &.is-white
            &.is-edge-to-edge
            &.has-dark-bleed
            &.has-darker-bleed
            &.has-light-bleed
            &.has-image-bg
                &.is-fixed
                &.has-fixed-bleed
                &.has-tint
                &.has-bleed-tint
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// SECTION BACKGROUND COLORS (EXPLICIT)
//-----------------------------------------------------------------

.section {
    position: relative; // [LOCKED] - for overlays
    z-index: 1; // [LOCKED]
}

//-----------------------------------------------------------------
// SECTION CONTAINER (PADDING AND CONTEXT)
//-----------------------------------------------------------------

.section > .container {
    position: relative; // [LOCKED] - since padding targets the container - need to position abs elements inside container
    display: flex; // this might work ?
    flex-direction: column; // ?
    height: 100%; // [LOCKED] - allows height to be set on the section
    padding-top:    ($spacer * 2.5); // [LOCKED]
    padding-bottom: ($spacer * 2.5); // [LOCKED]
    background-color: inherit; // ALERT: MUST SET COLOR
    z-index: 1; // [LOCKED]

    @include media-breakpoint-up(md) {
        padding-top:    ($spacer * 3); // [LOCKED]
        padding-bottom: ($spacer * 3); // [LOCKED]
    }
}

//-----------------------------------------------------------------
// BG + FG FILLS [LOCKED]
//-----------------------------------------------------------------

.section {

    // set FG color and imply BG color
    &.is-dark,   &.is-dark > .container   { background-color: $gray-dark; }
    &.is-darker, &.is-darker > .container { background-color: $gray-darker; }

    // has-light has a slightly darker bleed by default (curated)
    &.is-light, &.is-light > .container { background-color: $gray-light; }
    &.is-white, &.is-white > .container { background-color: white; } // breadcrumbs only

    // set BG color only (override)
    @include media-breakpoint-up(xl) {
        &.has-dark-bleed     { background-color: $gray-dark; }
        &.has-darker-bleed   { background-color: $gray-darker; }

        // [SPECIAL CASE] - is-light automates a slightly darker bleed (curated)
        &.is-light,
        &.has-light-bleed    { background-color: desaturate(darken($gray-light, 4%), 1%); }

        &.has-lighter-bleed  { background-color: $gray-light; } // used for stationery etc
        &.has-white-bleed    { background-color: white; }
    }
}

//-----------------------------------------------------------------
// SECTION SHADOW OVERLAY (XL+)
// only apply shadow for 'set' sections (eg. is-dark, is-light)
//-----------------------------------------------------------------

.section[class*='is-']:after {
    @include media-breakpoint-up(xl) {
        content: "";
        position: absolute;
        top: 0;
        left: 0; // needed?
        width: 100%;
        height: 100%;
        background: url(/assets/img/layout/page-shadow.png) repeat-y;
        background-position: center top;
        background-size: rem-calc(1400); // [LOCKED] - image size
        z-index: -1;
    }
}

//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
// HAS DARK TEXT (DARK TEXT ON LIGHT)
// this may get added to in future (?)
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.section.is-light {
    color: $gray;

    h1, h2, h3, h4, h5, h6 {
        color: $gray-dark;
    }
}

//-----------------------------------------------------------------
// IS EDGE TO EDGE (used on hero titles)
//-----------------------------------------------------------------

.section.is-edge-to-edge > .container {
    padding: 0;

    @include media-breakpoint-down(lg) {
        max-width: 100%;
    }
}

//-----------------------------------------------------------------
// HAS IMAGE BG
//-----------------------------------------------------------------

.section.has-image-bg {

    > .container {
        background-color: transparent;
        background-image: none;
        // background: none; // [LOCKED] - score

        @include media-breakpoint-up(xl) {
            background-image: inherit;
        }
    }

    //=========================================
    // OVERLAY ADDITIONALS
    //=========================================

    &:before,
    &.has-tint > .container:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0; // needed?
        bottom: 0;
        width: 100%;
        height: 100%; //calc(100% + 1px);
        z-index: -1;

        // Annoying as fuck rendering glitch on iMac safari retina screens XL down
        @include media-breakpoint-down(xl) {
            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                top: -0.5px;
                height: calc(100% + 1px);
            }
        }
    }

    // this will be overriden by the container
    &.has-tint:before {
        @include media-breakpoint-down(lg) {
            background: rgba(black, 0.4);
        }
    }

    //=========================================
    // ADDITIONAL COMMANDS
    //=========================================

    @include media-breakpoint-up(xl) {

        // BLEED COLORS WITH IMAGE FOREGROUNDS
        // re-purpose .has-bleed-tint by using it as a coloured overlay

        &.has-dark-bleed:before   {  background: $gray-dark; }
        &.has-darker-bleed:before {  background: $gray-darker; }
        &.has-light-bleed:before  {  background: desaturate(darken($gray-light, 4%), 1%); } //desaturate(darken($gray-light, 8%), 10%);
        &.has-lighter-bleed:before { background: $gray-light; }

        // HAS TINT
        &.has-tint > .container:after {
            background: rgba(black, 0.4);
        }

        // HAS BLEED TINT
        &.has-bleed-tint:before {
            background: rgba(black, 0.4); // darker
        }

        // HAS FIXED BLEED
        &.has-fixed-bleed {
            background-attachment: fixed;
        }

        // IS FIXED
        &.is-fixed > .container {
            background-attachment: fixed;
        }
    }
}

//=========================================
// SWITCH FG TO BG ON LG DOWN
// [LOCKED] - must be here to prevent override by 'background'
//=========================================

.section.has-image-bg,
.section.has-image-bg > .container {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

//-----------------------------------------------------------------
// CONTEXT
// In case of tutorial item, less gap to content for mobiles + tablet
//-----------------------------------------------------------------

.breadcrumb-wrapper + .section {
    @include media-breakpoint-down(md) {
        padding-top: $spacer * 2;
    }
}

//=========================================
// box-shadow: 0px -30px  50px 10px rgba(black, 0.2); // [LOCKED]
//=========================================