/*
    SPRITES.CSS

    - Last updated: 26.11.18, 02.11.16
    - liquidvisual.com
*/
//--------------------------------------------------------------------
// VARIABLES
//--------------------------------------------------------------------
//--------------------------------------------------------------------
// WRAPPER
//--------------------------------------------------------------------

.character-sprites-wrapper {
    position: relative; // [LOCKED]
    top: 2px; // [LOCKED] - offset to push below image = cleaner line
    // border: 1px dashed black;
    margin-top: -10%; // [LOCKED] - curated, pull them up close to the button on mobile
    font-size: rem-calc(11); // [LOCKED]
    pointer-events: none; // [LOCKED]
    z-index: -1; // [LOCKED] - places sprites behind subscribe button

    @include media-breakpoint-up(sm) {
        font-size: rem-calc(13); // [LOCKED] - just looks right, on iPhone 6+
    }

    @include media-breakpoint-up(md) {
        margin-top: -5%; // [LOCKED] - pull it up less
        font-size: rem-calc(15); // [LOCKED]
    }
}

//--------------------------------------------------------------------
// SPRITES
//--------------------------------------------------------------------

.character-sprites {
    max-width: 100%;
    height: em-calc(340); // [LOCKED]
    overflow: hidden; // [LOCKED]
    // background: rgba(orange, 0.2);
    // transform: rotate(0.01); // does it work?
    transform: translateZ(0); // [LOCKED] - fixes glitch in safari?

    @include media-breakpoint-up(md) {
        width: rem-calc(470);
        margin: 0 auto;
    }
}

//-----------------------------------------------------------------
// DAN
//-----------------------------------------------------------------

.sprite-dan-torso {
    position: absolute;
    left: 0;
    bottom: em-calc(-55);
    width: em-calc(282);
    height: em-calc(190);
    background: url(/assets/img/content/works/dan-and-mitch/sprite-dan-torso@2x.svg) no-repeat center center;
    background-size: 100%;

    .sprite-dan-head {
        position: absolute;
        left: em-calc(60);
        bottom: em-calc(144);
        width: em-calc(158);
        height: em-calc(208);
        background: url(/assets/img/content/works/dan-and-mitch/sprite-dan-head@2x.svg) no-repeat center center;
        background-size: 100%;

        // SCISSORS EASTER EGG
        cursor: url(/assets/img/content/works/dan-and-mitch/cursor-scissors-2.svg), auto;

        .sprite-dan-head-eyes {
            position: absolute;
            top: em-calc(113);
            left: calc(50% - #{em-calc(33)});
            width: em-calc(60);
            height: em-calc(20);
            background: url(/assets/img/content/works/dan-and-mitch/sprite-dan-head-eyes@2x.gif) no-repeat center;
            background-size: 100%;
        }
    }
}

//=========================================
// DAN LONG HAIR - just use image overlay to get positioning right
//=========================================

.sprite-dan-torso.has-long-hair {
    background: none;

    .sprite-dan-head {
        position: absolute;
        left: em-calc(48);
        bottom: em-calc(143);
        width: em-calc(506)/2.8; // this is important - uses original width/2
        height: em-calc(518)/2.8;
        background: url(/assets/img/content/works/dan-and-mitch/sprite-dan-head-long-hair-foreground@2x.svg) no-repeat center center;
        background-size: 100%;

        .sprite-dan-head-eyes {
            top: em-calc(89);
            left: calc(50% - #{em-calc(31)});
        }
    }

    .sprite-dan-head-mullet {
        position: absolute;
        left: em-calc(48);
        bottom: em-calc(143);
        width: em-calc(506)/2.8; // this is important - uses original width/2
        height: em-calc(518)/2.8;
        background: url(/assets/img/content/works/dan-and-mitch/sprite-dan-head-long-hair-background@2x.svg) no-repeat center center;
        background-size: 100%;
        z-index: -2;
    }

    .sprite-dan-torso-hack {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(/assets/img/content/works/dan-and-mitch/sprite-dan-torso@2x.svg) no-repeat center center;
        background-size: 100%;
        z-index: -1;
    }
}

//-----------------------------------------------------------------
// MITCH
//-----------------------------------------------------------------

.sprite-mitch-torso {
    position: absolute;
    right: 0;
    bottom: em-calc(-13);
    width: em-calc(264);
    height: em-calc(140);
    background: url(/assets/img/content/works/dan-and-mitch/sprite-mitch-torso@2x.svg) no-repeat center center;
    background-size: 100%;

    .sprite-mitch-head {
        position: absolute;
        left: em-calc(55);
        top: em-calc(-147);
        width: em-calc(144);
        height: em-calc(190);
        background: url(/assets/img/content/works/dan-and-mitch/sprite-mitch-head@2x.svg) no-repeat center center;
        background-size: 100%;

        .sprite-mitch-head-eyes {
            position: absolute;
            top: em-calc(105);
            left: calc(50% - #{em-calc(30)});
            width: em-calc(58);
            height: em-calc(22);
            background: url(/assets/img/content/works/dan-and-mitch/sprite-mitch-head-eyes@2x.gif) no-repeat center;
            background-size: 100%;
        }
    }
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================