/*
    SECTIONS__CEREAL-BOX.CSS

    - updated: 28.12.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// CEREAL BOX
//-----------------------------------------------------------------

.section-cereal-box {
    // background-image: url(/assets/img/content/homepage/cereal-fucker.png) no-repeat;
    background-image: url(/assets/img/content/homepage/cereal-fucker@2x.jpg);
    // background-size: cover;
    min-height: rem-calc(700);

    h2 {
        color: white;
    }
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================