/*
    SECTIONS__BIO.CSS

    - updated: 28.12.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// BIO #1
//-----------------------------------------------------------------

.section-bio-1 {
    height: 700px;
    background-image: url(/assets/img/content/home/bio-1@2x.jpg) !important;

    h2 {
        position: relative;
        top: 70px;
        color: #222;
    }
}

//-----------------------------------------------------------------
// BIO #2
//-----------------------------------------------------------------

.section-bio-2 {
    background-image: url(/assets/img/content/home/mitch-perturbed-2-@2x.jpg) !important;

    h2 {
        color: #222;
    }
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================