/*
    SECTIONS__ORIGAMI-SERIES.CSS

    - updated: 09.11.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// ORIGAMI EMAIL SERIES
//-----------------------------------------------------------------

.section-origami-series {

	h1, h2, h3, h4, h5, h6,
	p {
		@include media-breakpoint-up(md) {
		    color: white !important; // refactor? // $gray-light
		}
	}

	.container {
		@include media-breakpoint-up(xl) {
		    position: relative;
		}

		.col-md-5 {
			@include media-breakpoint-down(sm) {
				position: relative;
			    width: 75%; // [LOCKED]
			}
		}
	}

	//=========================================
	// BACKGROUND FILL
	//=========================================

	.bg-fill {
		position: absolute;
		right: 50%; // [LOCKED]
		width: 200%; // [LOCKED]
		height: calc(100% - #{rem-calc(60)}); // [LOCKED]
		background: $gray-dark;
		z-index: -1; // [LOCKED]

		@include media-breakpoint-up(md) {
			top: 0; // [LOCKED]
			right: 30%; // [LOCKED]
		    height: calc(100% - #{rem-calc(130)}); // [LOCKED]
		}

		@include media-breakpoint-up(xl) {
		    left: 0;
		    width: 70%;
		    height: 85%;
		}
	}

	//=========================================
	// ICARUS
	//=========================================

	.origami-tile-top {
		position: relative; // [LOCKED]
		top: rem-calc(-30); // [LOCKED]
		left: -10%;
		z-index: 1; // [LOCKED]
		// opacity: 0.2;

		@include media-breakpoint-up(md) {
		    top: rem-calc(-90);
		    left: rem-calc(-20);
		}
	}

	//=========================================
	// SQUIRRELS
	//=========================================

	.origami-tile-bottom {
		position: relative;
		left: -50%;
		margin-top: -60%;
		margin-bottom: $spacer * 1.5;

		@include media-breakpoint-up(md) {
			left: -35%;
			margin-top: rem-calc(-260);
		}
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================