/*
    SECTIONS__MAD-MAGAZINES.CSS

    - updated: 28.12.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// MAD MAGAZINES
//-----------------------------------------------------------------

.section-mad-magazines {
    height: rem-calc(1200);
    background-image: url(/assets/img/content/home/mad@60.jpg) !important;

    h2 {
        color: white;
    }
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================