/*
    SECTIONS__MAD-MAGAZINES.CSS

    - updated: 28.12.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// MAD MAGAZINES
//-----------------------------------------------------------------

.section-mad-magazines {
    min-height: rem-calc(1200);
    background: url(/assets/img/content/homepage/mad@60.jpg) no-repeat bottom;
    background-size: cover;

    h2 {
        color: white;
    }
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================