/*
    SECTIONS__EDITORIAL.CSS

    - updated: 28.12.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// EDITORIAL
//-----------------------------------------------------------------

.section-editorial  {
    position: relative;
    // height: 100vh;

    // background: url(/assets/img/layout/paper-tear-top@2x.png) no-repeat left bottom;
    // background-size: contain;
    padding-bottom: 100px;

    .sprite-long-drip {
        position: absolute;
        top: 0;
        right: 40px;
        font-size: 13px; // pixels only
    }

    p {
        font-size: rem-calc(12);
        // text-transform: uppercase;
    }

    //=========================================
    // refactor this - it won't trigger in sections
    //=========================================

    .contents {
        font-size: rem-calc(260);
        // line-height: 0.9;
        line-height: 0.75;
    }

    //=========================================
    // NUMBER
    //=========================================

    .num {
        display: inline-block;
        color: grey;
        // margin-right: 10px;
        border: 1px solid $gray-dark;
        // border-top-width: 4px;
        // width: 35px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        border-radius: 100%;
        font-size: rem-calc(15);
        font-family: 'Oswald';
    }
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================